.modalContainer {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30 !important;
  inset: 0;
  background-color: #051d43b3;
}

.emptyContainer {
  height: 150px;
  background: #DDD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #434A51;
}

.modal {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 0 6px #00000029;
  display: flex;
  flex-direction: column;
  align-items: center;

  //padding: 16px;
  //gap: 16px;
  position: relative;
  overflow-y: auto;

  @media (width <= 480px) {
    width: 100%;
  }
}

.modalHeader {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: left;
  letter-spacing: 0.32px;
  color: #052A63;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  background-color: #fff;
  padding: 24px;
  display: flex;

  h2 {
  color: #052A63;
  }
}

.modalBody {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  width: 100%;
  padding: 16px;
  padding-bottom: 0;
}

.closeBtn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;
  stroke: #0052ce;
  margin: 10px;
}

.closeBtn :hover {
  stroke: #2175f4;
}

.submit {
  width: 55%;
  height: 40px;
  background-color: #0052ce;
  padding: 10px 27px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  position: relative;
}

.submit:hover {
  background-color: #2175f4;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 0 19px;
}

.cancel {
  width: 30%;
  height: 40px;
  background-color: transparent;
  padding: 10px 27px;
  border: #0052ce 1px solid;
  color: #0052ce;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel:hover {
  border-color: #2175f4;
  color: #0052ce;
}

.disabled {
  background-color: rgb(173 173 194);
}
