.no-search-data {
  position: relative;
  background-color: #f8fafc;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 240px;

  & > span {
    font-size: 14px;
  }
}

.modal__exit.icon-btn {
  top: 15px;
  right: 15px;
}

.dialog--title,
.dialog--body,
.dialog--actions {
  margin: 0 80px;

  @media (width <= 768px) {
    margin: 0;
  }
}

.prescription--modal .modal__card {
  padding: 0;

  @media (width <= 480px) {
    padding: 18px;
  }
}

.dialog--title {
  margin-top: 50px;
}

.dialog--actions {
  display: flex;
  justify-content: right;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;

  @media (width <= 480px) {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .prescription-add {
    & button {
      background: #0052ce;
      border-radius: 4px;
      color: #f8fafc;

      @media (width <= 480px) {
        width: 180px;
      }

      @media (width <= 320px) {
        width: auto;
      }
    }

    & :disabled {
      cursor: not-allowed;
      background: #e6ecf2;
      color: #64748b;
    }
  }

  .prescription-cancel {
    & button {
      margin-right: 10px;
      background: #f1f5f9;
      border: 1px solid #cbd5e1;
      box-sizing: border-box;
      border-radius: 4px;
      color: #0052ce;

      @media (width <= 480px) {
        width: 159px;
      }

      @media (width <= 320px) {
        width: auto;
      }
    }
  }
}

.dialog--body {
  min-height: 480px;

  @media (width <= 768px) {
    min-height: 176px;
  }
}

.add--prescription--modal {
  font-family: Lato;
  font-weight: 600;
  font-size: 32px;
  color: #002d72;
}

.form-element {
  margin-bottom: 24px;

  div[class$="control"] {
    height: 40px;
    border-radius: 2px;
  }

  input[disabled] {
    background: #f1f5f9 !important;
  }
}

.quantity-frequency-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > *:first-child {
    width: calc(30% - 24px);
  }

  & > *:last-child {
    width: 70%;
  }
}

.label--prescription,
.label--frequency,
.label--dosage,
.prescription--quantity label {
  font-family: Lato;
  font-size: 14px;
  color: #475569;

  @media screen and (width <= 768px) {
    font-size: 16px;
    font-weight: 600;
    color: #051d43;
  }
}

/* Start add pharmacy */
.pharmacy-container {
  display: flex;

  .pharmacy--zip--code {
    max-width: 81px;
  }

  .pharmacy--name {
    max-width: 119px;
  }

  .pharmacy--address {
    max-width: 196px;
  }
}

/* End add pharmacy */

/* Start prescription */
.display--drug--name {
  height: 85px;
  background: #f2f9ff;
  border: 1px solid #0052ce;
  box-sizing: border-box;
  border-radius: 4px;

  .icon-align {
    display: flex;
    justify-content: flex-end;
    padding: 13px 13px 0 0;
    width: auto;

    svg {
      cursor: pointer;
    }
  }

  .drug--name {
    font-size: 18px;
    color: #0052ce;
  }

  .drug--type {
    font-size: 16px;
    padding-bottom: 15px;
  }

  @media screen and (width <= 768px) {
    height: auto;
  }
}

.prescription__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .prescription--dosage {
    flex: 1;
    margin-right: 15px;

    .select-container {
      width: 100% !important;
    }

    @media (width <= 480px) {
      width: 100%;
      margin-right: 0;
    }

    @media (width >= 480px) {
      max-width: 325px;
    }
  }

  .quantity-frequency-wrapper {
    display: flex;

    @media (width <= 480px) {
      width: 100%;
    }

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .prescription--quantity {
      width: 56px;
      margin-right: 15px;

      .form-input__header {
        margin-bottom: 4px;
      }
    }

    .prescription--frequency {
      flex: 1;
      min-width: 155px;

      .select {
        margin-left: 0;
      }

      .select-container {
        width: 100% !important;
      }

      @media (width >= 480px) {
        max-width: 155px;
      }
    }
  }
}

.prescription--packaging .select {
  margin-left: 0;

  .select-container {
    width: 100% !important;
  }
}

.drugname-search-input {
  height: 44px;
  width: 100%;
  background: #fff;
  border: 1px solid #cbd5e1;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  line-height: 21px;
  color: #64748b;
}

.search-options {
  max-height: 350px;
  overflow: auto;
  cursor: pointer;

  .option__typeahead {
    font-size: 16px;

    .header__typeahead {
      font-size: 18px;
    }

    &:hover {
      background: #f1f5f9;
      border: 1px solid #0052ce;
      box-sizing: border-box;
      border-radius: 4px;

      .header__typeahead {
        color: #0052ce;
      }
    }
  }

  @media screen and (width <= 768px) {
    max-height: 300px;
  }
}

.search-result-count {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #475569;
}

.prescription--modal .card {
  border: none;
  border-radius: unset;
}

.provider-close {
  top: -33px !important;
  right: -71px !important;

  @media (width <= 480px) {
    top: 35px !important;
    right: -15px !important;
  }
}

.dialog--actions-pr {
  flex-flow: row nowrap !important;

  @media (width <= 480px) {
    flex-direction: column !important;
  }
}

/* End prescription */
