.no-search-data {
  position: relative;
  background-color: #F8FAFC;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 240px;
  & > span {
  font-size: 14px;
  }
}

.modal__exit.icon-btn {
  top: 15px;
  right: 15px;
}

.dialog--title,
.dialog--body,
.dialog--actions {
  margin: 0px 80px 0px 80px;
  @media (max-width: 480px) {
    margin: 0px;
  }
}
.prescription--modal .modal__card{
  padding: 0px;
  @media (max-width: 480px) {
    padding: 18px;
  }
}
.dialog--title {
  margin-top: 50px;
}

.dialog--actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dialog--body {
  min-height: 480px;
}

.dialog--actions {
  display: flex;
  justify-content: flex-end;
}

.add--prescription--modal {
  font-family: Lato;
  font-weight: 600;
  font-size: 32px;
  color: #002d72;
}

.form-element {
  margin-bottom: 24px;
  div[class$="control"] {
    height: 40px;
    border-radius: 2px;
  }
  input[disabled] {
    background: #f1f5f9 !important;
  }
}

.quantity-frequency-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > *:first-child {
    width: calc(30% - 24px);
  }
  & > *:last-child {
    width: 70%;
  }
}

.label--prescription,
.label--frequency,
.label--dosage,
.prescription--quantity label {
  font-family: Lato;
  font-size: 14px;
  color: #475569;
}

/* Start add pharmacy */
.pharmacy-container {
  display: flex;
  .pharmacy--zip--code {
    max-width: 81px;
  }
  .pharmacy--name {
    max-width: 119px;
  }
  .pharmacy--address {
    max-width: 196px;
  }
}

/* End add pharmacy */

/* Start prescription */
.display--drug--name {
  height: 85px;
  background: #f2f9ff;
  border: 1px solid #0052ce;
  box-sizing: border-box;
  border-radius: 4px;
  .icon-align{
    display: flex;
    justify-content: flex-end;
    padding: 13px 13px 0 0;
    width: auto;
    svg{
      cursor: pointer;
    }
  } 
  .drug--name {
    font-size: 18px;
    color: #0052ce;
  }
  .drug--type {
    font-size: 16px;
    padding-bottom: 15px;
  }
}
.prescription__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .prescription--dosage {
    flex: 1;
    margin-right: 15px;
    @media (max-width: 480px) {
      width: 100%;
      margin-right: 0px;
    }
    @media (min-width: 480px) {
      max-width: 325px;
    }
  }
  .quantity-frequency-wrapper {
    display: flex;
    @media (max-width: 480px) {
      width: 100%;
    }
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .prescription--quantity {
      width: 56px;
      margin-right: 15px;
      .form-input__header {
        margin-bottom: 4px;
      }
    }
    .prescription--frequency {
      flex: 1;
      min-width: 145px;
      .select {
        margin-left: 0px;
      }
      @media (min-width: 480px) {
        max-width: 145px;
      }
    }
  }
}
.prescription--packaging .select {
  margin-left: 0px;
}
.drugname-search-input {
  height: 44px;
  width: 100%;
  background: #FFFFFF;  
  border: 1px solid #CBD5E1; 
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  line-height: 21px;
  color: #64748B;

}

.search-options {
  max-height: 350px;
  overflow: auto;
  cursor: pointer;
  .option__typeahead {
    font-size: 16px;
    .header__typeahead {
      font-size: 18px;
    }
    &:hover {
      background: #F1F5F9;
      border: 1px solid #0052ce;
      box-sizing: border-box;
      border-radius: 4px;
      .header__typeahead {
        color: #0052ce;
      }
    }
  }
}

.search-result-count {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #475569;
}

.provider-close {
  top: -33px !important;
  right: -71px !important;
  @media (max-width: 480px) {
    top: -15px !important;
    right: -15px !important;
  }
}
/* End prescription */
