/* provider footer css */
.dialog--actions-pr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (width <= 480px) {
    margin-top: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .cancel-btn {
    margin-right: 10px;
  }

  .pagination-container .pagination__pages {
    @media (width <= 480px) {
      padding: 0;
    }
  }

  .provider-pagination {
    background: var(--v2-white);

    /* Neutral/Gray 200 */

    border: 1px solid #e6ecf2;
    border-radius: 5px;
    height: 38px;
    display: flex;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e6ecf2;
      height: 100%;
      width: 42px;
      text-align: center;
    }

    div:last-child {
      border-right: none;
    }
  }

  .buttons-wrapper {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    justify-content: space-between;

    @media (width <= 480px) {
      margin: 25px 0;
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .pr-cancl {
      & button {
        margin-right: 10px;
        background: transparent;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        color: #4178FF;
        font-family: Lato;

        &:hover {
          background: #fff;
        }

        @media (width <= 480px) {
          width: fit-content;
        }

        @media (width <= 320px) {
          width: auto;
        }
      }
    }

    .pr-add {
      & button {
        border-radius: 50px;
        background: #4178FF;
        color: #f8fafc;
        font-family: Lato;

        @media (width <= 480px) {
          width: fit-content;
        }

        @media (width <= 320px) {
          width: auto;
        }
      }

      & :disabled {
        cursor: not-allowed;
        background: #e6ecf2;
        color: #64748b;
      }
    }
  }
}

/* provider footer css end */

/* provider Modal container css */

.add-pr-title {
  margin: 0;

  @media (width <= 480px) {
    .mble-title {
      font-size: 32px;
    }
  }
}

.pharmacy-modal-container {
  margin: 0;
  padding-bottom: 50px;

  .pr-header-title {
    color: #052A63;
    font-size: 20px;
    margin-bottom: 5px;
  }

  @media (width <= 480px) {
    padding-bottom: 0;
  }

  .spinner-container > .spinner {
    margin: 50px auto;

    @media screen and (width <= 768px) {
      margin: 0 auto;
    }
  }

  .large-view {
    @media (width <= 480px) {
      display: none;
    }
  }

  .small-view {
    display: none;

    @media (width <= 480px) {
      display: initial;

      .pr-search-section {
        width: 100%;

        &:nth-child(3) {
          margin-top: 24px;
        }

        .search-input-container {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 10px;
          height: 42px;
          margin-top: 5px;
          border: 1px solid #cbd5e1;
          border-radius: 4px;

          &.outlineDiv {
              outline: 2px solid #0052CE;
          }

          input {
            border: none;
            height: 36px;
            outline: none;
          }
        }

        .search-icon {
          margin-right: 10px;
          margin-top: 7px;
        }

        .pr-search-input {
          width: 100%;
        }
      }
    }
  }

  .pr-header-container {
    display: flex;
    flex-direction: column;

    .pr-input {
      display: flex;
    }

    @media (width <= 480px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .zip-section {
      width: 14%;

      @media (width <= 480px) {
        width: 50%;
      }

      .zip-input {
        width: 81px;
        padding: 10px;

        &:focus, &:active {
          outline: 2px solid #0052CE;
        }

        @media (width <= 480px) {
          width: 100%;
        }
      }
    }

    .pr-search-section {
      width: 100%;

      .search-input-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        height: 42px;
        border: 1px solid #cbd5e1;
        border-radius: 4px;

        &.outlineDiv {
            outline: 2px solid #0052CE;
        }

        input {
          border: none;
          height: 36px;
          outline: none;
        }
      }

      .search-icon {
        margin-right: 10px;
        margin-top: 7px;
      }

      .pr-search-input {
        width: 100%;
      }
    }

    .pr-address-section {
      width: 100%;
      margin-left: 15px;

      .pr-search-input {
        width: 100%;
        padding: 10px;
        height: 36px;

        &:focus, &:active {
          outline: 2px solid #0052CE;
        }
      }
    }

    .miles-section {
      margin-left: 20px;
      width: 20%;

      @media (width <= 480px) {
        width: 50%;
      }

      .select-container {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        color: #2b323b;
      }
    }
  }

  .error {
    background: #fff2f2 !important;
    border: 1px solid #cf3c28 !important;
    color: #2b323b !important;
    margin-bottom: 5px;
  }

  .pr-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #052A63;

    @media (width <= 480px) {
      font-size: 16px;
      line-height: 130%;
      color: #052A63;

      & input {
        margin-top: 4px;
      }
    }

    & input,
    select {
      height: 42px;
      left: 10px;
      background: #fff;
      border: 1px solid #cbd5e1;
      border-radius: 4px;
    }

    & input:disabled {
      background: #f1f5f9;
    }
  }

  .validation-msg {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #cf3c28;
  }

  .pr-search-result {
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #475569;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .result-container {
    @media screen and (width <= 768px) {
      overflow-y: auto;
    }
  }

  .provider-result-container {
    background: #ddd;
    border-radius: 8px;

    @media screen and (width <= 768px) {
      max-height: 105px;
      overflow-y: auto;
    }

    .provider-result-content {
      line-height: 130%;
      padding: 16px 0;
      border-bottom: 1px solid #cbd5e1;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .pr-h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #052A63;
        line-height: 28px;
      }

      .pr-h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #434A51;
      }

      .provider-content-section {
        padding: 6px 0 0 12px;
      }

      &.selected {
        background-color: #f1f5f9;
        border: 1px solid #0052ce;
        border-radius: 4px;
      }

      &.selected > .provider-content-section > .pr-h1 {
        color: #052A63;
      }
    }

    .provider-content-section {
      padding: 10px 0;
    }

    .provider-content-section > .pr-h1 {
        color: #052A63;
    }

    .pr-search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: "100%";
      height: 217px;
      background: #f8fafc;
      border-radius: 4px;

      @media (width <= 768px) {
        text-align: center;
        max-height: 60px;
        width: auto;
      }
    }

    .deselect-pr {
      color: var(--muted-text-color);
    }
  }
}

/* provider Modal container css end */

.modal__footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: -80px;
  background-color: #f1f1f1;
  width: 112.2%;
  display: flex;
  align-items: center;
  padding: 16px 20px;

  @media (width <= 768px) {
    width: 100%;
  }

  @media (width <= 480px) {
    width: auto;
    padding: 16px 20px;
  }
}

/* End of Add Provider */
