/* provider footer css */
.dialog--actions-pr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (width <= 480px) {
    margin-top: 15px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .cancel-btn {
    margin-right: 10px;
  }

  .pagination-container .pagination__pages {
    @media (width <= 480px) {
      padding: 0;
    }
  }

  .provider-pagination {
    background: var(--v2-white);

    /* Neutral/Gray 200 */

    border: 1px solid #e6ecf2;
    border-radius: 5px;
    height: 38px;
    display: flex;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e6ecf2;
      height: 100%;
      width: 42px;
      text-align: center;
    }

    div:last-child {
      border-right: none;
    }
  }

  .buttons-wrapper {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    @media (width <= 480px) {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .pr-cancl {
      & button {
        margin-right: 10px;
        background: #f1f5f9;
        border: 1px solid #cbd5e1;
        box-sizing: border-box;
        border-radius: 4px;
        color: #0052ce;
        font-family: Lato;

        @media (width <= 480px) {
          width: 159px;
        }

        @media (width <= 320px) {
          width: auto;
        }
      }
    }

    .pr-add {
      & button {
        background: #0052ce;
        border-radius: 4px;
        color: #f8fafc;
        font-family: Lato;

        @media (width <= 480px) {
          width: 159px;
        }

        @media (width <= 320px) {
          width: auto;
        }
      }

      & :disabled {
        cursor: not-allowed;
        background: #e6ecf2;
        color: #64748b;
      }
    }
  }
}

/* provider footer css end */

/* provider Modal container css */

.provider-modal-container {
  margin: 0;
  padding-bottom: 50px;

  @media (width <= 480px) {
    padding-bottom: 0;
  }

  .spinner-container > .spinner {
    margin: 50px auto;
  }

  .large-view {
    @media (width <= 480px) {
      display: none;
    }
  }

  .small-view {
    display: none;

    @media (width <= 480px) {
      display: initial;

      .pr-search-section {
        margin-top: 24px;

        .pr-search-input {
          width: 100%;
          padding: 10px;
          color: #2b323b;
          font-size: 16px;
        }
      }
    }
  }

  .pr-header-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (width <= 480px) {
      justify-content: space-between;
    }

    .zip-section {
      width: 40%;

      @media (width <= 480px) {
        width: 50%;
      }

      .zip-input {
        width: 100%;
        padding: 10px;

        @media (width <= 480px) {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 130%;
          color: #2b323b;
        }
      }

      .zip-error {
        background: #fff2f2 !important;
        border: 1px solid #cf3c28 !important;
        color: #2b323b !important;
        margin-bottom: 5px;
      }
    }

    .miles-section {
      width: 40%;

      @media (width <= 480px) {
        width: auto;
      }

      .select-container {
        width: 100% !important;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        color: #2b323b;

        @media (width <= 480px) {
          font-size: 16px;
        }
      }
    }
  }

  .pr-search-section {
    .pr-search-input {
      width: 100%;
      padding: 10px;
    }
  }

  .pr-title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #515e6f;

    @media (width <= 480px) {
      font-size: 16px;
      line-height: 130%;
      color: #64748b;

      & input {
        margin-top: 4px;
      }
    }

    & input,
    select {
      height: 42px;
      left: 10px;
      background: #fff;
      border: 1px solid #cbd5e1;
      border-radius: 4px;
    }

    & input:disabled {
      background: #f1f5f9;
    }
  }

  .validation-msg {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #cf3c28;
  }

  .pr-search-result {
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #434a51;
    padding: 20px 0;

    b {
      color: #000;
      font-style: bold;
    }
  }

  .provider-result-container {
    .provider-result-content {
      line-height: 130%;
      padding: 16px 0;
      border-bottom: 1px solid #cbd5e1;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .pr-h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #313336;
        line-height: 28px;
      }

      .pr-h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #64748b;
      }

      .provider-content-section {
        padding: 6px 0 0 12px;
      }

      &.selected {
        background-color: #f1f5f9;
        border: 1px solid #0052ce;
        border-radius: 4px;
      }

      &.selected > .provider-content-section > .pr-h1 {
        color: #0052ce;
      }
    }

    .provider-result-content:hover {
      background-color: #f1f5f9;

      .provider-content-section > .pr-h1 {
        color: #0052ce;
      }
    }

    .pr-search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: "100%";
      height: 217px;
      background: #f8fafc;
      border-radius: 4px;
      font-size: 14px;

      @media (width <= 480px) {
        text-align: center;
        height: 177px;
        width: auto;
      }
    }

    .deselect-pr {
      color: var(--muted-text-color);
    }
  }
}

/* provider Modal container css end */

.modal__footer {
  border-top: 1px solid #e6ecf2;
  top: -80px;
  background-color: white;
  width: 112.2%;
  display: flex;
  align-items: center;
  padding: 16px 3.438rem;

  @media (width <= 768px) {
    width: 100%;
  }

  @media (width <= 480px) {
    width: auto;
    padding: 16px 20px;
  }
}

/* End of Add Provider */
