@use "scss/globalDefines" as defines_global;

.container {
    padding: 15px 0;
}

.addNewButton {
    padding: 8px 10px !important;
    border-radius: 20px !important;

    span {
        font-size: 16px !important;
        color: #4178ff !important;
        font-weight: 500;
    }

    &:hover {
        background-color: #fff !important;
        box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
    }

    @include defines_global.small {
        background-color: #fff !important;
        box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
    }
}
