@import "../../../../../../scss/globalDefines";

.addNewButton{
  padding: 8px 14px !important;
  border-radius: 20px !important;

  span {
     font-size: 16px !important;
     color: #4178FF !important;
     font-weight: 500;
 }

 &:hover {
     background-color: #FFF !important;
     box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
 }

 @include small {
     background-color: #FFF !important;
     box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
 }
}