@import "../../../../scss/globalDefines.scss";

.textsContainer {
    width: min(100%, 840px);
    margin-inline: auto;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem 3rem;
}

.messagesContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
}

.newMessageBox {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
}

.newMessageTextarea {
    width: 100%;
    height: 60px !important;
    border-radius: 6px;
    border: solid 1px #0000003b;
    resize: none;
    padding: 10px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.messagesLengthTitle {
    position: relative;
    right: 60px;
}

.sendNewTextButton {
    button {
        font-weight: normal;
        box-shadow: none;
        padding-right: 18px;
    }
}

.newMessageFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.fieldLabel {
    color: #052a63;
    font-size: 16px;
    font-weight: 700;
    font-family: Lato;
    letter-spacing: 0.16px;
    margin-bottom: 5px;
}

.charactersRemainingBox {
    color: #717171;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: 0.4px;
}
