@import "../../../../scss/globalDefines.scss";

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.sendNewTextButton {
    button[type="button"] {
        border-radius: 25px;
        border: none;
        background: #4178ff;
        padding: 5px 15px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        margin-bottom: 15px;

        svg {
            margin-left: 10px;
        }

        @include small() {
            width: 170px;
        }
    }
}

.messagesContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
}
