.tabs {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: min(100%, 840px);
    margin-inline: auto;
}

.tabTextContainer {
    display: flex;
    min-height: 40px;
    padding: var(--padding-gap-sm-8, 8px) var(--padding-gap-md-16, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--padding-gap-x-sm-4, 4px);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    &.inactiveTab {
        color: var(--text-secondary, #717171);
        filter: grayscale(1);
    }

    .tabIconContainer {
        display: flex;
        width: var(--sizing-432-px, 32px);
        height: var(--sizing-432-px, 32px);
        min-width: var(--sizing-432-px, 32px);
        max-width: var(--sizing-432-px, 32px);
        min-height: var(--sizing-432-px, 32px);
        max-height: var(--sizing-432-px, 32px);
        padding: 4px;
        justify-content: center;
        align-items: center;

        .tabIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }

        .tabCountBade {
            display: flex;
            padding: var(--none-0, 0) 6.5px;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -6px;
            top: -6px;
        }
    }
}