@import "scss/globalDefines.scss";

.title {
    padding-bottom: 0px;
    color: #052a63;
    font-size: 24px;
}

.box {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 0.5rem;

    @include small {
        padding: 24px;
    }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.saveButton {
  border-radius: 25px !important;
  padding: 5px 12px !important;
  background-color: #4178ff !important;

  span {
    font-size: 14px !important;
    color: #ffffff !important;
    font-weight: 500;
  }

  &:hover {
    background-color: #1357FF !important;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


.cancelButton {
  border-radius: 25px !important;
  padding: 5px 20px !important;

  span {
    font-size: 14px !important;
    color: #4178ff !important;
    font-weight: 500;
  }

  &:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    color: #1357FF !important
  }
}


.icon {
  cursor: pointer;
  padding-top: 6px;
  height: 50px;

  svg {
    transition: 300ms ease-out;
  }
}

.iconRotate {
  svg {
      transform: rotate(-180deg);
  }
}

.iconWithTitle {
  display: flex;
  align-items: center;
}

.underLine{
  box-shadow: rgb(199, 204, 209) 0px -1px 0px inset;
}