@import "../../../../scss/globalDefines";

.headerText{
     color: #052A63;
    font-size: 20px;
}

.leadTagsList{
    background-color: #FFF;
    border-radius: 8px;
    padding: 24px;
}


.addNewButton{
    padding: 8px 14px !important;
    border-radius: 20px !important;

    span {
       font-size: 16px !important;
       color: #4178FF !important;
       font-weight: 500;
   }

   &:hover {
       background-color: #FFF !important;
       box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
   }

   @include small {
       background-color: #FFF !important;
       box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
   }
}

 

.labelContainer {
    display: flex;
    align-items: center;
    gap: 5px;

    .chevronIcon {
        cursor: pointer;
    }

    .rotateIcon {
        transform: rotate(-90deg);
    }
}

.selectableItemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 6px 12.5px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #D9E4FF;
  }

    @include small {
        padding: 4px;
        gap: 2px;

        svg {
            width: 16px;
            min-width: 16px;
        }
    }

}

.tabLabel{
    display: flex;
 
    .tagIcon{
        margin-right: 10px;
    }
}

.selectedItem{
    background-color: #F1FAFF;
    border-radius: 4px;
}

.actionIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

 