@import "../../../scss/globalDefines";

.shareplan-modal {
  &.modal .modal__card.card {
    padding-top: 10px;
    padding-bottom: 10px;

    .modal__exit.icon-btn {
      right: auto;
    }

    @include small {
        padding-top: 30px;
    }
  }


  @include small {
      .container {
        width: 90%;
      }
      .card--page {
        padding: 10%;
        overflow-x: hidden;
      }
  }

  .dialog--title {
    margin-left: 0;
    margin-bottom: 31px;
    margin-top: 39px;
    @include small {
      margin: 0;
    }
  }

  .plan-card {
    margin-bottom: 24px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.05);
  }

  .shareplan-label {
    font-size: 16px;
    line-height: 130%;
    height: 40px;
  }

  .document-wrapper {
    max-height: 250px;
    overflow: auto;
  }

  .radio-label {
    margin-bottom: 16px;
  }

  label {
    font-weight: normal;
    color: #2b323b;
  }

  .new-email-or-mobile {
    display: flex;
    align-items: flex-start;
    & > div:first-child {
      margin-right: 16px;
    }

    @include small {
      flex-direction: column;
    }
    .email-mobile-section {
      width: 40%;
      @include small {
        margin-top: 10px;
        width: 100%;
      }
      .text-input {
        width: 100%;
        padding: 10px;
      }

      .email-mobile-error {
        background: #fff2f2;
        border: 1px solid #cf3c28;
        color: #2b323b;
        margin-bottom: 5px;
      }
    }
  }

  .email-mobile-section {
    width: 40%;
    @include small {
      margin-top: 10px;
      width: 100%;
    }
    .text-input {
      width: 100%;
      padding: 10px;
    }

    .email-mobile-error {
      background: #fff2f2;
      border: 1px solid #cf3c28;
      color: #2b323b;
      margin-bottom: 5px;
    }
  }

  .error-class {
    background: #fff2f2;
    border: 1px solid #cf3c28;
    color: #2b323b;
    margin-bottom: 5px;
  }

  .validation-msg {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #cf3c28;
  }

  .footer {
    border-top: 1px solid #cbd5e1;
    margin-top: 40px;
    display: flex;
    flex-flow: row-reverse;
    margin-left: -5rem;
    margin-right: -5rem;
    padding-top: 10px;
    padding-right: 35px;

    .button {
      margin-right: 16px;
    }

     @include small {
      gap: 10px;
      margin-left: 0;
      margin-right: 0;
      padding-right: 0;
      .button {
        margin-right: 0;
      }
      .cancel-button {
        width: 30%;
      }
    }
  }
}
