.policySnapshotContainer {
  display: flex;
  flex-direction: column;
  .countCardsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .counterCard {
      display: flex;
      flex-direction: column;
      width: 22%;

      .countName {
        font-size: 20px;
        color: #002d72;
      }
      .countInfo {
        display: flex;
        align-items: center;
        height: 88px;
        margin-top: 10px;
        background-color: white;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
        .countColour {
          width: 10%;
          height: 100%;
          border-radius: 8px 0px 0px 8px;
        }
        .Started {
          background-color: #deebfb;
        }
        .Applied {
          background-color: #fcf6b0;
        }
        .Issued {
          background-color: #defbe6;
        }
        .Declined {
          background-color: #fbdede;
        }
        .count {
          width: 90%;
          text-align: center;
          color: #002d72;
          font-size: 48px;
        }
      }
    }
  }
  .policyList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    .policyCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      box-shadow: inset 0px -1px 0px #dfdedd;
      .policyInfo {
        .policyName {
          color: #002d72;
          font-size: 20px;
        }
        .policyId {
          color: #002d72;
          font-size: 20px;
        }
        .policyCarrier {
          color: #002d72;
          font-size: 20px;
        }
      }
      .policyHolder {
        .title {
          color: #434a51;
          font-size: 16px;
        }
        .name {
          color: #0052ce;
          font-size: 16px;
          font-weight: bold;
        }
      }
      .policyStatus {
        color: #434a51;
        font-size: 16px;
      }
    }
  }
}

.enrollmentPlanContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.listFooter {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 0px 0px 8px 8px;
  color: #0052ce;
  font-size: 16px;
  font-weight: bold;
}
