.policySnapshotContainer {
  display: flex;
  flex-direction: column;
  .countCardsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .counterCard {
      display: flex;
      flex-direction: column;
      width: 22%;

      .countName {
        font-size: 20px;
        color: #002d72;
      }
      .countInfo {
        display: flex;
        align-items: center;
        height: 88px;
        margin-top: 10px;
        background-color: white;
        border-radius: 0px 8px 8px 0px;
        cursor: pointer;
        .countColour {
          width: 10%;
          height: 100%;
          border-radius: 8px 0px 0px 8px;
        }
        .Started {
          background-color: #deebfb;
        }
        .Applied {
          background-color: #fcf6b0;
        }
        .Issued {
          background-color: #defbe6;
        }
        .Declined {
          background-color: #fbdede;
        }
        .count {
          width: 90%;
          text-align: center;
          color: #002d72;
          font-size: 48px;
        }
      }
    }
  }
  .policyList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    .policyCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      box-shadow: inset 0px -1px 0px #dfdedd;
      .policyInfo {
        .policyName {
          color: #002d72;
          font-size: 20px;
        }
        .policyId {
          color: #002d72;
          font-size: 16px;
          .text {
            color: #434a51;
          }
        }
      }
      .policyHolder {
        .title {
          color: #434a51;
          font-size: 16px;
        }
        .name {
          color: #0052ce;
          font-size: 16px;
          font-weight: bold;
        }
      }
      .policyStatus {
        color: #434a51;
        font-size: 16px;
      }
      .viewButton {
        display: flex;
        align-items: center;
        width: 13%;
        justify-content: flex-start;
        padding: 0px 5px;
        border-radius: 20px;
        background-color: #deebfb;
        .personIcon {
          margin-top: 2px;
        }
        .text {
          color: #434a51;
          font-size: 16px;
        }
      }
    }
  }
}

.enrollmentPlanContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.listFooter {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 0px 0px 8px 8px;
  color: #0052ce;
  font-size: 16px;
  font-weight: bold;
}

.sortSelector {
  width: 100%;
  .sortButton {
    background-color: #ffffff;
    align-items: center;
    display: flex;
    border: 1px solid #717171;
    justify-content: space-between;
    border-radius: 4px;
    font-size: 16px;
    color: #717171;
    .icon {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #f1faff;
        border-radius: 40px;
      }
    }
    .iconReverse {
      transform: rotate(180deg);
    }
  }
  .options {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #00000029;
    border-radius: 4px;
    padding: 10px;
    background-color: #ffffff;
    position: absolute;
    z-index: 999999;
    .option {
      display: flex;
      align-items: center;
      justify-content: 30%;
      justify-content: space-between;
      box-shadow: inset 0px -1px 0px #dfdedd;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #434a51;
      cursor: pointer;
      &:last-child {
        box-shadow: unset;
      }
      &:hover {
        background-color: #f1faff;
      }
      .mark {
        margin-left: 40px;
      }
    }
  }
}
