.quoteFilterHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 16px 8px;
    position: relative;

    .backButtonContainer {
        position: absolute;
        left: 20px;
        cursor: pointer;
    }
}
