.soaTitleHeader {
    color: #052A63;
    font-size: 24px;
}

.formWrapper {
    background: #FFF;
    border-radius: 8px;
    margin-bottom: 56px;
    padding: 24px;
    font-size: 16px;
    color: #434a51;
}