.welcomeHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .globalNav--absolute {
    position: absolute;
    top: 0;
    left: 0;

    .global-nav__title {
      margin: 0 auto;

      a {
        margin: 0;
      }

      @media (min-width: 425px) {
        margin: 0 auto 0 0;

        a {
          margin-left: -1rem;
        }
      }
    }
  }

  .container--hero {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcomeHero__content {
    max-width: 640px;
    font-size: 1rem;
    font-weight: 300;

    @media (min-width: 425px) {
      font-size: 1.25rem;
    }

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .welcomeHero__title {
    font-size: 2rem;
    font-weight: 300;

    @media (min-width: 425px) {
      font-size: 2.75rem;
    }

    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  .btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-left: 1rem;
    }
  }

  /*
    Once we remove HIDE_LOGIN feature flag, this can be removed
  */
  .hide-login {
    .btn {
      display: inline-flex;
      flex: auto 1;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      background-color: var(--invert-text-color);
      color: black;
      border-radius: 20px;
      padding: 10px 20px;
      margin-bottom: 2rem;
      border: none;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
      }

      .icon {
        margin-left: 1rem;
        min-width: 32px;
      }

      @media (min-width: 375px) {
        font-size: 18px;
      }

      @media (min-width: 768px) {
        position: absolute;
        top: 0;
        right: 0;
        margin: 2.75rem 2.5rem;
        font-size: 14px;
      }
    }

    h3 {
      font-size: 1rem;
      font-style: italic;

      @media (min-width: 375px) {
        font-size: 1.25rem;
      }

      @media (min-width: 425px) {
        font-size: 1rem;
      }

      @media (min-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }
  /*
    End HIDE_LOGIN feature flag added style
  */
}
