.welcomeHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .globalNav--absolute {
    position: absolute;
    top: 0;
    left: 0;

    .global-nav__title {
      margin: 0 auto;

      a {
        margin: 0;
      }

      @media (min-width: 425px) {
        margin: 0 auto 0 0;

        a {
          margin-left: -1rem;
        }
      }
    }
  }

  .container--hero {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcomeHero__content {
    max-width: 640px;
    font-size: 1rem;
    font-weight: 300;

    @media (min-width: 425px) {
      font-size: 1.25rem;
    }
  }

  .welcomeHero__title {
    font-size: 2rem;
    font-weight: 300;

    @media (min-width: 425px) {
      font-size: 2.75rem;
    }

    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  .btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-left: 1rem;
    }
  }
}
