@import "../../scss/globalDefines";

.headerContainer {
    height: 6rem;
    padding-left: 5rem;
    background: $blue-5;

    @include small {
        padding-left: 0;
    }
}

.logo {
    width: 230px;
    height: 32px;
    margin-left: 40px;

    @include small {
        margin-left: 0;
    }
}

.mobileLogo {
    width: 180px;
    height: 55px;
    margin-left: 40px;

    @include small {
        margin-left: 0;
    }
}

.mobileIntigrityLogo {
    width: 168px;
    height: 24px;
    margin-left: 40px;

    @include small {
        margin-left: 0;
    }
}