@import "../../../scss/globalDefines.scss";

.ContactDetailsContainer {
    display: flex;
    padding: 0 3rem;
    background-color: #f1f1f1;
    overflow-x: auto;
    justify-content: center;
    padding: 60px 0px;

    @include small() {
        padding: 1rem;
        overflow-x: hidden;
    }
}
