.container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;

  .heading {
    color: #052a63;
    margin-top: 0px;
    font-size: 20px;
  }

  .text {
    color: #434a51;
    font-size: 16px;
    margin-top: 15px;
  }

  .list {
    margin-top: 15px;
    li {
      list-style-type: disc;
      color: #434a51;
      font-size: 16px;
      margin-left: 15px;
    }
  }
}

.modalContainer {
  width: 100%;
  margin: auto;
  height: 450px;
}

.helpContainer {
  width: 70%;
}

.modalHeading {
  color: #052a63;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
}
