.customDeletepopup {
  padding: 28px 0 10px;
}

.customDeletepopup h3 {
  font-size: 32px;
  line-height: 68px;
  text-align: center;
  font-weight: 400;
  font-family: Lato, sans-serif;
  color: var(--v2-dark-blue);
}

.customDeletepopup p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #6c747b;
  font-weight: 400;
  font-family: Lato, sans-serif;
  margin-bottom: 54px;
}

.customDeletepopupbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  text-transform: capitalize;
}

.cancelbtn {
  background: #f4f6fa;
  border: 1px solid #d8dee4;
  border-radius: 4px;
  margin-right: 9px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  color: var(--v2-royal-blue);
}

.deletebtn {
  background: var(--v2-royal-blue);
  border: 1px solid var(--v2-royal-blue);
  border-radius: 4px;
  margin-right: 9px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  color: #fff;
}
