.container {
  margin: 112px 24px;
}

.image {
  width: 100%;
  margin-bottom: 56px;
}

.text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  color: #002d72;
}

.subText {
  font-size: 16px;
  color: #434a51;
}
