.subTitle {
    color: #052a63;
    font-size: 20px;
}

.text {
    color: #717171;
    font-size: 12px;
    font-style: italic;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    border: 1px #ddd solid;
}
