.container {
    padding-top: 18px;

    .heading {
        color: #052A63;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .content {
        background-color: white;
        padding: 16px;
        border-radius: 4px;

        .name {
            color: #052A63;
            font-size: 20px;
            margin-bottom: 4px;
        }

        .address {
            color: #434A51;
            font-size: 16px;
        }
    }
}