.customFilter {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  @media (max-width: 767px) and (min-width: 320px) {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.filterButton {
  padding: 0px !important;
  background: #f9fafb;
  border: 0px;
  color: #3d4553;

  &:hover {
    background: #f9fafb;
  }
}