.modalSection {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
}

.sectionTitle {
    color: #052a63;
    font-size: 24px;
    font-weight: 600 !important;
    margin-bottom: 4px !important;
}

.sectionSubtitle {
    color: #434A51;
    font-size: 16px;
    margin-bottom: 16px !important; 
}

.requiredFieldNote {
    color: #717171;
    font-size: 14px;
    font-style: italic;
    margin-top: 8px;
}
