.tableWrapper {
    margin-bottom: 40px;
    min-height: calc(100vh - 300px);
    background-color: #ffffff;

    width: calc(100% + 48px);
    margin-left: -24px;
}

.tableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 24px 20px;
    border-bottom: 1px solid #dddddd;
}

.count {
    position: absolute;
    top: -2px;
    right: -4px;
    border-radius: 100%;
    padding: 0px 4px;
    background-color: #f1faff;
    color: #4178ff;
    font-size: 10px;
    font-weight: 600;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}
