.select {
    height: 40px;
    position: relative;
    .select-container {
        top: 0px;
        width: calc(100% - 0px);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 40px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
        border: 1px solid #c7ccd1;
        border-radius: 2px;
        min-height: 40px;
        color: #525761;
        background-color: white;
        .inputbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 15px;
            .placeholder {
                padding-left: 15px;
            }
            height: 40px;
            svg {
                stroke: #525761; /* TODO: use variable later */
            }
        }
        &.opened {
            position: absolute;
            z-index: 1;
            border: 1px solid #525761;
            .inputbox {
                border-bottom: 1px solid #c7ccd1;
            }
            box-shadow: 0px 4px 15px 0px #00000040;
        }
        &.closed {
            max-height: 40px;
        }
        .options {
            overflow: auto;
        }
        .options,
        .inputbox {
            .option {
                padding-left: 15px;
                display: flex;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }
        }
        .options {
            .option:hover {
                background: #ebeff6;
            }
        }
    }
}

.contacts-dd {
    min-width: 239px;
}
