@use "scss/globalDefines" as defines_global;

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    @include defines_global.small {
        margin-bottom: 0;
    }
}