.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.heading {
  font-size: 32px;
  color: #002d72;
}

.subHeading {
  font-size: 16px;
  color: #434a51;
  margin-bottom: 16px;
  text-align: center;
}

.imgContainer {
  margin-top: 24px;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  background-color: #2175f41a;
  border-radius: 999999px;
  padding: 12px;
}

.text {
  font-size: 16px;
  color: #434a51;
  text-align: center;
}
