@import "../../../scss/globalDefines";

.marketingBanner {
    border-radius: 8px;
    background-color: #f1faff;
    padding: 8px;
    border: 8px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerCardImage {
    height: 140px;
    width: 160px;

    @include small {
        height: 108px;
        width: 120px;
    }
}

.bannerGridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}
