@import "../../../scss/globalDefines.scss";

.bannerFilter {
    margin-left: auto;
}

.banner {
    display: flex;
    align-items: center;
    border: 1px solid #dfe5ef;
    background-color: #f1faff;
    border-radius: 4px;
    font-size: 16px;
    color: #434a51;
    border-left: 6px solid #4178ff;
    padding: 8px 16px;
    width: 100%;

    @include small {
        flex-direction: column;
        align-items: flex-start;
    }
}

.colorBar {
    width: 6px;
    height: 100%;
    background-color: #4178ff;
}
.divider {
    border: 1px solid #cccccc;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;

    @include small {
        display: none;
    }
}

.count {
    font-weight: 700;
}

.filteredContent {
    color: #052a63;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
