@use "scss/globalDefines" as defines_global;

.cardHeader2 {
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  display: flex;
  padding: 1.5rem;
  background-color: #052a63;
  color: white;

  @include defines_global.small {
    background: none;
    box-shadow: none;
    padding: 0.5rem;
    background-color: #052a63;
  }

  .iconWithTitle {
    display: flex;
  }

  .icon {
    padding: 14px;
    cursor: pointer;

    &:hover {
      color: white;
      border-radius: 40px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .iconReverse {
    transform: rotate(180deg);
  }
}

.heading {
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.32px;
  margin-top: 6px;

  @include defines_global.small {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

.content {
  border-radius: 0 0 8px 8px;

  @include defines_global.small {
    background: none;
    overflow-x: scroll;
  }
}

.infoIcon {
  margin-left: 10px;
  margin-top: 10px;
}
