.bannerContainer {
    width: 100%;
    background-color: #f1faff;
    border-radius: 4px;
    padding: 10px;
    border-left: solid 7px #4178ff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.footerCloseButton {
    background: transparent !important;
    border: none;
    border-radius: 20px !important;
    cursor: pointer;
    padding: 5px 12px !important;
    color: #434a51 !important;
}

.footerCloseButton:hover {
    background: #f9f9f9 !important;
    opacity: 1;
}

.footerCloseIcon {
    padding: 0 !important;
    width: 22px !important;
    height: 22px !important;
    background-color: transparent !important;
    margin-left: 5px;
    margin-top: 2px;
}

.footerCloseIcon img {
    width: 100%;
    height: 100%;
}

.filterLabelSpan {
    @media (width <= 480px) {
        display: block;
    }
}