.searchInput {
    max-width: 330px;
    width: 100%;
}

.customBox {
    @media (max-width: 480px) {
        position: relative;
        right: -17px;
    }

    > div {
        margin-right: 10px !important;
    }
}

.pointerBox {
    cursor: pointer;
}
