.button {
  border: 1px solid var(--main-text-color);
  background: white;
  padding: 0.5rem 1rem;

  &:disabled {
    border-color: var(--muted-light-text-color);
    background-color: var(--muted-light-text-color);
    color: var(--muted-text-color);
    cursor: not-allowed;
  }
}

.button-preview-page {
  ul {
    text-align: center;

    li {
      margin: 0.5rem auto;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem 1rem;

    margin: 2rem;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: white;

      &:nth-of-type(odd) {
        justify-content: flex-start;
        min-width: 300px;
      }

      &:nth-of-type(even) {
        code {
          white-space: normal;
        }
      }
    }

    &--instructions {
      grid-template-columns: 1fr 2fr;
      grid-gap: 1rem 1rem;
      margin: 2rem 2rem 4rem;
    }
  }
}
