.divided-vlist {
    > li {
        border-bottom: 1px solid;
    }

    &--light > li {
        border-color: var(--border-light);
    }
}

.divided-hlist {
    display: flex;

    > li {
        margin-right: 1.5rem;
        border-right: 1px solid;
        padding-right: 1.5rem;
    }
}
