.link {
  border-color: transparent;
  border-style: solid;
  background: none;
  border: 0;
  color: var(--brand-text-color);
  display: inline;
  padding-bottom: 7px;
  padding: 0;
  text-decoration: none;

  &:hover,
  &--body {
    color: var(--brand-text-hover-color);
  }

  &--invert {
    color: var(--invert-text-color);

    &:hover {
      border-color: #0052ce;
      border-style: solid;
      border-width: 0 0 2px;
      padding-bottom: 5px;
      color: var(--invert-text-color);
    }
  }

  &--inherit {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  &--force-underline {
    text-decoration: underline;
  }

  /* don't want to tie these styles to force underline */
  &--dark-underline {
    text-decoration: underline;
    color: var(--neutral-text-color);

    &:hover {
      color: black;
    }
  }

  &--icon {
    display: inline-flex;
    align-items: center;
  }
}

.link_active {
  border-color: #0052ce;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 0 0 2px;
}
