.mod-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-gap: 5rem 1rem;
  justify-items: center;

  @media (max-width: 975px) {
    grid-template-columns: 1fr;
  }
}

.mod {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 285px;
  max-width: 320px;
  width: 100%;
  width: 320px;
  padding: 30px 20px;
}

button.gtm-medicareadvantage-button,
.gtm-medicaresupplement-button,
.gtm-crm-button {
  background: #0052ce;
  color: #f8fafc !important;
  &:hover {
    background: #0052ce !important;
  }
}

.text-color {
  color: #2b323b;
}

.box-content {
  width: 100%;
  .body {
    height: 50px;
  }
  a {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #0052ce;
    text-decoration: none;
  }
}

.v2 {
  .mod-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem 1rem;
    justify-items: center;

    @media (min-width: 768px) {
      grid-gap: 4rem 2rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media (min-width: 900px) {
      grid-gap: 4rem 4rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .mod {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;

    @media (min-width: 768px) {
      max-width: none;
    }
  }
}
