.mod-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 5rem 1rem;
  justify-items: center;
}

.mod {
  max-width: 280px;
  display: flex;
  flex-direction: column;
}
