.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pagination-display-results {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    color: #434a51;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    line-height: (24*0.05);

    &__pages {
      display: inherit;
      align-items: inherit;
      padding: 0 1rem;
    }
    &__button {
      padding: 7px 15px 7px 15px;

      cursor: default;
      background: #ffffff;
      box-sizing: border-box;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      color: #434a51;
      font-size: 16px;
      line-height: 20px;

      border: 1px solid #dfe5ef;

      &--active:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #646f7b;
        border: 1px solid #dfe5ef;
        background: #f4f6fa;
      }

      &--current {
        box-sizing: border-box;
        border: 1px solid #cdd1d5;
        background-color: #cde2f8;
      }

      &--inactive {
        color: var(--muted-text-color);
      }
    }
    .first > .pagination__button,
    .last > .pagination__button {
      padding: 7px 15px 7px 15px;

      border-radius: 4px;
    }

    &__middle {
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination__button {
        padding: 7px 10px;
        &:not(:first-child) {
          border-left-width: 0px;
        }
        &:first-child {
          border-radius: 4px 0px 0px 4px;
        }
        &:last-child {
          border-radius: 0px 4px 4px 0px;
        }
      }
    }

    &--mini {
      justify-content: center;
      font-size: 1rem;
      .pagination__button {
        flex-basis: 100px;
      }
    }

    .small-pagination {
      .pagination__button {
        padding: 0.5rem 0.75rem;
      }
    }
  }

  .provider-pagination-ul > .pagination__middle > li {
    color: #434a51;
    font-size: 16px;
    line-height: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
  }
}
