.status-field {
  &::before {
    content: "";
    vertical-align: top;
    margin: 0.5rem 0.25rem 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--muted-text-color);
  }

  &--positive::before {
    background-color: var(--success-state-color);
  }

  &--negative::before {
    background-color: var(--error-state-color);
  }
}
