.text {
    font-size: 20px;
    color: #052A63;
    margin-bottom: 8px;
}

.subText {
    font-size: 16px;
    color: #434a51;
    margin-bottom: 16px;
}

.fullList {
    list-style: disc;

.li {
    font-size: 16px;
    color: #434a51;
    margin-bottom: 8px;
    margin-left: 36px;
}
}

