@import "../../../../scss/globalDefines.scss";

.stage {
    padding-bottom: 0px;
    color: #052A63;
    font-size: 24px;

    .box {
        margin-top: 0.5rem;
        padding: 15px;
        background-color: #ffffff;
        border-radius: 8px;

        @include small {
            padding: 16px;
        }
    }
}