@import "../../../../scss/globalDefines";

.stage {
    padding-bottom: 0;
    color: #052A63;
    font-size: 24px;

    .box {
        margin-top: 0.5rem;
        padding: 15px;
        background-color: #fff;
        border-radius: 8px;

        @include small {
            padding: 16px;
        }
    }
}