.customBodyRow {
  padding: 24px;
  padding-right: 0;
}

.link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: 85px;
  background-color: #4178ff;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  padding: 7px 15px;
  transition: ease-out 300ms;
  border-radius: 20px;
}

.inactiveLink {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #b3c9ff;
}

.mobileRow {
  width: calc(50% - 8px);
  display: flex;
  justify-content: flex-end;
}

