@use "scss/globalDefines" as defines_global;

.hyperlink {
  color: defines_global.$primary-anchor;
  font-size: defines_global.$font-size-16;
  line-height: defines_global.$line-height-20;
  cursor: pointer;
  font-family: Lato;
}
