@use "scss/globalDefines" as defines_global;

.contentContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 375px;
  width: 100%;
}

@include defines_global.tabletAndAbove {
  .contentContainer {
    max-width: 1200px;
  }
}
