.tableWrapper {
    margin-bottom: 40px;
    min-height: calc(100vh - 300px);

    @media (max-width: 768px) {
        overflow: scroll;
    }
}

.badgeContainer {
    bottom: 13px;
    right: 6px;
}

.iconWrapper {
    background: #f1faff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
     cursor: pointer;

    img {
        position: relative;
        top: 8px;
    }
}

.count {
    position: absolute;
    top: -2px;
    right: -4px;
    border-radius: 100%;
    padding: 0px 4px;
    background-color: #f1faff;
    color: #4178ff;
    font-size: 10px;
    font-weight: 600;
}