.header {
  background-color: #051d43;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.loginButton {
  max-width: 7rem;
}

.headerLogo {
  height: 32px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroImage {
  width: 100%;
  object-fit: cover;
  margin-bottom: 56px;
}

.heading {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #002d72;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px;
}

.bodyText {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #434a51;
  margin: 24px;
}

.clientServeHeading {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  color: #002d72;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px;
}

.clientServeBody {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #434a51;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 8px;
}

.mt132 {
  margin-top: 132px;
}

.featureBox {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}

.featureImgContainer {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99999px;
  background-color: #2175f41a;
}

.featureImg {
  width: 24px;
  height: 24px;
}

.featureContent {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.featureHeading {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  color: #002d72;
}

.featureText {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #434a51;
}

.getButtons {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}

.featureHeroImg {
  width: 100%;
  object-fit: cover;
  margin-bottom: 56px;
  margin-top: 56px;
}

.featureContainer {
  display: flex;
  flex-direction: column;
}

.getStarted {
  max-width: 150px;
}

.videoPlayer {
  margin-bottom: 3rem;
}
