@import 'src/scss/globalDefines.scss';

.outerContainer {
    height: 75vh;
    display: flex;
    justify-content: center;

    .innerContainer {
        min-width: 328px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 0;
        gap: 3rem;

        .medContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.searchContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .contactsListContainer {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 350px;

        @include small() {
            max-height: 250px;
        }

        .contactItem {
            background-color: $bright-gray;
        }

        .emptyList {
            height: 350px;
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bright-gray;
        }
    }
}