.planContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #434a51;
    width: 65%;

    .noPlans {
        display: flex;
        align-items: center;
        gap: 5px;
        background: #ffffff;
        padding: 16px;
        border-radius: 8px;

        .alertIcon {
            width: 24px;
            height: 24px;
        }
    }
}

.label {
    color: #052a63;
    font-weight: bold;
}

.unit {
    font-size: 14px;
    color: #717171;
}

.flex {
    display: flex;

    thead tr th {
        border-bottom: 1px solid #cccccc;
    }
}

.loadersContainer {
    div {
        margin-bottom: 20px;
    }

    svg {
        max-width: 100%;
    }
}

.spacing {
    padding-right: 2rem;
}

.amount {
    color: #052a63;
    font-size: 32px;
}

.planBox {
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 24px;

    .header {
        font-size: 24px;
        color: #052a63;
        display: flex;
        justify-content: space-between;
        padding-bottom: 22px;
        gap: 2rem;

        .logo {
            width: fit-content;
            height: fit-content;
        }
    }

    .additionalInfo {
        background: #f1faff;
        padding: 24px 16px 20px 16px;
        border-radius: 8px;
        display: flex;
        margin: 18px 0;

        .amountInfo {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-right: 3rem;
        }

        .feePlanInfo {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            gap: 16px;
            border-left: 1px solid #cccccc;

            > div > span {
                padding-right: 2rem;
            }
        }

        .MfeePlanInfo {
            padding: 20px 0 0 0;
            border: none;
        }
    }

    .prescreen {
        color: #052a63;
        font-weight: bold;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 16px;
        display: flex;
        gap: 5px;
        align-items: center;

        span {
            cursor: pointer;
            padding-top: 2px;
        }
    }

    .applyCTA {
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;

        .applyButton {
            background-color: #4178ff;
            border-radius: 20px !important;
            width: 168px;
            display: flex;
            justify-content: space-between;
            border: none;
        }

        .disabled {
            background-color: #cccccc;
        }
    }

    .column {
        flex-direction: column;
    }
}

.contentBox {
    background: #ffffff;
    border-radius: 8px;
    padding: 24px;
    margin: 24px;
    color: #434a51;
}
