@use "scss/globalDefines" as defines_global;

.planContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #434a51;
    width: 65%;
    max-width: 768px;

    @include defines_global.small {
        width: 100%;
    }

    .noPlans {
        background: #fff;
        padding: 16px;
        border-radius: 8px;

        .alertIcon {
            width: 24px;
            height: 24px;
        }

        .link {
            color: #4178ff;
            font-weight: 600;
            cursor: pointer;
            display: block;
            margin-top: 15px;
            margin-left: 33px;
        }
    }
}

.spinner {
    div {
        margin: auto;
    }
}

.label {
    color: #052a63;
    font-weight: bold;
}

.unit {
    font-size: 14px;
    color: #717171;
}

.flex {
    display: flex;

    thead th {
        color: #052a63;
        font-weight: bold;
        padding-right: 3rem;
    }
}

.loadersContainer {
    div {
        margin-bottom: 20px;
    }

    svg {
        max-width: 100%;
    }
}

.amount {
    color: #052a63;
    font-size: 32px;
    margin-top: 16px;
}

.planBox {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 24px;

    .header {
        font-size: 24px;
        color: #052a63;
        display: flex;
        justify-content: space-between;
        padding-bottom: 22px;
        gap: 2rem;
        line-height: 32px;

        div {
            @include defines_global.small {
                width: 60%;
                word-break: break-word;
                line-height: normal;
            }
        }

        .logo {
            width: fit-content;
            height: fit-content;
        }
    }

    .additionalInfo {
        background: #f1faff;
        padding: 24px 16px 20px;
        border-radius: 8px;
        margin: 18px 0;

        .amountInfo {
            display: flex;
            justify-content: space-around;
            gap: 10px;

            .separator {
                border-right: 1px solid #ccc;
            }
        }

        .horizSeparator {
            border: 0.5px solid #ccc;
            margin: 16px 0;
        }
    }

    .prescreen {
        color: #052a63;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 16px;
        display: flex;
        gap: 5px;
        align-items: center;

        span {
            cursor: pointer;
            padding-top: 2px;
        }
    }

    .applyCTA {
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;

        .applyButton {
            background-color: #4178ff;
            border-radius: 20px !important;
            width: 168px;
            display: flex;
            justify-content: space-between;
            border: none;
            height: 40px;
            color: #fff;
            font-weight: 500;
        }

        .disabled {
            background-color: #b3c9ff !important;
        }
    }

    .column {
        flex-direction: column;
    }
}

.contentBox {
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    margin: 24px;
    color: #434a51;

    ul {
        padding: 12px;

        li {
            list-style: disc;
            padding-bottom: 20px;
        }
    }
}

.errorDesc {
    padding: 24px 0;
}

.modalTitle {
    @include defines_global.small {
        padding: 2rem !important;
    }
}

.btnWrapper {
    display: flex;
    justify-content: flex-end;

    .viewSellingPermissions {
        background-color: #4178ff;
        padding: 10px 10px 11px 16px;
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 30px !important;
    }
}

.activeSellingPermissionsRequired {
    display: flex;
    color: white;
    background-color: #052a63;
    padding: 16px;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;

    button {
        font-size: 14px;
        border-radius: 50px !important;
        padding: 4px 12px !important;
        width: fit-content;
    }
}

.planBoxWrapper {
    display: flex;
    flex-direction: column;

    .planBoxFeatureHeader {
        border-radius: 8px 8px 0 0;
        padding: 8px 24px;
        background-color: #052a63;
        min-height: 35px;
        width: 100%;
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: -0.16px;
    }
}