.header {
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  padding: 35px 40px;
  border-bottom: 1px solid #c7ccd1;
  background: #ffff;
  margin-bottom: 35px;
  @media (max-width: 480px) {
    padding: 25px 0px 0px 0px;
    font-size: 30px;
    border-bottom: none;
    background: none;
  }
  .headerText {
    font-size: 40px;
    line-height: 48px;
    color: var(--v2-dark-blue);
  }
  .buttonGroup {
    display: flex;
  }
}

.tb-cell {
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.tb-headers {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: var(--v2-bg-gray);
  padding: 20px;
}

.tableWrapper {
  margin-top: 1.5rem;
  min-height: calc(100vh - 300px);
  table {
    border-spacing: 0;
    width: 100%;
    background: var(--v2-white);
    margin-bottom: 24px;
    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }
    th,
    td {
      text-align: left;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid var(--v2-disabled-gray-border);
      & > div {
        padding: 20px;
      }
    }
    td:nth-child(1) {
      width: 22.5%;
      font-weight: bold;
      color: var(--v2-dark-blue);
    }
    td:nth-child(2) {
      width: 20%;
      @media (max-width: 480px) {
        width: 30%;
      }
    }
    td:nth-child(3) {
      width: 40%;
      @media (max-width: 480px) {
        width: 30%;
      }
      .reminder {
        display: flex;
        align-items: center;
      }
      .cal {
        display: flex;
        width: 80px;
        height: 30px;
        margin-right: 20px;
        border: 1px solid var(--v2-main-gray);
        padding: 2px 10px;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
      }
    }
    td:nth-child(4) {
      width: 20%;
    }
    td:nth-child(5) {
      width: 5%;
    }
  }
  .pagination {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info {
      color: "#70777E";
      float: left;
    }
    .right {
      border: 1px solid var(--card-border-color);
      background: var(--card-bg);
      display: flex;
    }
    .text {
      width: 70px;
    }
    button {
      width: 45px;
      height: 40px;
      padding: 6px 10px;
      border-right: 1px solid var(--card-border-color);
      &.active {
        background: var(--v2-secondary-blue-100);
        border: 1px solid var(--border-light);
        box-sizing: border-box;
        border-radius: 4px 0px 0px 4px;
      }
      &:disabled {
        background: var(--v2-light-gray);
      }
    }
  }
  @media (max-width: 480px) {
    border-top: 1px solid #d8dee4;
  }
}

.viewLink {
  text-decoration: none;
  color: var(--v2-dark-blue);
}

.contactPersonName {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.sortSelect {
  @media (min-width: 480px) {
    width: 265px;
  }
  float: right;
}

.cardHeader,
.cardInfo {
  display: flex;
  align-items: center;
  @media (max-width: 480px) {
    padding-bottom: 20px;
  }
}
.cardInfo {
  margin-top: 15px;
  justify-content: space-between;
  .cardInfoLabel {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #646f7b;
  }
}
.cardInfo > div:first-child {
  min-width: 140px;
}
.cardInfo > div:last-child {
  @media (min-width: 480px) {
    width: 40%;
  }
}

.contactName {
  flex: 1;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px !important;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: #002d72;
  flex: 1;
}

.contactName a:hover {
  text-decoration: underline;
}

.primaryContactHeader {
  margin-top: 28px;
  width: 132px;
  height: 20px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #646f7b;
}

.primaryContactInfo {
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #565656;
}

.switch-view {
  margin-right: -20px;
  & Button {
    width: 40px;
    height: 40px;
    padding: 0px !important;
    background: #ffffff;
    border: 1px solid #c7ccd1;
    border-radius: 4px !important;
  }
  & svg {
    stroke: none !important;
  }
  @media (max-width: 480px) {
    padding-left: 12px !important;
    padding-top: 6px !important;
  }
}

.filter-view {
  & Button {
    width: 40px;
    height: 40px;
    padding: 0px !important;
    background: #ffffff;
    border: 1px solid #c7ccd1;
    border-radius: 4px !important;
  }
  @media (max-width: 480px) {
    padding-left: 12px !important;
    padding-top: 6px !important;
    display: none;
  }
}

.hideOnMobile {
  @media (max-width: 480px) {
    display: none !important;
  }
}

.mobileStage {
  display: block;
  span {
    font-size: 12px;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 4px;
  }
  @media (min-width: 480px) {
    display: none;
  }
}

.divider {
  border-bottom: 1px solid #c7ccd1;
  margin: 0 -17px;
  @media (min-width: 480px) {
    display: none;
  }
}

.reminderNotesMobile {
  height: 50px;
  @media (min-width: 480px) {
    display: none;
  }
}

.mobileActions {
  display: flex;
  @media (min-width: 480px) {
    display: none;
  }
}

.iconCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6fa;
  margin-right: 15px;
}
.reminder {
  :global {
    .datepicker-row {
      flex-direction: column;
      align-items: flex-start;
      display: flex;
    }
    .short-reminder-note {
      padding: 10px 0px 25px 0px;
      white-space: normal;
      word-break: break-all;
    }
  }
  @media (min-width: 480px) {
    :global {
      .short-reminder-note {
        display: none;
      }
      .datepicker-row {
        flex-direction: initial;
      }
    }
  }
}

.contactsSearchBar {
  @media (max-width: 480px) {
    .bar {
      flex: 0;
    }
    #contacts-search-wrapper {
      flex: 1;
    }
  }
}

/* Start Add new contact */
.add--new-contact {
  border-radius: 8px;
  background-color: #fff;
  h4 {
    color: #3d4553;
    cursor: pointer;
    font-size: 14px;
  }
  h3 {
    font-size: 24px;
    color: #002d72;
  }
  .contact-address {
    width: 225px;
  }
  .contact-address--city {
    width: 165px;
  }
  .contact-address--statecode {
    width: 50px;
  }
  .contact-address--zip {
    width: 85px;
  }
  .duplicate-lead {
    display: flex;
    padding: 15px;
    width: 362px;
    height: 63px;
    background: #fff8de;
    border-radius: 4px;
    .duplicate-lead--text {
      font-size: 14px;
      justify-content: center;
      align-items: center;
      a {
        color: var(--v2-secondary-blue-900);
        cursor: pointer;
      }
    }
  }
}
/* End Add new contact */

/*Start duplicate contact link */
.duplicate-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #fff8de;
  border-radius: 4px;
  a {
    color: var(--v2-secondary-blue-900);
    cursor: pointer;
  }
}
/*End duplicate contact link */

.contacts-search-input-wrapper {
  @media (max-width: 480px) {
    overflow-x: hidden;
    padding-bottom: 3px;

    .relative {
      position: relative;
    }

    :global {
      .cr-mobile-search {
        display: none;
        span.clear-link {
          color: blue;
        }
      }
      .form-input__input {
        max-width: 40px;
        .form-input__input-actions {
          display: none;
        }
        &:focus-within {
          max-width: unset;
          width: 90vw;
          .form-input__input-actions {
            display: flex;
          }
        }

        .clear-btn {
          color: #0052ce;
          font-size: 14px;
          font-family: Lato;
          line-height: 17px;
        }
      }
      .form-input__icon--main + input {
        padding: 0;
      }
    }
  }
}

.more-icon {
  &:hover {
    svg > path {
      stroke: #0052ce;
    }
  }
  &[class*="opened"] {
    svg > path {
      stroke: #002d72;
    }
  }
}
