.details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  background: #ffffff;
  width: 100%;
  & > .header {
    border-bottom: 1px solid #e3e8eb;
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .headerTitle {
      padding-left: 32px;
      color: var(--v2-header-title);
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: left;
    }
    .actions button {
      padding: 5px 18px;
      margin-right: 5px;
    }
  }
  .card-body {
    width: calc(100% - 64px);
    margin: 32px;
    .no-items {
      height: 69px;
      border: 1.5px solid #e6ecf2;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      color: #64748b;
      @media screen and (min-width: 320px) and (max-width: 480px) {
        flex-direction: column;
      }
      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .link {
      color: var(--v2-royal-blue);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-decoration: underline;
    }
  }
}
