@use "scss/globalDefines" as defines_global;

.soaSignedContainer {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 24px;

    .titleWrapper {
        font-size: 20px;
        color: #052a63;
        padding: 16px 24px;
        border-bottom: 1px solid #ccc;
    }

    .contentWrapper {
        padding: 16px 24px 24px;
        display: flex;
        justify-content: space-between;

        .boxColumn {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 16px;

            .completeCTAWrapper {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                margin-top: 38px;

                button {
                    border-radius: 25px;
                    border: none;
                    background: #4178ff;
                    padding: 5px 15px;
                    padding-right: 5px;
                    display: flex;
                    justify-content: flex-start;
                    cursor: pointer;

                    svg {
                        margin-left: 0;
                    }

                    &:disabled {
                        cursor: not-allowed;
                    }
                }

                @include defines_global.small {
                    justify-content: center;
                }
            }

            .columnLabel {
                color: #052a63;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .contactAfterLabel {
                margin-top: 10px;
            }

            .columnText {
                color: #717171;
            }

            .productsContainer {
                background: #f1f1f1;
                border-radius: 8px;
                color: #434a51;
                padding: 16px 16px 23px 29px;
                list-style: disc;
            }

            .contactWrapper {
                display: flex;
                align-items: center;

                .contactBox {
                    background: #f1f1f1;
                    border-radius: 4px;
                    color: #434a51;
                    padding: 7px 19px;
                    min-width: 100px;
                    white-space: nowrap;
                }

                .spacing {
                    margin: 0 16px;
                }
            }
        }

        .width15 {
            flex-basis: 15%;
            padding-right: 24px;
        }

        .width45 {
            flex-basis: 45%;
            padding-right: 24px;
            margin-left: 30px;
        }

        .width25 {
            flex-basis: 25%;
        }
    }

    .columnView {
        flex-direction: column;
    }
}

.mobileStyles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}
