@import "../../scss/globalDefines";

.heading1 {
  color: $dark-blue;
  font-size: $font-size-48;
  font-weight: bold;
  line-height: $line-height-56;

  @include small {
    font-size: $font-size-32;
    line-height: $line-height-56;
  }
}
