@import "../../scss/globalDefines";

.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    height: 4.5rem;
}

.backButton {
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.16px;
    color: $white;
}
