.sectionContianer {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;

  @media (width <= 480px) {
    width: 100%;
  }
}

.sectionBody {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.sectionBody2 {
  background-color: #fff;
  border-radius: 8px;
}
