@import "../../../../scss/globalDefines.scss";


.miniContainer {
    display: flex;
    flex-direction: column;

    @include small {

        flex-direction: row;
        gap: 24px;
    }
}

.horizontalLayout {
    display: flex;
    position: relative;
    gap: 5px;

    .editIcon {
        cursor: pointer;
        position: absolute;
        top: -10px;
        right: 0;
    }

    @include small {
        display: flex;
    }
}

.emailBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.emailAddress {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
}

.emailText {
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
    word-break: break-all;
}

.border {
    border-bottom: 1px solid #ddd;
}

.gap {
    justify-content: space-between;
}

.beneficiaryId {
    display: flex;

    div {
        width: 127px;
    }

    span {
        color: #1457FF;
        font-weight: 600;
        display: flex;
        gap: 5px;
        cursor: pointer;

        svg {
            margin-left: 1rem;
        }
    }
}

.dateAlignment {
    display: flex;
    justify-content: flex-start;
    gap: 2rem
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.editButton {
    border-radius: 25px !important;
    padding: 5px 12px !important;
    background-color: #4178ff !important;

    span {
        font-size: 14px !important;
        color: #ffffff !important;
        font-weight: 500;
    }

    &:hover {
        background-color: #1357ff !important;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.deleteButton {
    border-radius: 25px !important;
    padding: 5px 20px !important;

    span {
        font-size: 14px !important;
        color: #4178ff !important;
        font-weight: 500;
    }

    &:hover {
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
        color: #1357ff !important;
    }
}


.miniCard {
    width: 100%;

    @include small {
        width: 50%;
    }

}

.icon {
    cursor: pointer;
    padding-top: 6px;
    height: 50px;

    svg {
        transition: 300ms ease-out;
    }
}

.iconRotate {
    svg {
        transform: rotate(-180deg);
    }
}

.iconWithTitle {
    display: flex;
    align-items: center;
}

.underLine {
    box-shadow: rgb(199, 204, 209) 0px -1px 0px inset;
}

.specialAssistanceCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md-16, 16px);
    align-self: stretch;
    border-radius: 8px;
    background: var(--background-paper-elevation-0, #FFF);

    .specialAssistanceFormWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    .specialAssistanceOptions {
        display: flex;
        flex-direction: row;
        padding: 0px 16px;
        justify-content: flex-end;
        align-items: center;
        gap: 36px;
        align-self: stretch;
    }

    .specialAssistanceRadios {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--padding-gap-sm-8, 8px);
        align-self: stretch;

        &:first-of-type {
            margin-right: 46px;
        }
    }

    .specialAssistanceHeader {
        color: var(--Integrity-navy-default, #052A63);
        font-feature-settings: 'liga' off, 'clig' off;

        /* table/header */
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 125% */
        letter-spacing: 0.17px;
    }

    .specialAssistanceContainer {
        display: flex;
        flex-direction: column;
        gap: var(--padding-gap-sm-8, 8px);
        align-self: stretch;
    }
}