.container {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

.heading {
    font-size: 24px;
    color: #052a63;
}

.link {
    color: #4178ff;
    cursor: pointer;
}

.inactiveLink {
    cursor: not-allowed;
    pointer-events: none;
    color: #b3c9ff;
}
