@use "sass:math";
@import "../../scss/mixins";

.global-nav-v2 {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    background-color: #052a63;

    &__title {
        display: flex;
        align-items: center;
        margin-right: auto;
        flex-shrink: 1;

        a {
            display: flex;
            max-width: calc(170px);

            &.show-medicare-center {
                margin-right: 1.5rem;
                border-right: 1px solid #a9905f;
                padding-right: 1.5rem;
                max-width: none;

                @media (width <= 480px) {
                    margin-right: 0.5rem;
                    padding-right: 0.5rem;
                }
            }

            svg {
                color: white;
            }
        }

        @media (width <= 480px) {
            position: absolute;
            top: 40%;
            margin: unset;
            padding: unset;
        }
    }

    &__links {
        display: flex;
        align-items: center;

        @media (width <= 480px) {
            bottom: 0;
            position: absolute;
            width: 100%;
            padding: 0 1.5rem;
        }
    }

    &__links>ul {
        line-height: math.div(24, 16);
    }

    &__mobile-trigger {
        margin-right: -0.5rem;

        @media (width <= 480px) {
            position: absolute;
            gap: 1rem;
            right: 8px;
        }
    }

    &__taskList-mobile {
        margin-right: 20px;

        @media (width <= 480px) {
            top: 57px;
            position: absolute;
            right: 8px;

            button {
                margin-left: 8px;
            }
        }
    }

    @media (width <= 883px) {
        height: 144px;
        position: relative;
    }

    @media (width >= 480px) {
        padding: 0.75rem 1.75rem;
    }

    @media (width >= 768px) {
        padding: 20px 2.5rem;

        &--hasNotification {
            padding: 77px 2.5rem 40px;
        }

        &--hasNotification-hasMainitananceNotification {
            padding: 170px 2.5rem 40px;
        }

        &--hasMainitananceNotification {
            padding: 120px 2.5rem 40px;
        }
    }
}

.dropdown-menu {
    position: relative;

    &__trigger>svg {
        margin-left: 0.5rem;
    }

    &--closed .dropdown-menu__items {
        @include visually-hidden;
    }

    &--open {
        color: var(--neutral-text-color);

        .dropdown-menu__trigger {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
        }

        .dropdown-menu__items {
            background-color: var(--main-bg-color);
            border-radius: 0.25rem;
            left: -3rem;
            position: absolute;
            top: 2rem;
            width: calc(100% + 5rem);
            z-index: 6;

            >li {
                padding: 1rem;
                box-shadow: inset 0 -1px 0 #cdd0d5;
            }

            >li:hover {
                background-color: var(--v2-secondary-blue-200);
                color: var(--v2-royal-blue);
            }

            >li a:hover {
                color: var(--v2-royal-blue);
            }

            li:nth-child(3):hover {
                * {
                    color: #0079cc;
                }
            }
        }

        .dropdown-menu__icon {
            transform: rotate(180deg);
        }
    }
}

.modal-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    z-index: 999;
    width: 80%;
    height: 100%;
    background-color: #4178ff;
    color: #fff;
    margin-left: 20%;
    font-family: Lato;

    &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -0.25rem;
    }

    &__link {
        font-size: 20px;
        line-height: (24 * 0.05);
        font-family: Lato;
    }

    &__hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 0.5px solid #7aafff;
    }

    &__hdg {
        font-size: 16px;
        text-align: center;
    }

    @media (width >= 480px) {
        padding: 1.75rem 1.75rem 3.25;
    }

    @media (width >= 768px) {
        padding: 2.5rem 2.5rem 3.25;
    }
}

.skip-link {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    display: inline-block;
    list-style: none;
    opacity: 1;
    padding: 0.75rem 1rem;
    pointer-events: none;
    position: fixed;
    text-decoration: underline;
    top: -100px;
    left: calc(50% - 125px);
    transition: top 0.3s ease-in-out;
    z-index: 99999;
    text-transform: capitalize;
    width: 250px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover,
    &:focus {
        color: var(--main-text-color);
        opacity: 1;
        top: 0;
    }
}

.site-notification2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--invert-text-color);
    text-align: left;
    font-size: 0.875rem;

    &>div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;

        @media (width >= 768px) {
            padding: 0.25rem 1rem;
        }
    }

    &__maintanance {
        @media (width >= 768px) {
            height: 92px;
        }

        align-items: flex-start;
        background: #fff1f0;
        color: #434a51;
        flex-direction: column;
        font-size: 16px;
        font-weight: bold;
        justify-content: flex-start;
        line-height: 30px;
    }

    .site-maintanance-text {
        font-weight: 500;
    }

    @media (width >= 768px) {
        position: absolute;
    }

    @media (width >= 900px) {
        font-size: 1rem;
    }

    &--notice {
        background-color: var(--brand-bg-color);
    }

    &__icon {
        margin-right: 1rem;
        font-size: 24px;
    }
}

.myButton {
    align-items: center;
    background-color: #1e3456;
    border-radius: 28px;
    border: 2px solid #828ea1;
    box-sizing: border-box;
    display: flex;
    float: right;
    height: 24px;
    justify-content: space-between;
    margin-left: 12px;
    width: 56px;
    cursor: pointer;
    color: #fff;
}

.uiStyle {
    float: left;
}

.buttonIcon {
    height: 20px;
}

.linkAlignItems {
    align-items: center;
    display: flex;
}

.button_color {
    color: #fff;
}

.public-nav {
    align-items: center;
    background-color: #ffff;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 0;
    width: 100%;

    @media (width <= 480px) {
        align-items: flex-start;
        background-color: transparent;
        padding-left: 20px;
        padding-right: 0;
    }

    img {
        @media (width <= 480px) {
            display: none;
        }
    }

    svg {
        color: gray;

        @media (width <= 480px) {
            color: #ffff;
            width: 75%;
        }
    }

    .link-wrapper {
        align-items: center;
        display: flex;

        @media (width <= 480px) {
            display: none;
        }

        .seperator {
            background-color: #151e29;
            height: 1rem;
            width: 1px;
        }
    }

    .link {
        color: #151e29;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.logoImg {
    width: 100%;

    @media (width <= 480px) {
        margin-top: 8px;
    }
}

.linkTagMobile {
    width: 80%;
    margin: auto;
}

.iconImg {
    height: 20px;
    margin-right: 10px;
    width: 25px;
}

.disabledCursor {
    cursor: not-allowed;
}

.disabledEvents {
    pointer-events: none;
}

.labelSubtext {
    font-style: italic;
    color: #999;
}

.taskListTitle {
    display: none;

    @media (width <= 480px) {
        display: block;
        color: #fff;
        font-weight: 500;
    }
}

.backButton {
    color: #4178ff;
    font-size: 16px;
    left: 4%;
    position: absolute;
    top: 60px;
    display: flex;

    span {
        margin-right: 5px;
    }
}

.flex {
    display: flex;
    align-items: center;
}