.modalTextStyle {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  margin-top: 6px;
  padding-bottom: 8px;
}

.modalTextFont {
  font-weight: 900;
}

.modalTextTop {
  font-weight: 900;
  margin-top: 20px;
  text-align: center;
}
