.modalTextStyle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6px;
  padding-bottom: 8px;
  letter-spacing: 0.16px;
  color: #434a51;
  font-size: 16px;

  .text-info {
    text-align: center;
    line-height: 24px;
    margin-top: 10px;
  }

  .phne-num {
    color: #002d72;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.modalTextFont {
  font-size: 32px;
  font-weight: normal;
  color: #002d72;
  letter-spacing: 0.32px;
}

.modalTextTop {
  font-weight: 900;
  text-align: center;
}

.modalTextNum {
  margin-top: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #002d72;
  letter-spacing: 0.32px;
}

.modalTextLead {
  font-weight: 900;
  margin: 0 0 10px;
  text-align: center;
}

.modalTextOffline {
  font-size: 24px;
  font-weight: normal;
  color: #002d72;
  letter-spacing: 0.32px;
}

.checkInPref {
  display: flex;
  max-width: 360px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-weight: normal;
}
