.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

.ml-2 {
    margin-right: 5px;
}

.onButton {
    margin-left: 32px;
}

.myButtonText {
    font-size: 16px;
    width: max-content;
    color: #fff;
    margin-right: 8px;

    @media screen and (width <= 883px) {
        margin-left: 0;
        color: #7188a8;
    }
}

.myButtonWrapper {
    display: flex;
    align-items: center;
    color: #ffffffbf;
    margin-right: 20px;
    z-index: 100;

    @media screen and (width <= 883px) {
        margin-bottom: 10px;
    }
}
