.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.ml-2 {
  margin-right: 5px;
}

.onButton {
  margin-left: 32px;
}

.myButtonText {
  font-size: 16px;
  width: max-content;
  color: #FFFFFF;
  margin-right: 8px;
  @media screen and (max-width: 883px) {
    margin-left: 0px;
    color: #7188A8;
  }
}

.myButtonWrapper {
  display: flex;
  color: #ffffffbf;
  z-index: 100;
  @media screen and (max-width: 883px) {
    margin-bottom: 10px;
  }
}
