.box {
  background-color: #f4f8fb;
  border-radius: 8px;
  box-shadow: 24px;
  display: flex;
  flex-direction: column;
  height: 365px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 328px;
  padding: 15px;
}

.callCenter-box-h {
  height: 357px;
  width: 336px;
}

.leadType-box-h {
  height: 263px;
  width: 328px;
}

.leadSource-box-h {
  height: 263px;
  width: 328px;
}

.main-box-h {
  height: 590px;
  width: 328px;
}

.checkOut-box-h {
  height: 140px;
  width: 320px;
}

.item {
  align-items: center;
  color: #0052ce;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.modal_button {
  border-right: 1px solid #ccc;
}
