.modalItemImgStyle {
  height: 30px;
  margin-left: 20px;
  width: 30px;
}

.modalItemStyle {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 15px;
  margin-top: 7px;
  padding-bottom: 7px;
}

.modalItemTextStyle {
  margin-left: 14px;
  width: 190px;
}

.span_title {
  font-weight: 900;
}

.span_icon {
  color: #ccc;
  font-size: 15px;
}

.span_type {
  color: #ccc;
  margin-left: 5px;
}

.active_icon {
  height: 15px;
  width: 13px;
}
