@import "../../scss/globalDefines";

.heading2 {
  color: $dark-blue;
  font-size: $font-size-32;
  font-weight: bold;
  line-height: $line-height-38;

  @include small {
    font-size: $font-size-24;
  }
}
