@use "scss/globalDefines" as defines_global;

.heading2 {
  color: defines_global.$dark-blue;
  font-size: $font-size-32;
  font-weight: bold;
  line-height: $line-height-38;

  @include defines_global.small {
    font-size: $font-size-24;
  }
}
