@use "scss/globalDefines" as defines_global;
@use "scss/globalDefines" as defines_global;

.tabContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  gap: 20px;

  @include defines_global.mobileOnly {
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
  }
}
