@import "../../scss/globalDefines.scss";
@import "../../styles/global.scss";

.tabContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  // background: $bluish-cyan;

  @include tabletAndBelow {
    padding-right: 5%;
  }

  @include mobileOnly {
    padding-left: 5%;
    padding-right: 5%;
  }

  .tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .tabHeading {
      color: $dark-blue;
      padding-bottom: 8px;
      font: normal normal normal 20px/24px Lato;
      letter-spacing: 0.2px;

      @include mobileOnly {
        font: normal normal normal 14px/16px Lato;
        width: min-content;
        letter-spacing: 0.14px;
      }
    }

    .isPS_widget {
      @include mobileOnly {
        width: 126px !important ;
      }
    }

    .tabContent {
      display: flex;
      width: 192px;
      height: 88px;
      background: white;
      margin-bottom: 12px;
      cursor: pointer;
      box-shadow: 0px 0px 20px #002d721a;
      border-radius: 6px;
      align-items: center;

      @include mobileOnly {
        width: 72px;
        height: 64px;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: $dark-blue;
        font-size: $size-48;
        @include mobileOnly {
          font: normal normal normal 24px/56px Lato-Regular;
        }
      }

      .color {
        content: "";
        width: 16px;
        height: 88px;
        display: block;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        position: absolute;

        @include mobileOnly {
          width: 8px;
          height: 64px;
        }
      }

      &.selected::after {
        content: "";
        display: block;
        position: absolute;
        margin-left: 84px;
        margin-top: 100px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid white;

        @include mobileOnly {
          margin-left: 27px;
          margin-top: 76px;
        }
      }
      &.isPS_widget::after {
        margin-left: 50px;
      }
    }
  }
}

.widgetRow {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.psMobile {
  flex-direction: column !important;
}
