.modalSubHeading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.modalContent {
    color: #052a63;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
}

.campaignLabel {
    font-size: 16px;
    color: #434a51;
}

.campaignName {
    font-size: 16px;
    color: #052a63;
    font-weight: 600;
}
