@use "scss/globalDefines" as defines_global;

.layout {
  display: flex;
  align-items: center;

  :hover {
    cursor: pointer;
  }
}

.icon {
  margin-right: 8px;
}

.text {
  font-size: 1rem;
  color: defines_global.$cyan-blue;
}
