@use "scss/globalDefines" as defines_global;

.paragraph {
  color: defines_global.$cyan-blue;
  font-size: $font-size-16;
  line-height: $line-height-20;

  @include defines_global.small {
    font-size: $font-size-12;
  }
}
