.connectModalBody {
    padding: 0 20px 20px;
    background-color: #fff;
    border-radius: 8px;

     .contentContainer{
        padding-top: 20px;
     }

     .subHeading{
        color: #052A63;
        font-size: 20px;
     }

     .content{
        color: #434A51;
        font-size: 16px;
     }
}

.title{
    color: #052A63;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}