.container {
  display: flex;
  flex-direction: column;

  .sub-container {
    position: relative;
  }

  .provider-input {
    background: #fff;
    border: 1px solid #cbd5e1;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 359px;

    &[value],
    ::placeholder {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #64748b;
      padding-left: 16px;
    }
  }

  .label-name {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #475569;
    padding-bottom: 5px;
  }

  .label-dropdown {
    width: 359px;
    overflow-y: "scroll";
    padding: 0;
    list-style-type: none;
    position: "relative";
    background: #fff;
    border: 1px solid #cbd5e1;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 5%);
    border-radius: 4px;
  }

  .label-close {
    position: absolute;
    top: 12px;
    left: 315px;
    transform: scale(0.8);
    color: #64748b;
  }

  .provider-dropdown {
    max-height: 359px;
    overflow-y: auto;
  }

  .provider-section {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    padding: 10px;

    &.selected {
      background-color: #f1f5f9;
    }
  }

  .provider-name {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #313336;
  }

  .provider-info {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #64748b;
  }

  .selected-provider {
    background: #f2f9ff;
    border-radius: 4px;
    width: 345px;
    padding: 16px 0 16px 16px;
  }
}
