.callCardWrapper {
    display: flex;
    max-width: var(--modal-max, 560px);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: min(100%, 560px);
    margin-inline: auto;

    .callCard {
        display: flex;
        padding: var(--none-0, 0);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--padding-gap-md-16, 16px);
        align-self: stretch;
        border-radius: 8px;
        background: var(--background-paper-elevation-0, #FFF);

        .cardContentWrapper {
            display: flex;
            padding: var(--padding-gap-md-16, 16px);
            flex-direction: column;
            align-items: flex-end;
            gap: var(--padding-gap-sm-8, 8px);
            align-self: stretch;
            border-radius: var(--border-radius-x-sm-4, 4px);

            .callContent {
                display: flex;
                align-items: flex-start;
                gap: var(--padding-gap-md-16, 16px);
                align-self: stretch;
                width: min(100%, 528px);

                .callIcon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    width: min(100%, 40px);
                    height: 40px;

                    &.callIconMissed {
                        background: var(--error-light, #FBDEDE);
                    }

                    &.callIconAnswered {
                        background: var(--action-selected, #F1FAFF);
                    }

                    .callIconSize {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0;
                    }
                }

                .callDetailsWrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    flex: 1 0 0;

                    .callDetails {
                        display: flex;
                        place-content: center space-between;
                        align-items: center;
                        row-gap: var(--padding-gap-x-sm-4, 4px);
                        align-self: stretch;
                        flex-wrap: wrap;

                        .callMetadata {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            gap: var(--none-0, 0);

                            .callDate {
                                color: #052A63;
                            }
                        }

                        .callDuration {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                        }
                    }
                }
            }

            .callCtasWrapper {
                display: flex;
                place-content: center flex-end;
                align-items: center;
                gap: 8px var(--padding-gap-sm-8, 8px);
                align-self: stretch;
                flex-wrap: wrap;
                width: min(100%, 528px);

                .callCta {
                    display: flex;
                    padding: var(--padding-gap-x-sm-4, 4px) var(--none-0, 0);
                    box-shadow: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: var(--border-radius-lg-24, 24px);
                    background: var(--secondary-main, #FFF);

                    .callCtaIcon {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

        }

        .isUnviewed {
            width: 4px;
            height: 120px;
            position: absolute;
            background: #4178FF;
            border-top-left-radius: var(--border-radius-x-sm-4, 4px);
            border-bottom-left-radius: var(--border-radius-x-sm-4, 4px);
        }

        .isUnviewedMissed {
            background: var(--error-main, #C81E27);
            height: var(--sizing-972-px, 72px);
        }
    }
}