@import "../../../../scss/globalDefines.scss";

.cardOuterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #052a63;
    border-radius: 8px 8px 0px 0px;
    padding: 4px 8px;
}

.cardInnerContainer {
    padding: 16px 24px;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
}

.divider {
    margin: 0px 16px;
    border-right: 1px solid #434a51;
}

.cardInnerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cardInnerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 16px 24px;
    background-color: #f1faff;
    border-radius: 8px;
}

.cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .amountInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}

.maxDistInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 8px;
    text-align: center;
}

.label {
    font-size: 16px;
    color: #052a63;
    font-weight: 600;
    margin-bottom: 4px;
}

.cardInnerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-radius: 0px 0px 8px 8px;
    background-color: #ffffff;
    border-top: 1px solid #ccc;

    @include small {
        flex-direction: column;
    }
}

.cardFooterActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.planLogo {
    width: 138px;
    height: 32px;
}

.noBorderRadius {
    border-radius: 0px;
}
