@use "scss/globalDefines" as defines_global;

.campaignInnerContainer {
    width: 85%;
    margin: auto;
    padding: 56px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;

    @include defines_global.small {
        width: 100%;
        padding: 56px 16px;
    }
}
