.container {
    display: flex;
    align-items: center;
    color: #4178FF;
    font-size:  14px;
    gap: 3px;
    padding: 5px 10px;

    &:hover {
        background-color: white;
        border-radius: 50px;
        cursor: pointer;
    }
}