@use "scss/globalDefines" as defines_global;

.soaSignedContainer {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 24px;

    .titleWrapper {
        font-size: 20px;
        color: #052a63;
        padding: 16px 24px;
        border-bottom: 1px solid #ccc;
    }

    .contentWrapper {
        padding: 16px 24px 24px;
        display: flex;

        .boxColumn {
            display: flex;
            flex-direction: column;
            font-size: 16px;

            .columnLabel {
                color: #052a63;
                font-weight: bold;
            }

            .columnText {
                color: #434a51;
            }

            .productsContainer {
                background: #f1f1f1;
                border-radius: 8px;
                color: #434a51;
                padding: 16px 16px 21px 50px;

                .email {
                    color: #4178ff;
                    word-break: break-all;
                }

                @include defines_global.small {
                    padding: 16px;
                    background: #f1f1f1;

                    .email {
                        color: #007bff;
                    }
                }
            }
        }

        .width30 {
            min-width: 270px;
            padding-right: 24px;
        }

        .width70 {
            flex-basis: 80%;
            margin-left: 24px;
        }
    }

    .columnView {
        flex-direction: column;
    }
}

.mobileView {
    margin-top: 10px;
}