.finalExpensePlanCard {
  margin-top: 20px;
  padding: 24px;
  width: 800px;
  border-radius: 8px !important;

  .applyButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .applyButton {
    display: flex;
    justify-content: space-between;
    background: #4178ff;
    color: #fff;
    width: 168px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;

    img {
      position: relative;
      left: 15px;
    }
  }
}
