.header {
  height: 88px;
  background: #052A63 0 0 no-repeat padding-box;
  opacity: 1;
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 9rem;
}