$black: #000;
$blue-1: #304cb2;
$blue-5: #5495de;
$blue-1-light: #4a66cc;
$blue-2: #1a2c80;
$blue-3: #111b40;
$blue-3-light: #dde7ff;
$blue-4: #0b142d;
$blue-5: #051d43;
$gray-1: #f4f4f4;
$gray-2: #e5e5e5;
$gray-3: #ccc;
$gray-4: #5f5f5f;
$gray-5: #afafaf;
$gray-6: #c7ccd1;
$gray-7: #717171;
$gray-5-dark: #969696;
$green-1: #00801f;
$green-2: #00ad2a;
$red-1: #d5152e;
$red-2: #f0455a;
$yellow-1: #ffbf27;
$white: #fff;
$white-1: #FFFBD5;
$dark-blue: #002d72;
$cyan-blue: #434a51;
$pale-blue: #cde1f8;
$pale-green: #dbf5d9;
$athens-gray: #e5e8ec;
$alice-blue: #f4f8fb;
$bright-gray: #eaeef0;
$bluish-cyan: #f1faff;
$grayish-blue: #cdd0d5;

// Social colors
$primary-anchor: #0052ce;
$secondary-facebook: #5573b2;
$primary-instagram: #517fa4;
$secondary-instagram: #6b99be;
$primary-twitter: #00aced;
$secondary-twitter: #1ac6ff;
$primary-youtube: #b00;
$secondary-youtube: #d51a1a;
$primary-linkedin: #0077b7;
$secondary-linkedin: #0077b7;
$primary-pinterest: #cb2027;
$secondary-pinterest: #f1f2f2;
