
$black: #000000;
$blue-1: #304CB2;
$blue-1-light: #4A66CC;
$blue-2: #1A2C80;
$blue-3: #111B40;
$blue-3-light: #DDE7FF;
$blue-4: #0B142D;
$gray-1: #F4F4F4;
$gray-2: #E5E5E5;
$gray-3: #CCCCCC;
$gray-4: #5F5F5F;
$gray-5: #AFAFAF;
$gray-5-dark: #969696;
$green-1: #00801F;
$green-2: #00AD2A;
$red-1: #D5152E;
$red-2: #F0455A;
$yellow-1: #FFBF27;
$white: #FFFFFF;
$dark-blue: #002D72;
$cyan-blue: #434A51;
$pale-blue: #CDE1F8;
$pale-green: #DBF5D9;
$athens-gray: #E5E8EC;
$alice-blue: #F4F8FB;
$bright-gray: #EAEEF0;

// Social colors
$primary-anchor: #0052CE;
$secondary-facebook: #5573B2;
$primary-instagram: #517FA4;
$secondary-instagram: #6B99BE;
$primary-twitter: #00ACED;
$secondary-twitter: #1AC6FF;
$primary-youtube: #BB0000;
$secondary-youtube: #D51A1A;
$primary-linkedin: #0077B7;
$secondary-linkedin: #0077B7;
$primary-pinterest: #CB2027;
$secondary-pinterest: #F1F2F2;
