@use "./sizes" as sizes;

$font-size-11: sizes.$size-11;
$font-size-12: sizes.$size-12;
$font-size-13: sizes.$size-13;
$font-size-14: sizes.$size-14;
$font-size-16: sizes.$size-16;
$font-size-18: sizes.$size-18;
$font-size-20: sizes.$size-20;
$font-size-22: sizes.$size-22;
$font-size-24: sizes.$size-24;
$font-size-26: sizes.$size-26;
$font-size-28: sizes.$size-28;
$font-size-30: sizes.$size-30;
$font-size-32: sizes.$size-32;
$font-size-36: sizes.$size-36;
$font-size-40: sizes.$size-40;
$font-size-42: sizes.$size-42;
$font-size-48: sizes.$size-48;
$font-size-52: sizes.$size-52;
$line-height-10: 0.625rem;
$line-height-12: 0.75rem;
$line-height-14: 0.875rem;
$line-height-16: 1rem;
$line-height-18: 1.125rem;
$line-height-20: 1.25rem;
$line-height-24: 1.5rem;
$line-height-26: 1.375rem;
$line-height-28: 1.75rem;
$line-height-30: 1.875rem;
$line-height-32: 2rem;
$line-height-36: 2.25rem;
$line-height-38: 2.375rem;
$line-height-40: 2.5rem;
$line-height-42: 2.625rem;
$line-height-46: 2.875rem;
$line-height-48: 3rem;
$line-height-52: 3.25rem;
$line-height-56: 3.5rem;
$line-height-60: 3.75rem;
$line-height-64: 4rem;
$letter-spacing-50: 3.125rem;
