.customBodyRow {
  padding: 24px;
  padding-right: 0;
}

.link {
  color: #4178FF;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  padding: 7px 15px;
  transition: ease-out 300ms;
  border-radius: 20px;

  &:hover {
    background-color: #fff;
    box-shadow: inset 0 -1px 0 #c7ccd1;
  }
}

.mobileRow {
  width: calc(50% - 8px);
  text-align: left;
}
