@import "../../../../../scss/globalDefines.scss";

 
.container {
    border-bottom: 1px solid #DDDDDD;
    padding: 15px 0px;
}



.labelContainer {
    display: flex;
    align-items: center;
    gap: 5px;

    .chevronIcon {
        cursor: pointer;
    }

    .rotateIcon {
        transform: rotate(-90deg);
    }
}

.itemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 8.5px 12.5px;
    cursor: pointer;
    
    @include small {
        padding: 4px;
        gap: 2px;

        svg {
            width: 16px;
            min-width: 16px;
        }
    }
}

.tabLabel{
    display: flex;
    width: 60%;

    .tagIcon{
        margin-right: 10px;
    }
}

.actionIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.editTagContainer{
    display: flex;
    justify-content: space-between;
}


.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.saveButton {
  border-radius: 25px !important;
  padding: 5px 12px !important;
  background-color: #4178ff !important;

  span {
    font-size: 14px !important;
    color: #ffffff !important;
    font-weight: 500;
  }

  &:hover {
    background-color: #1357FF !important;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


.cancelButton {
  border-radius: 25px !important;
  padding: 5px 20px !important;

  span {
    font-size: 14px !important;
    color: #4178ff !important;
    font-weight: 500;
  }

  &:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    color: #1357FF !important
  }
}


.addNewButton{
     padding: 5px 20px !important;
      border-radius: 8px !important;
      border: 1px solid #4178ff !important;; 
    span {
        font-size: 14px !important;
        color: #4178ff !important;
        font-weight: 500;
    }
}


.createActionIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}