@use "scss/globalDefines" as defines_global;


.container {
  border-bottom: 1px solid #DDD;
  padding: 15px 0;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chevronLabelContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chevronIcon {
  cursor: pointer;
}

.rotateIcon {
  transform: rotate(-90deg);
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 6px 12.5px;
  margin-top: 10px;
  border-radius: 4px;

  @include defines_global.small {
    padding: 4px;
    gap: 2px;

    svg {
      width: 16px;
      min-width: 16px;
    }
  }
}

.selectableItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 6px 12.5px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #D9E4FF;
  }

  @include defines_global.small {
    padding: 4px;
    gap: 2px;

    svg {
      width: 16px;
      min-width: 16px;
    }
  }

}



.tabLabel {
  display: flex;

  .tagIcon {
    margin-right: 10px;
  }
}

.actionIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.editTagContainer {
  display: flex;
  justify-content: space-between;
}


.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.saveButton {
  border-radius: 25px !important;
  padding: 5px 12px !important;
  background-color: #4178ff !important;

  span {
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 500;
  }

  &:hover {
    background-color: #1357FF !important;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


.cancelButton {
  border-radius: 25px !important;
  padding: 5px 20px !important;

  span {
    font-size: 14px !important;
    color: #4178ff !important;
    font-weight: 500;
  }

  &:hover {
    background: #FFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
    color: #1357FF !important
  }
}


.addNewButton {
  padding: 5px 20px !important;
  border-radius: 8px !important;

  span {
    font-size: 16px !important;
    color: #4178FF !important;
    font-weight: 500;
  }
}


.createActionIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.selectedItem {
  background-color: #F1FAFF;

}