@import "../../styles/global";

.image {
  position: absolute;
  width: 100%;
}

.laptop {
  position: relative;
}

.website {
  position: absolute;
  padding-right: 14.5%;
  padding-left: 13.5%;
  margin-top: 4.65%;
  width: 100%;
}
