@import "../../scss/globalDefines";
@import "../../styles/global";

.counterCard {
  display: flex;
  flex-direction: column;
  width: 22%;

  .countName {
    font-size: 20px;
    color: #002d72;
    height: 44px;

    @media (width <= 768px) {
      font-size: 14px;
    }
  }

  .countInfo {
    display: flex;
    align-items: center;
    height: 88px;
    margin-top: 10px;
    background-color: white;
    border-radius: 0 8px 8px 0;
    margin-bottom: 20px;
    cursor: pointer;

    .countColour {
      width: 10%;
      height: 100%;
      border-radius: 8px 0 0 8px;
    }

    .Started {
      background-color: #deebfb;
    }

    .Applied {
      background-color: #fcf6b0;
    }

    .Issued {
      background-color: #defbe6;
    }

    .Declined {
      background-color: #fbdede;
    }

    .count {
      width: 90%;
      text-align: center;
      color: #002d72;
      font-size: 48px;
    }
  }

  .selected::after {
    content: "";
    display: block;
    position: absolute;
    margin-left: 84px;
    margin-top: 100px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
  
    @include mobileOnly {
      margin-left: 27px;
      margin-top: 76px;
    }
  }
}
