.buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.helpTxt {
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.container {
    width: 100%;
}
