@use "scss/globalDefines" as defines_global;

.callScript {
  height: 22px;
  width: 22px;
}

.contactsContainer {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.outerContainer {
  display: flex;
  justify-content: center;
  background-color: #f4f8fb;
  width: 100%;

  .innerContainer {
    min-width: 328px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    gap: 2rem;
    width: 60%;

    .medContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  .contactsListContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 350px;
    width: 100%;

    .contactItem {
      background-color: #fff;
    }

    .emptyList {
      height: 350px;
      width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: defines_global.$bright-gray;
    }
  }
}

.headerSection {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: inset 0 -1px 0 #c7ccd1;
}

.contactName {
  padding: 4px 8px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #f1faff;
  }
}

.possibleMatch {
  width: 100%;

  .title {
    color: #002d72;
    font-size: 20px;
  }

  .matchList {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;

    .matchItem {
      color: #051d43;
      font-size: 16px;
      padding: 10px;
      box-shadow: inset 0 -1px 0 #00000029;
      cursor: pointer;

      &:last-child {
        box-shadow: unset;
      }
    }
  }
}

.callRecording {
  display: flex;
  align-items: center;
  flex-direction: column;

  .content {
    color: #051d43;
    font-size: 16px;
  }

  .mt10 {
    margin-top: 10px;
  }
}

.backToContacts {
  height: 56px;
  background-color: #0052ce;
  padding: 18px 46px;
  color: white;
}

.backToContactsBtn {
  background-color: #0052ce;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
