.rating {
  color: #4178FF;

  svg {
    margin-right: 4px;
  }
}

.zero-rating {
  color: #64748b;
  line-height: 21px;
  display: flex;
  align-items: center;

  &-label {
    font-style: italic;
    margin-right: 5px;
  }
}
