.customFilter {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;

  @media (max-width: 767px) and (min-width: 320px) {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.filterButton {
  padding: 0px !important;
  border: 0px;
  color: #3d4553;

  &:hover {
    background: #f9fafb;
  }
}


@media (max-width: 480px) {
  .drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
}