@import "../../scss/globalDefines";

.FinalExpenseContainer {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}

.planOptionsCardContainer {
    width: 25%;
}

.planCardsContainer {
    width: 70%;
    padding-top: 8%;
}

.pageHeading {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
