.connectModalBody {
    padding: var(--padding-gap-lg-24, 24px);;
    background-color: #fff;
    border-radius: 4px;

}

.title{
    color: #052A63;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.infoIcon{
    cursor: pointer;
  }