.activity-table {
  overflow: auto;

  @media screen and (width >= 320px) and (width <= 480px) {
    margin: 10px 12px;
  }

  span.title {
    font-size: 24px;
    line-height: 130%;
    color: #2b323b;
  }

  .table {
    background: #fff;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 5%);
    border-radius: 4px;
    margin-top: 30px;
    padding: 35px;

    @media screen and (width >= 320px) and (width <= 480px) {
      padding: 12px;

      .tbody {
        overflow-x: hidden;
      }
    }

    .thead {
      padding-right: 35px;
      display: none;
    }

    @media screen and (width >= 480px) {
      min-width: 550px;

      .thead {
        display: block;
      }

      .tbody {
        max-height: calc(100vh - 250px);
        min-height: 750px;
        overflow-x: auto;
        padding-right: 35px;

        &.MenuList {
          margin-right: 0;
        }
      }
    }
  }

  .trow {
    min-height: 69px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 12%);

    @media screen and (width >= 320px) and (width <= 480px) {
      flex-direction: column;
      align-items: flex-start;
      min-height: 116px;
      padding: 14px;
      position: relative;
      justify-content: space-between;
    }
  }

  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    color: #64748b;
    height: 79px;
    cursor: pointer;
  }

  @media screen and (width >= 320px) and (width <= 480px) {
    .tcell.updated {
      position: absolute;
      right: 0;
    }
  }

  .tcell {
    text-align: left;
    word-break: break-all;
  }

  @media screen and (width >= 480px) {
    .tcell.contact {
      flex: 2;
    }

    .tcell.activity {
      flex: 3;
    }

    .tcell.updated {
      flex: 2;
    }

    .tcell.action {
      flex: 1;
      min-width: 120px;
    }
  }

  .thead > .trow > .tcell {
    font-size: 14px;
    line-height: 150%;
    color: #64748b;
    word-break: normal;
  }

  .tbody > .trow > .tcell {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2b323b;
  }
}
