@use "scss/globalDefines" as defines_global;

.bannerSection {
  display: flex;
  gap: 25px;
  top: 96px;
  width: 100%;
  height: 72px;
  background: defines_global.$bluish-cyan 0 0 no-repeat padding-box;
  box-shadow: inset 0 -1px 0 #c7ccd1;
  align-items: center;

  @include defines_global.small {
    height: 100px;
    flex-wrap: wrap;
  }
}
