@use 'scss/globalDefines' as defines_global;

.activityDataCell {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerWithFilter {
  display: flex;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .icon {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f1faff;
      border-radius: 40px;
    }
  }

  .iconReverse {
    transform: rotate(180deg);
  }
}

.recentActivity {
  @include defines_global.small {
    margin-left: 10px;
  }

  & {
    font-size: 32px;
    font-weight: normal;
  }
}

.filterButton {
  top: 90px;
  position: relative;

  @include defines_global.small {
    top: 0;
  }
}

.segregator {
  border-bottom: 1px solid #ccc;
  max-width: none;
}

.content {
  padding: 1.5rem;
}

.showMoreLink {
  color: #4178ff;
  cursor: pointer;
  font-weight: 600;
  background-color: #fff;
  padding: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
