.dashboard-help-wrapper {
  display: flex;
  align-items: center;
  margin: 21px 35px;
  background: #fff;
  border: 1px solid #f1f5f9;
  box-sizing: border-box;
  box-shadow: 0 8px 10px rgb(0 0 0 / 5%);
  border-radius: 4px;
  flex-basis: 0;
  flex-grow: 1;

  @media screen and (width >= 320px) and (width <= 480px) {
    margin: 18px 12px;
  }

  .help-text {
    padding: 15px 20px;
    font-size: 16px;
    color: #2b323b;

    @media screen and (width >= 320px) and (width <= 480px) {
      font-size: 12px;
    }

    .help-click {
      @media screen and (width >= 320px) and (width <= 480px) {
        display: block;
      }

      color: var(--v2-royal-blue);
      cursor: pointer;

      .right-arrow {
        height: 14px;
        width: 14px;
      }
    }
  }
}
