.dashboard-page {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-self: flex-start;
  width: 100%;
  background: #F4F8FB;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 100%;
    flex-direction: column;
  }
  .details-section {
    
    flex: 3;
    flex-grow: 0;
    @media screen and (min-width: 320px) and (max-width: 480px) {
      background: #f1f5f9;
    }
    .greeting {
      height: 257px;
      background-repeat: no-repeat;
      position: relative;
      display: flex;
      flex-direction: column;
      & > img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .greet-user {
        padding-left: 40px;
        font-size: 32px;
        color: #ffffff;
        z-index: 1;
        padding-top: 25px;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          padding-top: 25px;
        }
      }
      .rangeText {
        font-weight: 600;
      }
      .confirmed-applications-wrapper {
        position: absolute;
        bottom: -45px;
        display: flex;
        margin: 0px 30px 0px 30px;
        width: calc(100% - 60px);
        height: 150px;
        background: #ffffff;
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          margin: 0px 12px 0px 12px;
          width: calc(100% - 24px);
        }
        .wrapper-body {
          padding-left: 24px;
          width: 100%;
          .header-text {
            padding: 12px 0 4px 0;
            font-size: 12px;
            font-weight: 400;
            color: #64748b;
          }
          .application-count {
            font-size: 24px;
            font-weight: 600;
            color: #002D72;
          }
          .application-sort {
            padding: 12px 0px 15px 0px;
            width: calc(100% - 27px);
            @media screen and (min-width: 320px) and (max-width: 480px) {
              .select {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
    
    .application-form-text {
      height: 55px;
      margin: 52px 65px 12px 35px;
      font-size: 12px;
      font-weight: 400;
      color: #64748b;
      display: flex;
      padding-left: 20px;
      @media screen and (min-width: 320px) and (max-width: 480px) {
        margin: 60px 44px 12px 12px;
      }
      .application-asterick {
        width: 5px;
      }
    }
    .snapshot-wrapper {
      .title {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        padding-right: 32px;
        color: #002D72;
        margin-left: 20px;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          margin-left: 10px;
          margin-right: 30px;
        }
      }
      .snapshot-data {
        margin: 16px 32px 20px 35px;
        padding: 20px 13px 20px 13px;
        background: #ffffff;
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        @media screen and (min-width: 320px) and (max-width: 480px) {
          margin: 16px 12px 20px 15px;
        }
        .snapshot-item {
          height: 40px;
          font-weight: 400;
          font-size: 20px;
          border-radius: 4px;
          color: #2b323b;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7px;
          &:hover {
            background: #f2f9ff;
            cursor: pointer;
            color: #0052ce;
            font-weight: 600;
          }
        }
      }
    }
  }
  .recent-activity-section {

    @media screen and (min-width: 480px) {
      margin: 40px 5% 0px 5%;
    }
    flex: 7;
    @media screen and (min-width: 320px) and (max-width: 480px) {
      background: #f1f5f9;
      width: 100%;
    }
  }
}

.action-button {
  font-size: 14px;
  font-weight: 400;
  color: #0052ce;
}

.resources {
  margin-left: 35px;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.incomming-cal-wrapper {
  display: flex;
  align-items: center;
}

.header-tag {
  color: #434a51;
  font-size: 1rem;
}

.banners {
  padding: 10px 35px;
}
