.customBody {
  background-color: white;
  border-radius: 8px;

  tr {
    border-bottom: 1px solid #f1f1f1;
  }
}

.customBodyRow {
  padding: 24px;
}

.link {
  color: #4178FF;
  cursor: pointer;
}
