.details-table {
  @media screen and (max-width: 768px) {
    background-color: #ffffff;
    border-radius: 8px;
  }
  & > .row-group:nth-child(odd) {
    border-radius: 4px;
    @media screen and (min-width: 768px) {
      background: #f1f5f9;
    }
  }
  & > .row-group:last-child {
    @media screen and (max-width: 768px) {
      border-bottom: 0px;
    }
  }
  & > .row-group {
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .bottom-actions {
      margin-left: 20px;
      align-self: center;
    }
    @media screen and (max-width: 768px) {
      border-bottom: 1px solid #cdd0d5;
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      align-items: flex-start;
      padding: 16px 12px;
      flex-wrap: wrap;
      .side-actions {
        margin-top: 0;
      }
      .bottom-actions {
        width: 100%;
        display: flex;
        margin-left: 0px;
        margin-top: 15px;
      }
    }

    & > .row {
      flex: 5;
      display: flex;
      justify-content: space-between;
      & > div {
        flex: 1;
      }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .side-actions {
      align-self: center;
      flex: 1;
      justify-content: flex-end;
      display: flex;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        justify-content: flex-end;
        align-self: center;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

.cell-data {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  color: #6c737b;
  line-height: 130%;
  &:not(:last-child) {
    margin-right: 10px;
  }
  .header {
    font-size: 20px;
    font-weight: 600;
    color: #002d72;
  }
  .subText,
  .secondarySubText {
    margin-top: 4px;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    &:not(first-child) {
      margin-top: 0;
    }
    & > * {
      padding-top: 4px;
    }
  }
}

button {
  cursor: pointer;
  color: #434a51;
  font-size: 16px;
  font-family: Lato;
  line-height: 20px;
  background-color: inherit;
  border: none;
  padding: 0px;
}
.delete {
  color: #f44336;
  font-size: 16px;
  font-weight: 600;
}

.edit {
  color: #0052ce;
  font-size: 16px;
  font-weight: 600;
}
