.customBody {
    background-color: white;
    border-radius: 8px;

    tr {
        border-bottom: 1px solid #f1f1f1;
    }

    tr td:first-child {
        width: 25%;
    }

    tr td:nth-child(2) {
        width: 10%;
    }

    tr td:nth-child(3) {
        width: 20%;
    }

    tr td:nth-child(4) {
        width: 20%;
    }

    tr td:nth-child(5) {
        width: 10%;
    }

    tr td:nth-child(6) {
        width: 10%;
    }

    tr td:nth-child(7) {
        width: 10%;
    }
}

.customBodyRow {
    padding: 24px;
}

.link {
    color: #4178ff;
    cursor: pointer;
}

// Mobile styling

.mobileContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    gap: 15px;
}

.error {
    width: 100%;
    text-align: center;
    color: #f44336;
}

.errorTable {
    position: absolute;
    left: 35%;
    bottom: 0;
    color: #f44336;
}

.customRow {
    position: relative;
}
