.customTable {
    width: 100%;
    min-width: 768px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 40px;
    position: relative;

    // Carrier column
    thead tr th:first-child {
        width: 25%;
        min-width: 130px;
    }

    // product column
    thead tr th:nth-child(2) {
        width: 30%;
    }

    // Producer column
    thead tr th:nth-child(3) {
        width: 20%;
    }

    // Action
    thead tr th:nth-child(4) {
        width: 25%;
    }

    tbody tr:first-child td:first-child {
        border-top-left-radius: 8px;
    }

    tbody tr:first-child td:last-child {
        border-top-right-radius: 8px;
    }
}

.pill {
    background-color: #f1f1f1;
    color: #717171;
    padding: 3px 7px;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.customTextField {
    width: 120px;
}
