// IMPORTANT REMINDER: Always keep this alphabetized!
@use "scss/globalDefines" as defines_global;

// Colors
$blue: #0052cf;
$darkBeige: #908f87;
$grayishYellow: #eeede6;
$lightBlue: #f4f8fb;
$bleakBlue: #e5edfa;
$lightYellow: #fafafa;
$navy: #012972;
$transparentSilver: rgba($blue, 0.25);
$white: #fff;

// Semantic Colors
$backgroundColor: $white;
$inverseTextColor: $white;
$textColor: defines_global.$black;
$uiHeaderWithLoginActionButtonBackgroundColor: var(--ui-header-with-login-action-button-background-color, #0052cf);
$uiHeaderWithLoginBackgroundColor: var(--ui-header-with-login-background-color, #052a63);
$uiHeaderWithLoginLinkTextColor: var(--ui-header-with-login-link-text-color, $white);

// Component Colors
$centeredBackgroudColor: $lightBlue;
$dotActiveBackgroundColor: $transparentSilver;
$dotBackgroundColor: $blue;
$footerBackgroundColor: $backgroundColor;
$footerTextColor: $textColor;
$headerBackgroundColor: $grayishYellow;
$iconBackgroundColor: $bleakBlue;

// Theme overrides

:root {
    --ui-button-components-button-background-color: #{$blue};
    --ui-text-components-heading-text-color: #{$navy};
    --ui-text-components-section-title-text-color: #{$navy};
    --palette-_native-scrollbar-bg: var(--material-colors-grey-200);
    --palette-action-active: rgb(0 0 0 / 56%);
    --palette-action-disabled: rgb(0 0 0 / 38%);
    --palette-action-disabledBackground: rgb(0 0 0 / 12%);
    --palette-action-focus: rgb(0 0 0 / 12%);
    --palette-action-hover: rgb(0 0 0 / 15%);
    --palette-action-selected: var(--Integrity-Theme-Integrity-royal-light-1);
    --palette-background-default: var(--Integrity-Theme-Integrity-gray-light-1);
    --palette-background-paper-elevation-0: #fff;
    --palette-background-paper-elevation-1: #fff;
    --palette-background-paper-elevation-2: #fff;
    --palette-background-paper-elevation-3: #fff;
    --palette-background-paper-elevation-4: #fff;
    --palette-background-paper-elevation-5: #fff;
    --palette-background-paper-elevation-6: #fff;
    --palette-background-paper-elevation-7: #fff;
    --palette-background-paper-elevation-8: #fff;
    --palette-background-paper-elevation-9: #fff;
    --palette-background-paper-elevation-10: #fff;
    --palette-background-paper-elevation-11: #fff;
    --palette-background-paper-elevation-12: #fff;
    --palette-background-paper-elevation-13: #fff;
    --palette-background-paper-elevation-14: #fff;
    --palette-background-paper-elevation-15: #fff;
    --palette-background-paper-elevation-16: #fff;
    --palette-background-paper-elevation-17: #fff;
    --palette-background-paper-elevation-18: #fff;
    --palette-background-paper-elevation-19: #fff;
    --palette-background-paper-elevation-20: #fff;
    --palette-background-paper-elevation-21: #fff;
    --palette-background-paper-elevation-22: #fff;
    --palette-background-paper-elevation-23: #fff;
    --palette-background-paper-elevation-24: #fff;
    --palette-common-black-focus: rgb(0 0 0 / 12%);
    --palette-common-black-focusVisible: rgb(0 0 0 / 30%);
    --palette-common-black-hover: rgb(0 0 0 / 15%);
    --palette-common-black-main: var(--Integrity-Theme-primitive-black);
    --palette-common-black-outlinedBorder: rgb(0 0 0 / 50%);
    --palette-common-black-selected: rgb(0 0 0 / 8%);
    --palette-common-white-focus: rgb(255 255 255 / 12%);
    --palette-common-white-focusVisible: rgb(255 255 255 / 30%);
    --palette-common-white-hover: rgb(255 255 255 / 15%);
    --palette-common-white-main: var(--Integrity-Theme-primitive-white);
    --palette-common-white-outlinedBorder: rgb(255 255 255 / 50%);
    --palette-common-white-selected: rgb(255 255 255 / 8%);
    --palette-components-alert-error-background: var(--Integrity-Theme-error-soft);
    --palette-components-alert-error-color: var(--palette-error-main);
    --palette-components-alert-info-background: var(--Integrity-Theme-Integrity-royal-light-1);
    --palette-components-alert-info-color: var(--palette-info-dark);
    --palette-components-alert-success-background: var(--Integrity-Theme-success-soft);
    --palette-components-alert-success-color: var(--Integrity-Theme-success-hard);
    --palette-components-alert-warning-background: var(--Integrity-Theme-warning-soft);
    --palette-components-alert-warning-color: var(--Integrity-Theme-warning-hard);
    --palette-components-appBar-defaultFill: var(--material-colors-grey-100);
    --palette-components-avatar-fill: var(--material-colors-grey-400);
    --palette-components-backdrop-fill: rgb(5 42 99 / 70%);
    --palette-components-breadcrumbs-collapseFill: var(--material-colors-grey-100);
    --palette-components-chip-defaultCloseFill: var(--palette-common-black-main);
    --palette-components-chip-defaultEnabledBorder: var(--material-colors-grey-400);
    --palette-components-chip-defaultFocusFill: rgb(0 0 0 / 20%);
    --palette-components-chip-defaultHoverFill: rgb(0 0 0 / 12%);
    --palette-components-input-filled-enabledFill: rgb(0 0 0 / 6%);
    --palette-components-input-filled-hoverFill: rgb(0 0 0 / 9%);
    --palette-components-input-outlined-enabledBorder: rgb(0 0 0 / 23%);
    --palette-components-input-outlined-hoverBorder: var(--Integrity-Theme-Integrity-navy-default);
    --palette-components-input-standard-enabledBorder: rgb(0 0 0 / 42%);
    --palette-components-input-standard-hoverBorder: var(--palette-common-black-main);
    --palette-components-rating-activeFill: #ffb400;
    --palette-components-rating-enabledBorder: rgb(0 0 0 / 23%);
    --palette-components-snackbar-fill: var(--palette-common-white-main);
    --palette-components-stepper-connector: var(--material-colors-grey-400);
    --palette-components-switch-knobFillEnabled: var(--material-colors-grey-50);
    --palette-components-switch-knowFillDisabled: var(--material-colors-grey-100);
    --palette-components-switch-slideFill: var(--Integrity-Theme-Integrity-navy-light-0);
    --palette-components-tooltip-fill: rgb(97 97 97 / 90%);
    --palette-divider: rgb(0 0 0 / 12%);
    --palette-elevation-outlined: #e0e0e0;
    --palette-error-contrast: var(--palette-common-white-main);
    --palette-error-dark: var(--Integrity-Theme-error-dark-1);
    --palette-error-focusVisible: rgb(200 30 38 / 30%);
    --palette-error-hover: rgb(200 30 38 / 15%);
    --palette-error-light: var(--Integrity-Theme-error-soft);
    --palette-error-main: var(--Integrity-Theme-error-hard);
    --palette-error-outlinedBorder: rgb(200 30 38 / 50%);
    --palette-error-selected: rgb(200 30 38 / 8%);
    --palette-info-contrast: var(--palette-common-white-main);
    --palette-info-dark: var(--Integrity-Theme-Integrity-navy-light-3);
    --palette-info-focusVisible: rgb(73 100 139 / 30%);
    --palette-info-hover: rgb(73 100 139 / 15%);
    --palette-info-light: var(--Integrity-Theme-Integrity-navy-light-0);
    --palette-info-main: var(--Integrity-Theme-Integrity-navy-light-1);
    --palette-info-outlinedBorder: rgb(73 100 139 / 50%);
    --palette-info-selected: rgb(73 100 139 / 8%);
    --palette-primary-contrast: var(--palette-common-white-main);
    --palette-primary-dark: var(--Integrity-Theme-Integrity-royal-hover);
    --palette-primary-focus: rgb(65 120 255 / 12%);
    --palette-primary-focusVisible: rgb(65 120 255 / 30%);
    --palette-primary-hover: rgb(65 120 255 / 15%);
    --palette-primary-light: var(--material-colors-blue-400);
    --palette-primary-main: var(--Integrity-Theme-Integrity-royal-default);
    --palette-primary-outlinedBorder: rgb(65 120 255 / 50%);
    --palette-primary-selected: rgb(65 120 255 / 8%);
    --palette-secondary-contrast: var(--Integrity-Theme-Integrity-royal-hover);
    --palette-secondary-dark: #f6f6f6;
    --palette-secondary-focus: rgb(255 255 255 / 12%);
    --palette-secondary-focusVisible: rgb(255 255 255 / 30%);
    --palette-secondary-hover: rgb(255 255 255 / 15%);
    --palette-secondary-light: var(--Integrity-Theme-primitive-white);
    --palette-secondary-main: var(--Integrity-Theme-primitive-white);
    --palette-secondary-outlinedBorder: rgb(255 255 255 / 50%);
    --palette-secondary-selected: rgb(255 255 255 / 8%);
    --palette-success-contrast: var(--palette-common-white-main);
    --palette-success-dark: #008011;
    --palette-success-focusVisible: rgb(0 158 21 / 30%);
    --palette-success-hover: rgb(0 158 21 / 15%);
    --palette-success-light: var(--Integrity-Theme-success-soft);
    --palette-success-main: var(--Integrity-Theme-success-hard);
    --palette-success-outlinedBorder: rgb(0 158 21 / 50%);
    --palette-success-selected: rgb(0 158 21 / 8%);
    --palette-text-disabled: rgb(0 0 0 / 38%);
    --palette-text-focus: rgb(0 0 0 / 12%);
    --palette-text-focusVisible: rgb(0 0 0 / 30%);
    --palette-text-hover: rgb(0 0 0 / 15%);
    --palette-text-primary: var(--Integrity-Theme-Integrity-gray-dark-4);
    --palette-text-secondary: var(--Integrity-Theme-Integrity-gray-default);
    --palette-text-selected: rgb(0 0 0 / 8%);
    --palette-warning-contrast: var(--palette-common-white-main);
    --palette-warning-dark: #d03e00;
    --palette-warning-focusVisible: rgb(245 102 0 / 30%);
    --palette-warning-hover: rgb(245 102 0 / 15%);
    --palette-warning-light: var(--Integrity-Theme-warning-soft);
    --palette-warning-main: var(--Integrity-Theme-warning-hard);
    --palette-warning-outlinedBorder: rgb(245 102 0 / 50%);
    --palette-warning-selected: rgb(245 102 0 / 8%);
    --material-colors-amber-50: #fff8e1;
    --material-colors-amber-100: #ffecb3;
    --material-colors-amber-200: #ffe082;
    --material-colors-amber-300: #ffd54f;
    --material-colors-amber-400: #ffca28;
    --material-colors-amber-500: #ffc107;
    --material-colors-amber-600: #ffb300;
    --material-colors-amber-700: #ffa000;
    --material-colors-amber-800: #ff8f00;
    --material-colors-amber-900: #ff6f00;
    --material-colors-amber-A100: #ffe57f;
    --material-colors-amber-A200: #ffd740;
    --material-colors-amber-A400: #ffc400;
    --material-colors-amber-A700: #ffab00;
    --material-colors-blue-50: #e3f2fd;
    --material-colors-blue-100: #bbdefb;
    --material-colors-blue-200: #90caf9;
    --material-colors-blue-300: #64b5f6;
    --material-colors-blue-400: #42a5f5;
    --material-colors-blue-500: #2196f3;
    --material-colors-blue-600: #1e88e5;
    --material-colors-blue-700: #0057b2;
    --material-colors-blue-800: #1565c0;
    --material-colors-blue-900: #0d47a1;
    --material-colors-blue-A100: #82b1ff;
    --material-colors-blue-A200: #448aff;
    --material-colors-blue-A400: #2979ff;
    --material-colors-blue-A700: #2962ff;
    --material-colors-blueGrey-50: #eceff1;
    --material-colors-blueGrey-100: #cfd8dc;
    --material-colors-blueGrey-200: #b0bec5;
    --material-colors-blueGrey-300: #90a4ae;
    --material-colors-blueGrey-400: #78909c;
    --material-colors-blueGrey-500: #607d8b;
    --material-colors-blueGrey-600: #546e7a;
    --material-colors-blueGrey-700: #455a64;
    --material-colors-blueGrey-800: #37474f;
    --material-colors-blueGrey-900: #263238;
    --material-colors-blueGrey-A100: #cfd8dc;
    --material-colors-blueGrey-A200: #b0bec5;
    --material-colors-blueGrey-A400: #78909c;
    --material-colors-blueGrey-A700: #455a64;
    --material-colors-cyan-50: #e0f7fa;
    --material-colors-cyan-100: #b2ebf2;
    --material-colors-cyan-200: #80deea;
    --material-colors-cyan-300: #4dd0e1;
    --material-colors-cyan-400: #26c6da;
    --material-colors-cyan-500: #00bcd4;
    --material-colors-cyan-600: #00acc1;
    --material-colors-cyan-700: #0097a7;
    --material-colors-cyan-800: #00838f;
    --material-colors-cyan-900: #006064;
    --material-colors-cyan-A100: #84ffff;
    --material-colors-cyan-A200: #18ffff;
    --material-colors-cyan-A400: #00e5ff;
    --material-colors-cyan-A700: #00b8d4;
    --material-colors-deepOrange-50: #fbe9e7;
    --material-colors-deepOrange-100: #ffccbc;
    --material-colors-deepOrange-200: #ffab91;
    --material-colors-deepOrange-300: #ff8a65;
    --material-colors-deepOrange-400: #ff7043;
    --material-colors-deepOrange-500: #ff5722;
    --material-colors-deepOrange-600: #f4511e;
    --material-colors-deepOrange-700: #e64a19;
    --material-colors-deepOrange-800: #d84315;
    --material-colors-deepOrange-900: #bf360c;
    --material-colors-deepOrange-A100: #ff9e80;
    --material-colors-deepOrange-A200: #ff6e40;
    --material-colors-deepOrange-A400: #ff3d00;
    --material-colors-deepOrange-A700: #dd2c00;
    --material-colors-deepPurple-50: #ede7f6;
    --material-colors-deepPurple-100: #d1c4e9;
    --material-colors-deepPurple-200: #b39ddb;
    --material-colors-deepPurple-300: #9575cd;
    --material-colors-deepPurple-400: #7e57c2;
    --material-colors-deepPurple-500: #673ab7;
    --material-colors-deepPurple-600: #5e35b1;
    --material-colors-deepPurple-700: #512da8;
    --material-colors-deepPurple-800: #4527a0;
    --material-colors-deepPurple-900: #311b92;
    --material-colors-deepPurple-A100: #b388ff;
    --material-colors-deepPurple-A200: #7c4dff;
    --material-colors-deepPurple-A400: #651fff;
    --material-colors-deepPurple-A700: #6200ea;
    --material-colors-green-50: #e8f5e9;
    --material-colors-green-100: #c8e6c9;
    --material-colors-green-200: #a5d6a7;
    --material-colors-green-300: #81c784;
    --material-colors-green-400: #66bb6a;
    --material-colors-green-500: #4caf50;
    --material-colors-green-600: #43a047;
    --material-colors-green-700: #388e3c;
    --material-colors-green-800: #2e7d32;
    --material-colors-green-900: #1b5e20;
    --material-colors-green-A100: #b9f6ca;
    --material-colors-green-A200: #69f0ae;
    --material-colors-green-A400: #00e676;
    --material-colors-green-A700: #00c853;
    --material-colors-grey-50: #fafafa;
    --material-colors-grey-100: #f5f5f5;
    --material-colors-grey-200: #eee;
    --material-colors-grey-300: #e0e0e0;
    --material-colors-grey-400: #bdbdbd;
    --material-colors-grey-500: #9e9e9e;
    --material-colors-grey-600: #757575;
    --material-colors-grey-700: #616161;
    --material-colors-grey-800: #424242;
    --material-colors-grey-900: #212121;
    --material-colors-grey-A100: #f5f5f5;
    --material-colors-grey-A200: #eee;
    --material-colors-grey-A400: #bdbdbd;
    --material-colors-grey-A700: #616161;
    --material-colors-indigo-50: #e8eaf6;
    --material-colors-indigo-100: #c5cae9;
    --material-colors-indigo-200: #9fa8da;
    --material-colors-indigo-300: #7986cb;
    --material-colors-indigo-400: #5c6bc0;
    --material-colors-indigo-500: #3f51b5;
    --material-colors-indigo-600: #3949ab;
    --material-colors-indigo-700: #303f9f;
    --material-colors-indigo-800: #283593;
    --material-colors-indigo-900: #1a237e;
    --material-colors-indigo-A100: #8c9eff;
    --material-colors-indigo-A200: #536dfe;
    --material-colors-indigo-A400: #3d5afe;
    --material-colors-indigo-A700: #304ffe;
    --material-colors-lightBlue-50: #e1f5fe;
    --material-colors-lightBlue-100: #b3e5fc;
    --material-colors-lightBlue-200: #81d4fa;
    --material-colors-lightBlue-300: #4fc3f7;
    --material-colors-lightBlue-400: #29b6f6;
    --material-colors-lightBlue-500: #03a9f4;
    --material-colors-lightBlue-600: #039be5;
    --material-colors-lightBlue-700: #0288d1;
    --material-colors-lightBlue-800: #0277bd;
    --material-colors-lightBlue-900: #01579b;
    --material-colors-lightBlue-A100: #80d8ff;
    --material-colors-lightBlue-A200: #40c4ff;
    --material-colors-lightBlue-A400: #00b0ff;
    --material-colors-lightBlue-A700: #0091ea;
    --material-colors-lightGreen-50: #f1f8e9;
    --material-colors-lightGreen-100: #dcedc8;
    --material-colors-lightGreen-200: #c5e1a5;
    --material-colors-lightGreen-300: #aed581;
    --material-colors-lightGreen-400: #8bc34a;
    --material-colors-lightGreen-500: #8bc34a;
    --material-colors-lightGreen-600: #7cb342;
    --material-colors-lightGreen-700: #689f38;
    --material-colors-lightGreen-800: #558b2f;
    --material-colors-lightGreen-900: #33691e;
    --material-colors-lightGreen-A100: #ccff90;
    --material-colors-lightGreen-A200: #b2ff59;
    --material-colors-lightGreen-A400: #76ff03;
    --material-colors-lightGreen-A700: #64dd17;
    --material-colors-lime-50: #f9fbe7;
    --material-colors-lime-100: #f0f4c3;
    --material-colors-lime-200: #e6ee9c;
    --material-colors-lime-300: #dce775;
    --material-colors-lime-400: #d4e157;
    --material-colors-lime-500: #cddc39;
    --material-colors-lime-600: #c0ca33;
    --material-colors-lime-700: #afb42b;
    --material-colors-lime-800: #9e9d24;
    --material-colors-lime-900: #827717;
    --material-colors-lime-A100: #f4ff81;
    --material-colors-lime-A200: #eeff41;
    --material-colors-lime-A400: #c6ff00;
    --material-colors-lime-A700: #aeea00;
    --material-colors-orange-50: #fff3e0;
    --material-colors-orange-100: #ffe0b2;
    --material-colors-orange-200: #ffcc80;
    --material-colors-orange-300: #ffb74d;
    --material-colors-orange-400: #ffa726;
    --material-colors-orange-500: #ff9800;
    --material-colors-orange-600: #fb8c00;
    --material-colors-orange-700: #f57c00;
    --material-colors-orange-800: #ef6c00;
    --material-colors-orange-900: #ef6c00;
    --material-colors-orange-A100: #ffd180;
    --material-colors-orange-A200: #ffab40;
    --material-colors-orange-A400: #ff9100;
    --material-colors-orange-A700: #ff6d00;
    --material-colors-pink-50: #fce4ec;
    --material-colors-pink-100: #f8bbd0;
    --material-colors-pink-200: #f48fb1;
    --material-colors-pink-300: #f06292;
    --material-colors-pink-400: #ec407a;
    --material-colors-pink-500: #e91e63;
    --material-colors-pink-600: #d81b60;
    --material-colors-pink-700: #c2185b;
    --material-colors-pink-800: #ad1457;
    --material-colors-pink-900: #880e4f;
    --material-colors-pink-A100: #ff80ab;
    --material-colors-pink-A200: #ff4081;
    --material-colors-pink-A400: #f50057;
    --material-colors-pink-A700: #c51162;
    --material-colors-purple-50: #f3e5f5;
    --material-colors-purple-100: #e1bee7;
    --material-colors-purple-200: #ce93d8;
    --material-colors-purple-300: #ba68c8;
    --material-colors-purple-400: #ab47bc;
    --material-colors-purple-500: #9c27b0;
    --material-colors-purple-600: #8e24aa;
    --material-colors-purple-700: #7b1fa2;
    --material-colors-purple-800: #6a1b9a;
    --material-colors-purple-900: #4a148c;
    --material-colors-purple-A100: #ea80fc;
    --material-colors-purple-A200: #e040fb;
    --material-colors-purple-A400: #d500f9;
    --material-colors-purple-A700: #a0f;
    --material-colors-red-50: #feebee;
    --material-colors-red-100: #fecdd2;
    --material-colors-red-200: #ef9a9a;
    --material-colors-red-300: #e57373;
    --material-colors-red-400: #ef5350;
    --material-colors-red-500: #f44336;
    --material-colors-red-600: #e53935;
    --material-colors-red-700: #d32f2f;
    --material-colors-red-800: #c62828;
    --material-colors-red-900: #b71c1c;
    --material-colors-red-A100: #ff8a80;
    --material-colors-red-A200: #ff5252;
    --material-colors-red-A400: #ff1744;
    --material-colors-red-A700: #d50000;
    --material-colors-teal-50: #e0f2f1;
    --material-colors-teal-100: #b2dfdb;
    --material-colors-teal-200: #80cbc4;
    --material-colors-teal-300: #4db6ac;
    --material-colors-teal-400: #26a69a;
    --material-colors-teal-500: #009688;
    --material-colors-teal-600: #00897b;
    --material-colors-teal-700: #00796b;
    --material-colors-teal-800: #00695c;
    --material-colors-teal-900: #004d40;
    --material-colors-teal-A100: #a7ffeb;
    --material-colors-teal-A200: #64ffda;
    --material-colors-teal-A400: #1de9b6;
    --material-colors-teal-A700: #00bfa5;
    --material-colors-yellow-50: #fffde7;
    --material-colors-yellow-100: #fff9c4;
    --material-colors-yellow-200: #fff59d;
    --material-colors-yellow-300: #fff176;
    --material-colors-yellow-400: #ffee58;
    --material-colors-yellow-500: #ffeb3b;
    --material-colors-yellow-600: #fdd835;
    --material-colors-yellow-700: #fbc02d;
    --material-colors-yellow-800: #f9a825;
    --material-colors-yellow-900: #f57f17;
    --material-colors-yellow-A100: #ffff8d;
    --material-colors-yellow-A200: #ff0;
    --material-colors-yellow-A400: #ffea00;
    --material-colors-yellow-A700: #ffd600;
    --Integrity-Theme-Blue-scale-1-New: #95b3ff;
    --Integrity-Theme-Blue-scale-2-FirstCall: #89a6f1;
    --Integrity-Theme-Blue-scale-3-SecondCall: #7c99e3;
    --Integrity-Theme-Blue-scale-4-ThirdCall: #708cd4;
    --Integrity-Theme-Blue-scale-5-Voicemail: #637fc6;
    --Integrity-Theme-Blue-scale-6-Text: #5772b8;
    --Integrity-Theme-Blue-scale-7-DoorKnock: #4b66aa;
    --Integrity-Theme-Blue-scale-8-Appointment: #3e589b;
    --Integrity-Theme-Blue-scale-9-Submitted: #324c8d;
    --Integrity-Theme-Integrity-gold-default: #a9905f;
    --Integrity-Theme-Integrity-gold-light-1: #e9e3d7;
    --Integrity-Theme-Integrity-gold-light-2: #d4c7af;
    --Integrity-Theme-Integrity-gold-light-3: #bfac87;
    --Integrity-Theme-Integrity-gray-dark-4: #434a51;
    --Integrity-Theme-Integrity-gray-default: #717171;
    --Integrity-Theme-Integrity-gray-light-1: #f1f1f1;
    --Integrity-Theme-Integrity-gray-light-2: #ddd;
    --Integrity-Theme-Integrity-gray-light-3: #ccc;
    --Integrity-Theme-Integrity-gray-light-4: #999;
    --Integrity-Theme-Integrity-navy-default: #052a63;
    --Integrity-Theme-Integrity-navy-light-0: #7188a8;
    --Integrity-Theme-Integrity-navy-light-1: #49648b;
    --Integrity-Theme-Integrity-navy-light-2: #375582;
    --Integrity-Theme-Integrity-navy-light-3: #1d3e71;
    --Integrity-Theme-Integrity-royal-default: #4178ff;
    --Integrity-Theme-Integrity-royal-hover: #1357ff;
    --Integrity-Theme-Integrity-royal-light-1: #f1faff;
    --Integrity-Theme-Integrity-royal-light-2: #dfeafb;
    --Integrity-Theme-Integrity-royal-light-3: #b3c9ff;
    --Integrity-Theme-error-dark-1: #9f040c;
    --Integrity-Theme-error-hard: #c81e27;
    --Integrity-Theme-error-soft: #fbdede;
    --Integrity-Theme-primitive-black: #000;
    --Integrity-Theme-primitive-white: #fff;
    --Integrity-Theme-success-hard: #009e15;
    --Integrity-Theme-success-soft: #e5faeb;
    --Integrity-Theme-warning-hard: #f56600;
    --Integrity-Theme-warning-soft: #fcf2e8;
    --Integrity-Theme-Integrity-eerie-black: #1b1b1b;
}
