// IMPORTANT REMINDER: Always keep this alphabetized!

// Colors
$black: #000000;
$blue: #0052cf;
$darkBeige: #908f87;
$grayishYellow: #eeede6;
$lightBlue: #f4f8fb;
$bleakBlue: #e5edfa;
$lightYellow: #fafafa;
$navy: #012972;
$transparentSilver: rgba($blue, 0.25);
$white: #ffffff;

// Semantic Colors
$backgroundColor: $white;
$inverseTextColor: $white;
$textColor: $black;
$uiHeaderWithLoginActionButtonBackgroundColor: var(
                --ui-header-with-login-action-button-background-color,
                #0052cf
);

$uiHeaderWithLoginBackgroundColor: var(
                --ui-header-with-login-background-color,
                #052a63
);

$uiHeaderWithLoginLinkTextColor: var(
                --ui-header-with-login-link-text-color,
                $white
);

// Component Colors
$centeredBackgroudColor: $lightBlue;
$dotActiveBackgroundColor: $transparentSilver;
$dotBackgroundColor: $blue;
$footerBackgroundColor: $backgroundColor;
$footerTextColor: $textColor;
$headerBackgroundColor: $grayishYellow;
$iconBackgroundColor: $bleakBlue;

// Theme overrides

:root {
    --ui-button-components-button-background-color: #{$blue};
    // --ui-container-components-parallax-background-color
    --ui-text-components-heading-text-color: #{$navy};
    --ui-text-components-section-title-text-color: #{$navy};
}
