@use "./mixins/breakpoints";

$arial: arial;
$lato: "Lato", sans-serif;

@mixin smallerFont {
  font-family: $arial;
  font-size: 14px;
}

:root {
  --ui-text-components-bold-font-family: #{$lato};
  --ui-text-components-regular-font-family: #{$lato};
  --ui-text-components-semi-bold-font-family: #{$lato};
}
