.filtericon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.filter {
  padding: 7px;
  border-radius: 8px;
  height: 36px;
  width: 42px;
  margin-left: 10px;
  cursor: pointer;
}

.filterActive {
  background-color: white;
  border: 1px solid #dfdedd;
}

.filterHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalContentWrapper {
  height: 435px;
  width: 100%;
  overflow-y: scroll;
}
