@use "scss/globalDefines" as defines_global;

.soaContainer {
    background: #f1f1f1;
    width: 70%;
    margin: auto;

    @include defines_global.small {
        width: 100%;
    }
}

.soaContainerFull {
    width: min(100%, 840px);
    margin-inline: auto;
}