@import "../../../../scss/globalDefines";

.soaContainer {
    background: #f1f1f1;
    width: 70%;
    margin: auto;

    @include small {
        width: 100%;
    }
}

.soaContainerFull {
    width: min(100%, 840px);
    margin-inline: auto;
}