.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;

  .title {
    color: #052A63;
    font-size: 32px;
  
    @media (width <= 480px) {
      font-size: 24px;
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14%;

    .actionTitle {
      color: #4178FF;
      font-size: 16px;
      font-weight: bold;
    }

    .actionIcon {
      margin-top: 3px;
    }
  }
}

.iconWithText {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .arrowIcon {
    margin-right: 10px;
  }

  .iconReverse {
    transform: rotate(180deg);
  }
}

.shiftRight {
  position: relative;
  left: 15px;
}