.innerContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 64px 32px 16px;
}

.closeButton {
    position: absolute;
    top: 15px;
    left: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.divider {
    width: 100%;
    background-color: #fff;
    margin-bottom: 16px;
    height: 1px;
}

.menuText {
    font-size: 16px !important;
    margin-right: 8px;
}
