.taskListContainer {
  padding: 20px;
  min-height: 450px;
 }

.taskListCard {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 #ddd;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }
}

.singleCardBorder {
  border-radius: 8px !important;
}

.white {
  background: #fff;
}

.blue {
  background: #f1faff;
}
