.customBody {
  background-color: white;
  border-radius: 8px;

  tr {
    border-bottom: 1px solid #F1F1F1;
  }

  // tr:last-child {
  //   border: none;
  // }
}

.customBodyRow {
  padding: 24px 15px;
  padding-right: 0;
}

.hidden {
  visibility: collapse;
}