@import "../../../../scss/globalDefines";

.marketingBanner {
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 8px;
    border: 8px solid #fff;
}

.buttonstyles {
    font-size: 14px;
    font-weight: 500;
}

.bannerCardImage {
    height: 140px;
    width: 160px;

    @include small {
        height: 108px;
        width: 120px;
    }
}

.bannerGridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}
