.container {
    display: flex;
    gap: 8px;
    border-top:1px solid #ddd;
    padding-top: 16px;
    flex-direction: column;
    position: relative;
    color: #434A51;
    font-size: 14px;
    margin-top: 16px;
}