
.infoBox {
    width: 600px;
    max-width: 600px;
    height: auto;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.backgroundGray {
    background-color: #F1F1F1;
}