@use "scss/globalDefines" as defines_global;

.rightSection {
    width: calc(100% - 296px);
    margin: 0 0 0 auto;
}

.activityCard {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 24px;
}

.activityCardHeader {
    padding: 30px 38px 26px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.activityCardHeader h4 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: var(--v2-dark-blue);
    margin-bottom: 0;
}

.activityCardHeader .notetext,
.reminderRightSide button {
    margin-bottom: 0;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--v2-royal-blue);
    width: 103px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.activityCardHeader .notetext:hover,
.reminderRightSide button:hover {
    background: #f5f7fa;
    color: var(--v2-old-blue) !important;
}

.submit-btn.btn:hover {
    background: var(--v2-old-blue);
    border: 1px solid var(--v2-old-blue);
}

.cancel-btn.btn:hover {
    background: #e8ecf2 !important;
    border: 1px solid #e8ecf2 !important;
}

.notetext label {
    margin-left: 10px;
}

.bg-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.iconTime label {
    margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
}

.bg-color1 {
    background: #faef96;
}

.bg-color2 {
    background: #dbf19b;
}

.bg-color3 {
    background: #fbd5c0;
}

.iconTime {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #70777e;
    margin-bottom: 20px;
}

.activityCardbodyset h6 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #151e29;
    margin-bottom: 8px;
}

.activities-block {
    list-style: initial;
    margin-left: 15px;
    word-break: break-word;
}

.para-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.para-btn-section {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #525761;
    width: 100%;
    min-height: 26px;
}

.para-btn-section > span {
    width: 100%;
    display: block;
    word-break: break-all;
    line-height: 130%;
}

.li-mr-left {
    margin-left: -11px;
}

.showmorebtn {
    cursor: pointer;
    color: #3d4553;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.para-btn-section span button {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--v2-royal-blue);
}

.para-btn-section .view-btn {
    width: 80px;
    height: 32px;
    background: #f5f7fa;
    border: 1px solid #c7ccd1;
    border-radius: 4px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--v2-royal-blue);
    justify-content: center;
}

.activityCardbodyset {
    padding: 10px 39px 0;
}

.edit-delete-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-delete-btn {
    display: none;
}

.activityCardbodyset:hover .edit-delete-btn {
    display: block;
}

.bodylineseparation {
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #e8eaef;
}

.edit-delete-btn a:first-child {
    margin-right: 32px;
}

.headerlineseparation {
    border: 0;
    border-bottom: 2px solid #c7ccd1;
    margin-top: 0;
}

.activityCardfooter p {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #525761;
    padding-bottom: 25px;
}

.customform .modal__card {
    padding: 22.5px 22.5px 46px 35px;
}

.customform .modal__header > * {
    right: -22px;
    top: -20px;
}

.customform .modal__header {
    position: inherit;
}

.customform .form__field {
    border: 0;
    padding: 0;
}

.customform #cm-ed-fname {
    height: 47px;
    width: 100%;
    background: #fff;
}

.bgcolor-4 {
    width: 35px;
    height: 35px;
    background: #dbf19b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

.custom-modal-heading {
    display: flex;
    align-items: center;
}

.cancel-btn {
    background: #f4f6fa;
    border: 1px solid #c7ccd1;
    border-radius: 4px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--v2-royal-blue);
    margin-right: 10px;
}

.submit-btn {
    background: var(--v2-royal-blue);
    border: 1px solid #c7ccd1;
    border-radius: 4px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}

.contact-details-cancel {
    font-family: Lato, sans-serif !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize !important;
    border-radius: 4px !important;
    height: 40px !important;
    color: var(--v2-royal-blue) !important;
}

.contact-details-submit {
    margin: 0 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #0052ce;
    min-width: 110px !important;
    height: 40px;
    border-radius: 4px !important;
    text-transform: capitalize !important;
}

.contact-details-submit span {
    font-family: Lato !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 150%;
    text-align: center;
    color: #f8fafc;
    flex: none;
    order: 0;
    text-transform: capitalize !important;
    flex-grow: 0;
}

.contact-details-submit:disabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #e6ecf2;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 12px;
}

.contact-details-submit:disabled span {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #64748b;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 6px;
}

.custom-form-btn button {
    margin-top: 38px;
    width: 118px;
    height: 40px;
}

.btn-disabled:hover {
    background: #e4e4e4 !important;
    border: 1px solid #e4e4e4 !important;
    color: #aba7a7 !important;
    cursor: not-allowed !important;
}

.leftcardmenu {
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    height: auto;
    width: 262px;
    float: left;
    padding: 13px 0;

    li:hover {
        cursor: pointer;
        background: #f4f6fa;
    }

    li.plans-button:hover {
        background: none;
    }

    .button {
        width: 100%;
        height: 32px;
        border-radius: 4px;

        span.label {
            color: inherit;
        }
    }
}

.clientnotes {
    margin-top: 30px;
}

.leftcardmenu li {
    padding: 13px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 12px 8px;
    border-radius: 4px;
}

.leftcardmenu li span {
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #434a51;
    display: inline-flex;
}

.icon-spacing {
    margin-right: 5px;
    line-height: 2px;
}

.leftcardmenu li:last-child {
    border: 0;
}

.leftcardmenu li.active span,
.leftcardmenu li.active label > svg > path {
    color: #4178ff !important;
    fill: var(--v2-dark-blue) !important;
    font-weight: bold;
}

.leftcardmenu li.active {
    background: #f1faff;
    color: #4178ff;
}

.nameCard {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 24px;
}

.nameCardSection1 {
    padding: 31px 0 18px;
}

.nameCardHeading h2 {
    font-size: 40px;
    line-height: 48px;
    color: var(--v2-dark-blue);
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin-bottom: 6px;
}

.nameCardpara p {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #525761;
}

.nameCard hr {
    margin-top: 0;
    border-bottom: 1px solid #c7ccd1;
    margin-bottom: 29px;
}

.nameCardSection2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 2em;
    justify-content: space-between;
}

.personalInfo {
    height: 70px;
}

.personalInfoCallScriptIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    @include defines_global.small {
        margin-top: 25px;
    }
}

.customSelectbox .select .select-container {
    @media (width >= 480px) {
        width: 149px;
    }
}

.personalinfoname h2 {
    font-size: 16px;
    line-height: 22px;
    color: #717171;
    font-family: Lato, sans-serif;
    text-transform: capitalize;
}

.personalInfo .italic-label {
    font-size: 13px;
    line-height: 22px;
    color: #70777e;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.personalInfo label {
    font-size: 13px;
    line-height: 22px;
    color: #434a51;
    font-family: Lato, sans-serif;
}

.personalInfoText {
    font-size: 16px;
    line-height: 22px;
    color: #70777e;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.personalInfoEmailText {
    font-size: 16px;
    line-height: 22px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: var(--v2-royal-blue);
    word-break: break-all;
}

.reminderCard {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.reminderCardSection1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 38px 26px 30px;
}

.reminderCardHeading h4 {
    font-size: 24px;
    line-height: 29px;
    color: var(--v2-dark-blue);
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.reminderRightSide span {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--v2-royal-blue);
    margin-left: 10px;
}

.reminderRightSide a {
    text-decoration: none;
}

.reminderCard hr,
.client-notes-card hr {
    margin-top: 0;
    border: 0;
    border-bottom: 2px solid #c7ccd1;
    margin-bottom: 27px;
}

.reminderCardSection2 {
    background: #fff;
    border: 1px solid #c7ccd1;
    border-radius: 4px;
    padding: 22px 20px 18px 21px;
    margin: 27px 32px 20px 34px;
}

.reminderCardSection2row1 label {
    font-size: 12px;
    line-height: 14px;
    color: #70777e;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.reminderCardSection2row1 {
    margin-bottom: 30px;

    @media (width <= 768px) {
        display: initial !important;
    }
}

.reminderCardSection2row2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.reminderCardSection2row2left .alertText {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ca2323;
}

.reminderCardSection2row2left .normalText {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #70777e;
}

.completeBTN-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.complete-btn {
    background: var(--v2-royal-blue);
    border-radius: 4px;
    border: 1px solid var(--v2-royal-blue);
    width: 17%;
    height: 32px;
    color: #fff !important;
    font-size: 16px;
    line-height: 14px;
    float: right;
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.ClientCardSection2 p {
    font-size: 16px;
    color: #525761;
    font-family: Lato, sans-serif;
    font-weight: 400;
    padding: 27px 88px 50px 31px;
}

.reminder-modal-heading legend {
    font-size: 30px;
    line-height: 36px;
    color: var(--v2-dark-blue);
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin: 0;
}

.custom-reminder-modal .modal__card {
    padding: 38px 42px 35px 37px;
}

.reminder-modal-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.reminder-modal-heading a {
    text-decoration: none;
    color: var(--v2-royal-blue);
    font-size: 14px;
    line-height: 17px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    padding: 11.5px 14px 11.5px 15px;
}

.reminder-modal-heading a > span {
    margin-left: 8px;
}

.custom-reminder-modal .reminderCardSection2 {
    margin: 0 0 16px;
    padding: 19px 20px 17px 18px;
}

.custom-reminder-modal .reminderCardSection2:last-child {
    margin: 0;
}

.custom-reminder-modal .reminderCardSection2row2 {
    align-items: center;
}

.custom-reminder-modal .reminderCardSection2row1 {
    margin-bottom: 19px;
}

.reminder-cancel-btn {
    width: 100px;
    height: 40px;
    background: #fff;
    border: 1px solid #c7ccd1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: var(--v2-royal-blue);
    margin-right: 12px;
}

.reminder-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 36px;
}

.reminder-save-btn {
    width: 100px;
    height: 40px;
    background: var(--v2-royal-blue);
    border: 1px solid var(--v2-royal-blue);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #fff;
    margin-right: 12px;

    &:disabled {
        cursor: not-allowed;
        color: var(--v2-disabled-button-text);
        background-color: var(--v2-disabled-button);
        border: 1px solid var(--v2-disabled-button);
    }
}

.reminder-modal-heading a:hover {
    background-color: #f5f7fa;
}

.custom-reminder-modal .reminderCardSection2:hover {
    background: #f9fafb;
    cursor: pointer;
    border-radius: 4px;
}

.custom-reminder-modal .reminderCardSection2.active {
    background: #f9fafb;
}

.custom-reminder-modal .normalText {
    border: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #70777e;
    width: 280px;
    height: auto;
    resize: none;
}

.custom-reminder-modal textarea:focus {
    outline: 0;
}

.cal {
    display: flex;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    border: 1px solid var(--v2-main-gray);
    padding: 2px 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.reminderCardSection2 .DayPicker {
    position: absolute;
    z-index: 11;
    background: #fff;
    box-shadow: 0 0 10px 1px #afafaf;
    border-radius: 5px;
    top: 37px;
}

.view-reminder-calendar {
    overflow: initial !important;
}

.state-select-input .select {
    margin-right: 8px;
    height: 39px;
    width: 180px;
}

.record-select-input .select {
    width: 197px !important;
}

.state-select-input .select-label {
    width: 90px !important;
}

.state-select-input .select .select-container .inputbox {
    height: 39px;
}

.reminderCardSection2 .text-length {
    display: block;
    margin-top: 10px;
    color: var(--v2-main-gray);
    font-size: 12px;
}

.text-error {
    color: red !important;
}

.datepickerparent {
    position: relative;
}

.datepicker-row {
    flex: 1;
    align-items: center;
    max-width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.datetext {
    font-size: 14px;
}

.full-width {
    width: 100%;
}

.reminderCardSection2row2left .normalText {
    border: 0;
    width: 100%;
    resize: none;
    padding: 10px;
    word-wrap: break-word;
    height: 120px;
}

.complete-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reminderCardSection2row2left .normalText:focus-visible {
    outline: none;
}

.wholereminderCardSection2row1of1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wholereminderCardSection2row1of1 .reminderCardSection2row1 {
    width: 60%;
    margin-bottom: 0;
}

.wholereminderCardSection2row1of1 {
    margin-bottom: 30px;
}

.deleteTextAreaText {
    color: #ca2323;
    margin-right: 20px;
}

.ediTextAreaText {
    color: var(--v2-royal-blue);
}

.reminderCardSection2row1of1 button {
    font-family: Lato, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.remindercardsectioncancelsavebtn {
    display: flex;
    align-items: center;
}

.reminderCardSection2row2left button {
    color: #ca2323;
    font-family: Lato, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.custom-datepicker-activeborder .cal {
    border: 1px solid #ca2323;
}

.reminderCardSection2-activeborder {
    border: 1px solid #3f495b;
}

.edittextarea-active {
    background: #f9fafb;
}

.datepicker-input {
    position: absolute;
    left: 1px;
    width: 75px;
    padding-left: 35px;
    border: none;
    outline: none;
}

.datepicket-icon {
    z-index: 0;
    pointer-events: none;
    cursor: pointer;
}

.new-note-popup-formfield input {
    background: #fff;
    width: 98%;
    height: 47px;
    border: 1px solid #d8dee4;
    margin: 0 0 10px;
    padding-left: 15px;
    padding-top: 6px;
    border-radius: 4px;
}

.new-note-popup-formfield textarea {
    background: #fff;
    width: 98%;
    height: 123px;
    border: 1px solid #d8dee4;
    border-radius: 4px;
    margin: 0;
    resize: none;
    padding-left: 15px;
    padding-top: 14px;
}

.new-note-popup-formfield-btn {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.delete-note-btn {
    margin-top: 50px;
}

.delete-note-btn p {
    font-size: 16px;
    line-height: 24px;
    color: #ca2323;
    font-family: Lato, sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.new-note-popup-formfield textarea::placeholder,
.new-note-popup-formfield input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9da8b1;
    opacity: 1; /* Firefox */
}

.new-note-popup-formfield textarea:input-placeholder,
.new-note-popup-formfield input::placeholder {
    /* Internet Explorer 10-11 */
    color: #9da8b1;
}

.new-note-popup-formfield textarea:input-placeholder,
.new-note-popup-formfield input::placeholder {
    /* Microsoft Edge */
    color: #9da8b1;
}

.new-note-popup-formfield-btn button {
    text-transform: capitalize;
}

.contactdetailscard {
    background: #fff;
    border-radius: 8px;

    @media (width <= 480px) {
        background: transparent;
    }
}

.contactdetailscardheader {
    padding: 31px 37px 22px 30px;
    border-bottom: 1px solid #d8dee4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactdetailscardheader h4 {
    font-size: 24px;
    line-height: 29px;
    color: var(--v2-dark-blue);
    font-family: Lato, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.contactdetailscardheader button {
    font-size: 16px;
    line-height: 24px;
    color: var(--v2-royal-blue);
    font-family: Lato, sans-serif;
    font-weight: 600;
    width: 103px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.contactdetailscardheader button:hover {
    background: #f5f7fa;
    border: 1px solid #dfe5ef;
}

.deleteTextAreaText:hover,
.ediTextAreaText:hover,
.deletecontactsection button:hover,
.activityCardfooter p:hover {
    text-decoration: underline;
}

.contactdetailscardbody {
    padding: 32px 32px 32px 62px;
}

.contactdetailscardbody p {
    color: #697887;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: Lato, sans-serif;
}

.contactdetailscardbody .contactdetailscardbodycolvalue {
    color: #1b1b1b;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
}

.contactdetailscardborder {
    margin-top: 0;
    margin-bottom: 30px;
    border: 1px solid #dfe5ef;
}

.contactdetailscardbodyrow {
    display: flex;
}

.contactdetailscardbodyrowspacing .contactdetailscardbodycol {
    margin-right: 50px;
}

.deletecontactsection {
    margin-top: 30px;

    @media (width <= 480px) {
        margin-left: 25px;
    }
}

.deletecontactsection .del-btn {
    font-size: 14px;
    font-weight: 400;
    font-family: Lato, sans-serif;
    color: #ca2323;
    padding: 0;
}

.contactdetailscardbodycolinput input {
    width: 227px;
    height: 40px;
    background: #fff;
    border: 1px solid #c7ccd1;
    border-radius: 2px;
    padding: 8px;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
}

.contactdetailscardbodycolinput input:focus {
    outline: none;
}

.zero-margin-input {
    margin-bottom: 0 !important;
}

.addaptbtn button {
    font-size: 14px;
    line-height: 14px;
    color: #3f495b;
    font-weight: 400;
    font-family: Lato, sans-serif;
    margin-top: 12px;
    margin-bottom: 30px;
}

.custom-w-51 {
    width: 51px !important;
}

.custom-w-83 {
    width: 83px !important;
}

.contactdetailscardbodyinputrowspacing .contactdetailscardbodycol {
    margin-right: 10px;
}

.contactdetailscardbodycolradio {
    margin-top: 12px;
    margin-bottom: 30px;
}

.contactdetailscardbodycolradio label {
    font-size: 14px;
    line-height: 22px;
    color: #3f495b;
    font-weight: 400;
    font-family: Lato, sans-serif;
}

.contactdetailscardbodycolradio input[type="radio"] {
    width: 16px;
    height: 16px;
    border: 1px solid #d8dee4;
    vertical-align: middle;
    margin-right: 8px;
}

.custom-w-154 {
    width: 154px !important;
}

.custom-w-108 {
    width: 108px !important;
    height: 40px;
    background: #fff;
    border: 1px solid #c7ccd1;
    border-radius: 2px;
    padding: 8px;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
}

.custom-w-148 {
    width: 148px !important;
    height: 40px;
    background: #fff;
    border: 1px solid #c7ccd1;
    border-radius: 2px;
    padding: 8px;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
}

.conatctdetailsbutton {
    justify-content: flex-start;
    margin-top: 30px;
}

.cpcheckboxdesign input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid #d8dee4;
    vertical-align: middle;
    margin-right: 8px;
}

.cpcheckboxdesign label {
    font-size: 14px;
    line-height: 22px;
    color: #3f495b;
    font-weight: 400;
    font-family: Lato, sans-serif;
}

.cpradiodesign {
    margin-left: 24px;
}

.custom-inputmargin {
    margin-bottom: 30px;
}

button {
    &:disabled {
        span.add-new-button {
            color: var(--v2-disabled-button-text);
        }

        // svg path {
        //   fill: var(--v2-disabled-button-text);
        // }
    }
}

.customdisabledbtn {
    cursor: not-allowed;
    color: var(--v2-disabled-button-text);
    background-color: var(--v2-disabled-button);
    border: 1px solid var(--v2-disabled-button);
    border-radius: 4px;
}

.customDeletepopup {
    padding: 28px 0 10px;
}

.customDeletepopup h3 {
    font-size: 32px;
    line-height: 68px;
    text-align: center;
    font-weight: 400;
    font-family: Lato, sans-serif;
    color: var(--v2-dark-blue);
}

.customDeletepopup p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #6c747b;
    font-weight: 400;
    font-family: Lato, sans-serif;
    margin-bottom: 54px;
}

.customDeletepopupbtn {
    display: flex;
    justify-content: center;
}

.customDeletepopupbtn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    text-transform: capitalize;
}

.cancelbtn {
    background: #f4f6fa;
    border: 1px solid #d8dee4;
    border-radius: 4px;
    margin-right: 9px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-family: Lato, sans-serif;
    color: var(--v2-royal-blue);
}

.deletebtn {
    background: var(--v2-royal-blue);
    border: 1px solid var(--v2-royal-blue);
    border-radius: 4px;
    margin-right: 9px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-family: Lato, sans-serif;
    color: #fff;
}

.customMarginSpacing {
    margin: 1em 0;
}

.customMarginBottomSpacing {
    margin: 1em 0;
}

.text-capitalize {
    text-transform: capitalize;
}

.mobile-menu {
    display: none;
    transition: 0.5s ease;

    .button {
        span.label {
            color: inherit;
        }
    }
}

.mobile-select-show {
    display: none;
}

.mobile-edit,
.desktop-hide,
.card-view {
    display: none;
}

.mobile-edit-section {
    display: flex;
    justify-content: space-between;
}

.custom-reminder-modal .card--page {
    min-height: clamp(100px, 75vw, 480px);
    max-height: initial;
}

.due-date-text {
    color: #ca2323;
    margin-left: 8px;
}

.due-date-input {
    background: #fffafa;
    border: 1px solid #ca2323;
}

.custom-error-msg {
    color: #d86a66;
    font-size: 0.75rem;
    line-height: 1;
    min-height: 1.5rem;
    margin-top: 4px;
}

.custom-form-fields {
    max-width: 27.5rem;
}

.addresss-error-msg .custom-error-msg {
    padding: 10px;
    padding-bottom: 0;
}

.custom-error-block {
    width: 98% !important;
}

@media screen and (width >= 320px) and (width <= 480px) {
    .card-view {
        display: block;
        margin-top: 10px;
    }
}

.custom-address-zip .form-input__input {
    width: 90px !important;
}

@media screen and (width >= 320px) and (width <= 767px) {
    .btn-responsive-display .contact-details-submit {
        width: 125px !important;
    }

    .save-btn-only {
        .edit-contact-details-cancel-btn {
            display: none;
        }

        .contact-details-submit {
            width: 100% !important;
            height: 48px !important ;
        }

        position: unset !important;
        box-shadow: none !important;
    }

    .mt-10-mb {
        margin-top: 10px;
    }

    .full-width-mobile {
        width: 100% !important;
    }

    .flex-dir-column {
        flex-direction: column;
    }

    .ml-65 {
        margin-left: 0;
    }

    .contact-details-row .res-middle-initial .form-input .form-input__input {
        width: 98% !important;
    }

    .contact-details-row .res-add-2 .form-input .form-input__input {
        width: 95% !important;
    }

    .contact-details-row .contact-details-col1 .primary-communication-label {
        width: 200px;
    }

    .btn-responsive-display {
        background-color: #fff;
    }

    .details-edit-form .btn-responsive-display {
        display: flex !important;
        justify-content: space-around;
        padding: 30px 6px 10px;
        position: sticky;
        bottom: 0;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 5%);
    }

    .responsive-inline .custom-w-43 .select {
        width: 140px !important;
    }

    .responsive-inline {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .responsive-display {
        display: block !important;
        margin-top: 27px;
    }

    .responsive-d-none {
        display: none !important;
    }

    .edit-contact-details-cancel-btn {
        min-width: 125px !important;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .contact-details-row .contact-details-col1 .custom-label-state {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: #6c737b;
    }

    .select .select-container .selectbox {
        display: flex;
        height: 38px;
    }

    .custom-mob-w {
        width: 145px;
    }

    .responsive-inline .custom-w-43 {
        width: 48% !important;
    }

    .mobile-phone-input {
        width: 148px !important;
        margin-bottom: 10px !important;
    }

    .mob-email-row {
        flex-direction: column-reverse !important;
    }

    .contact-details-row .contact-details-col1.mob-res-w-100 .custom-w-59 {
        width: 59% !important;
    }

    .visibility-hidden {
        display: none;
    }

    .mobile-responsive-row {
        flex-wrap: wrap;
        margin-bottom: 10px !important;
    }

    .responsive-w-50 {
        width: 50% !important;
        margin-top: 15px;
    }

    .contact-details-row.mobile-responsive-row .contact-details-col1 {
        width: 48% !important;
    }

    .contact-details-row.mobile-responsive-row .state--label--space {
        width: 48% !important;
    }

    .mob-res-mt-29 {
        margin-top: 29px;
    }

    .custom-address-zip .form-input__input {
        width: 100% !important;
    }

    .state-select-input .select {
        height: 38px;
    }

    .contact-details-row .contact-details-col1 {
        margin-left: 6px !important;
        margin-right: 0;
    }

    .mobile-responsive-row .mob-res-margin {
        margin-top: 28px;
    }

    .contact-details-row .contact-details-col1 .contact-details-label {
        font-size: 16px !important;
    }

    .contact-details-row .contact-details-col1 .contact-details-name {
        font-weight: 400 !important;
        font-size: 18px !important;
        color: #151e29;
    }

    .contact-details-row .contact-details-col1 .form-input__header .label {
        font-size: 16px !important;
    }

    .contact-details-row .contact-details-col1 .custom-label-state {
        font-size: 16px !important;
    }

    .contact-details-row .contact-details-col1 .form-input__input input {
        font-size: 18px !important;
    }

    .details-edit-form {
        padding: 0 !important;
    }

    .mob-res-row1 {
        flex-direction: column;
    }

    .contact-details-row.mob-res-row1 .mob-res-w-100 {
        width: 85% !important;
    }

    .mob-res-mar-0 .short-label {
        margin-left: 0;
    }

    .mob-res-mar-0 .select {
        margin-left: 0;
        width: 147px !important;
    }

    .mob-res-row1 .mob-res-margin {
        margin-top: 40px;
    }

    .nameCard .container {
        padding: 0;
    }

    .details-card-main .container {
        padding: 0;

        @media (width <= 480px) {
            background: #f1f1f1;
        }
    }

    .contactdetailscard {
        border-radius: 0;
    }

    .mob-contact-edit-row {
        justify-content: space-between !important;
        margin-bottom: 0 !important;
    }

    .mob-contact-edit-row .send-btn {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #0052ce;
        padding-right: 32px;
    }

    .mob-contact-edit-row .send-btn svg > path {
        stroke: #0052ce;
    }

    .mob-contact-edit-row .send-btn svg {
        margin-right: 8px;
    }

    .custom-mob-address-row {
        flex-direction: column;
    }

    .mob-mb-24 {
        margin-bottom: 24px;
    }

    .custom-mob-email-row {
        flex-direction: column-reverse;
    }

    .scope-details-card-header .send-btn {
        background: #fff;
        border: 1px solid #dfe5ef;
        border-radius: 4px;
        height: 40px;
    }

    .soa-list-body {
        padding: 26px !important;

        @media (width <= 480px) {
            padding: 8px 26px !important;
        }
    }

    .contactDetailsSection {
        padding: 0 !important;
    }

    .custom-error-msg {
        margin-bottom: 10px;
        min-height: auto !important;
    }

    .contactdetailscardheader {
        flex-direction: column;
        align-items: flex-start;
        border: 0;
        padding: 0;
        margin-bottom: 23px;
    }

    .contactdetailscardbody {
        padding: 26px 10px;
    }

    .scope-of-app-row-section2 {
        flex-direction: column;
    }

    .li-item {
        white-space: row;
    }

    .complete-btn {
        width: 35% !important;
        margin-top: 27px;
    }

    .view---btn {
        width: 100% !important;
        margin-top: 27px;
        height: 40px !important;
    }

    .completed-text-row {
        align-items: flex-start !important;
    }

    .contactdetailscardheader h4 {
        font-size: 20px;
        border-bottom: 1px solid #d8dee4;
        width: 100%;
        padding: 26px;
    }

    .scope-details-card-header .send-btn {
        background: #fff;
        border-radius: 4px;
        width: 95% !important;
        margin: 16px auto 0;
    }

    .address__city__state__zip,
    .mobile-primary-com {
        flex-direction: column;
    }

    .info-link {
        border-bottom: 1.5pt solid #6a7279;
    }

    .mobile-hide {
        display: none;
    }

    .desktop-hide {
        display: block;
    }

    .err-length-message .form-input__error {
        width: auto !important;
    }

    .contact-details-heading {
        padding: 31px 37px 22px 30px;
    }

    .desktop-menu-hide {
        display: none;
    }

    .item-selected {
        position: relative !important;
        background: none !important;
        transition: 0.5s ease;
    }

    .item-selected .mobile-menu-active {
        background: var(--v2-dark-blue) !important;
        display: flex;
        transition: 0.5s ease;
    }

    .mobile-menu li:hover {
        background: var(--v2-dark-blue) !important;
    }

    .form {
        padding: 0 20px;
    }

    .item-selected li {
        display: none;
    }

    .hover-btn-hide {
        display: none;
    }

    .desktop-select-show {
        display: none;
    }

    .mobile-select-show {
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        padding: 0;
        position: absolute;
        background: var(--v2-dark-blue);
        border-radius: 0;
        height: 100%;
        z-index: 11;
        transition: 0.5s ease;
    }

    .mobile-edit {
        display: block !important;
        color: blue;
    }

    .mobile-menu-parent {
        position: relative;
    }

    .mobile-menu-active label > svg,
    .mobile-menu-active span {
        color: #fff !important;
    }

    .mobile-menu-active label > svg > path {
        fill: #fff !important;
    }

    .mobile-menu li label > svg,
    .mobile-menu li span {
        color: #a8b4ca;
    }

    .mobile-menu li label > svg > path {
        fill: #61666e;
    }

    .mobile-menu-arrow {
        position: absolute;
        top: 25px;
        right: 15px;
        padding: 0 !important;
        z-index: 111;
        display: block !important;
        border: 0 !important;
        height: auto !important;
        transition: 0.5s ease;
    }

    .arrow-hide {
        display: none !important;
        transition: 0.5s ease;
    }

    .ContactsPage_add--new-contact__uVbMb h3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .mobile-menu li {
        margin: 0;
        height: 70px;
        border-bottom: 1px solid #2c4b79;
        border-radius: 0;
    }

    .nameCard {
        background: none;
        border-radius: 0;
        margin-bottom: 4px;
    }

    .rightSection {
        width: 100%;
        margin: 0;
        padding: 20px;

        @media (width <= 480px) {
            padding: 0 20px;
        }
    }

    .leftcardmenu {
        float: none;
        width: 100%;
    }

    .nameCardSection1 {
        padding: 0;
    }

    .nameCardHeading {
        height: 60px;
        width: 100%;
        background: #fff;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .nameCardHeading h2 {
        font-size: 24px;
        margin: 0;
        margin-left: 20px;
    }

    .nameCardSection2 {
        flex-flow: row nowrap;
        background: #fff;
        padding-left: 22px;
        padding-bottom: 0;
        width: 94%;
    }

    .nameCardpara {
        height: 10px;
        padding-left: 22px;
        background: #fff;
        display: flex;
        align-items: center;
    }

    .personalInfo {
        height: auto;
        margin-bottom: 24px;
        margin-right: 10px;
    }

    .personalInfo:first-child {
        width: 35% !important;
        margin-top: 22px;
    }

    .personalInfo label {
        margin-right: 15px;
        color: #434a51;
        font-size: 16px;
        line-height: 30px;
    }

    .reminderCardSection1 {
        padding: 0 20px;
        height: 80px;
        align-items: center;
    }

    .reminderCardSection2 {
        margin: 22px 20px;
    }

    .customform .container.container--size-medium {
        padding: 15px;
    }

    .custom-modal-heading {
        margin-bottom: 45px;
    }

    .cancel-btn {
        display: none;
    }

    .new-note-popup-formfield-btn {
        flex-direction: column-reverse;
        align-items: center;
    }

    .xs-width-100 {
        width: 100%;
    }

    .xs-width-100 button {
        width: 100%;
    }

    .delete-note-btn {
        margin-top: 20px;
    }

    .header-none {
        display: none;
    }
}

.errors-block {
    width: 88%;
    min-height: auto;
    max-height: 134px;
    border: 2px solid var(--error-state-color);
    border-radius: 3px;
}

.errors-block .error-msg {
    padding: 10px;
    font-size: 0.75rem;
    line-height: 2;
    min-height: 1.5rem;
    color: var(--error-state-color);
}

.custom-datepicker .DayPicker-Caption,
.custom-datepicker .DayPicker-Weekdays {
    padding: 1em 1em 0;
    background: #ebeff6;
    margin: 0;
}

.custom-datepicker .DayPicker-Month {
    margin: 0;
    width: 100%;
}

.custom-datepicker {
    width: 290px;
}

.custom-datepicker .DayPicker-Day--selected:not(.DayPicker-Day--disabled, .DayPicker-Day--outside) {
    color: #fff;
    font-weight: 700;
    background: var(--v2-royal-blue);
}

.custom-datepicker .DayPicker-Caption > div {
    font-size: 14px;
}

.custom-datepicker .DayPicker-Weekday,
.custom-datepicker .DayPicker-Day {
    font-size: 12px;
}

.custom-datepicker .DayPicker-wrapper {
    padding-bottom: 0.5em;
}

.custom-datepicker .DayPicker-Day {
    padding: 0.8em;
}

.info-link {
    text-decoration: none;
    color: #6a7279;
    font-weight: 400;
    font-family: Lato, sans-serif;
    line-height: 22px;
}

.hover-line:hover {
    border-bottom: 1.5pt solid #6a7279;
}

.reminder-content {
    display: flex;
}

.reminder-inner-content {
    display: flex;
    flex-direction: column;
}

.reminder-content .due-date-text {
    margin-left: 0;
}

.reminder-content .short-reminder-note {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.err-length-message .form-input__error {
    width: 350px;
}

.scope-details-card-header .send-btn svg {
    margin-right: 8.5px;
}

.scope-details-card-header .send-btn {
    width: 104px;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scope-details-card-header .send-btn span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3d4553;
}

.scope-of-app-row {
    background: #fff;
    border: 1px solid #c7ccd1;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 16px;

    @media (width <= 480px) {
        border: none;
    }
}

.scope-of-app-row-section1 {
    margin-bottom: 18px;
}

.scope-of-app-row-section1 p {
    color: #052a63;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.scope-of-app-row-section1 p > span {
    color: #434a51;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;

    @media (width <= 480px) {
        display: block;
        margin-left: 0;
        margin-top: 8px;
    }
}

.scope-of-app-row-section2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.scope-of-app-row-section2 .text {
    color: #434a51;
    font-size: 16px;
    word-break: break-all;
}

.completed-btn {
    width: 82.69px;
    height: 32px;
    background: #0052ce;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

.view---btn {
    width: 82.69px;
    height: 32px;
    background: #f5f7fa;
    border: 1px solid #dfe5ef;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0052ce;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

.completed-text {
    color: #052a63 !important;
}

.completed-text-row {
    align-items: flex-end;
}

.completed-text-row ul {
    list-style: inherit;
    padding-left: 23px;
}

.completed-text-row ul li {
    margin-bottom: 8px;
    white-space: nowrap;
}

.show--more--btn {
    color: #4178ff;
    font-weight: bold;
    font-size: 14px;
}

.scope-of-app-row-show-more {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background: white;
    padding: 10px;
    border-radius: 4px;

    div {
        display: flex;
        gap: 5px;
        align-items: center;

        .cost-arrow-side {
            transform: rotate(180deg);
        }
    }
}

.contactdetailscardheader .send-btn .edit-btn-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
}

.contactDetailsSection {
    display: flex;
    flex-direction: column;
}

.contact-details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (width <= 480px) {
        flex-direction: column;
    }
}

.contact-details-row .contact-details-col1 {
    width: 33.33%;
}

.contact-details-row .custom-w-25 {
    width: 25%;
}

.contact-details-row .custom-w-25 .custom-w-px .form-input__input {
    width: 80px;
}

.contact-details-row .custom-w-25 .custom-w-px1 .form-input__input {
    width: 133px;
}

.contact-details-row .contact-details-col1 .form-input .form-input__input {
    width: 100%;
    height: 40px;
}

.res-middle-initial .form-input .form-input__input {
    width: 42% !important;
}

.contact-details-row .contact-details-col1 .form-input .form-input__input input::placeholder {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #64748b;
}

.btn-responsive-display {
    display: none !important;
}

.select {
    background: #fff;
    border-radius: 0.25rem;
    display: flex;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.select .selectbox {
    border: 0;
    background: none;
    font-size: 1rem !important;
    min-width: 0;
    flex: 1 0;
    padding: 0.5rem !important;
    height: 38px !important;
    line-height: 38px;
}

.contact-details-row .contact-details-col1 .form-input .form-input__header label {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #6c737b;
}

.contact-details-row .contact-details-col1 .contact-details-label {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #6c737b;
}

.contact-details-row .contact-details-col1 .contact-details-name {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
}

.contact-details-row .contact-details-col1 .primary-communication-label {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #0052ce;
}

.contact-details-row .contact-details-col1 .primary-communication-edit-label {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #64748b;
    margin-top: 0.3rem;
}

.contact-details-row .contact-details-col1 .primary-communication-edit-label input {
    margin-right: 5px;
}

.edit-contact-details-cancel-btn {
    font-family: Lato !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #0052ce !important;
}

.edit-contact-details-save-btn {
    font-family: Lato !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    text-align: center;
    color: #f8fafc !important;
    background-color: #0052ce;
}

.form-input--error .form-input__input {
    background: #fff2f2;
    border: 1px solid #cf3c28;
    box-sizing: border-box;
    border-radius: 2px;
}

.details-edit-custom-error-msg {
    width: 255px;
    margin-top: 5px;
    margin-left: 12px;
}

.responsive-display {
    display: none;
}

.details-edit-custom-error-msg-lname {
    width: 195px;
}

.details-edit-custom-error-msg .error-msg-green {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000;
}

.details-edit-custom-error-msg .error-msg-red {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #cf3c28;
}

.details-edit-custom-error-msg .error-msg-red::before {
    content: "\2022";
    color: #cf3c28;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 2px;
    margin-bottom: 1.2em;
}

.details-edit-custom-error-msg .error-msg-green::before {
    content: "\2022";
    color: #65c15d;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.contact-details-row .contact-details-col1 .custom-label-state {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #6c737b;
    margin-bottom: 0.5rem;
}

.hide-field-error .form-input__error {
    display: none;
}

.details-edit-custom-error-msg .zip-code-error-msg::before {
    margin-bottom: 0;
}

.visibility-hidden {
    visibility: hidden;
}

.contact-details-row .custom-w-59 {
    width: 58.5% !important;
}

.contact-details-row .custom-w-53 {
    width: 53%;
}

.contact-details-row .custom-w-22 {
    width: 22%;
}

.contact-details-row .custom-w-12 {
    width: 6%;
}

.contact-details-row .custom-w-14 {
    width: 14%;
}

.contact-details-row .custom-w-10 {
    width: 9%;
    margin-left: 25px;
}

.contact-details-row .custom-w-20 {
    width: 20%;
}

.contact-details-row .custom-w-31 {
    width: 31%;
}

.responsive-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 59%;
}

.responsive-inline .custom-w-43 {
    width: 43%;
}

.responsive-inline .w-50 {
    width: 43%;
}

.contact-details-row .custom-w-186 {
    width: 186px;
}

.ml-65 {
    margin-left: 67px;
}

.mobile-phone-input {
    position: relative;
    right: 3px;
}

.res-add-2 {
    margin-right: 15px;
}

.duplicate-lead {
    display: flex;
    padding: 15px;
    width: 362px;
    height: 63px;
    background: #fff8de;
    border-radius: 4px;

    .duplicate-lead--text {
        font-size: 14px;
        justify-content: center;
        align-items: center;

        a {
            color: var(--v2-secondary-blue-900);
            cursor: pointer;
        }
    }
}

.ml-10 {
    margin-left: 10px;

    @media (width <= 480px) {
        margin-left: initial;
    }
}

.no-items {
    height: 69px;
    border: 1.5px solid #e6ecf2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #64748b;

    @media screen and (width >= 320px) and (width <= 480px) {
        flex-direction: column;
    }

    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

.new--contact-err {
    .hide-input-err > .form-input--error > .form-input__error {
        display: none;
    }

    .details-edit-custom-error-msg {
        width: 300px;

        .error-msg-green {
            line-height: 210%;
        }
    }

    .primary-error-msg {
        display: block;
        margin-top: 20px;
    }
}

.activity-Btn {
    display: flex;
    justify-content: flex-end;
}

.activity-complete-btn {
    background: #f4f6fa;
    border: 1px solid #c7ccd1;
    color: var(--v2-royal-blue);
    border-radius: 4px;
    width: 80px;
    height: 32px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.top-button-group {
    display: flex;
}

.minWidth {
    min-width: 14%;

    @media (width <= 480px) {
        min-width: unset;
    }
}

.client-notes {
    white-space: pre-line;
}

.footerContainer {
    display: flex;
    justify-content: center;
}

.details-card-main {
    background-color: #f1f1f1;

    @media (width >= 480px) {
        padding-top: 30px;
    }
}

.css-iggens-MuiInputBase-root-MuiOutlinedInput-root {
    height: 40px;
}

.enrollmentPlanContainer_detailsPage {
    margin-bottom: 3rem;
    border-radius: 8px;
}

.previousYearPlanTitle {
    color: #434a51;
    letter-spacing: 0.16px;
}

.iconWithTitle {
    display: flex;
    cursor: pointer;
}

.editIcon {
    margin-top: 2px;
}

.editText {
    font-size: 16px;
    font-weight: bold;
    color: #0052ce;
}

.soa-mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;

    .soa-header-text {
        &::after {
            content: "SOA";
        }
    }
}

.soa-header-text {
    color: #002d72;
    font-size: 24px;

    &::after {
        content: "Scope of Appointments";
    }
}

.shareBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .shareText {
        font-size: 16px;
        font-weight: bold;
        color: #0052ce;
        margin-right: 5px;
    }
}

.send-btn2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .button.button--secondary.icon-right {
        border-radius: 50px;
        background: fff;
        color: #4178ff;
        font-family: Lato;
        height: 32px;
        padding: 20px;
        border: none;
        width: 150px;
    }
}

.soa-card-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;

    button {
        @media (width <= 480px) {
            margin-top: 10px;
            height: 30px;
            padding: 8px;
            margin-right: -8px;
            margin-bottom: -8px;
        }
    }

    // .button.icon-right {
    //   border-radius: 50px;
    //   background: #4178ff;
    //   color: #f8fafc;
    //   font-family: Lato;
    //   height: 32px;
    //   padding: 20px;
    // }
}

.policyIcon {
    border-radius: 50px !important;
    background-color: #f1faff;
    padding: 6px 10px;
}

.policyIcon {
    border-radius: 50px !important;
    background-color: #f1faff;
    padding: 6px 10px;
}
