.provider-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  border-bottom: 1px solid #cdd0d5;

  @media (width <= 480px) {
    display: inherit;
    height: auto;
    position: relative;
    padding: 16px 12px;
    box-shadow: inset 0 -1px 0 #cdd0d5;

    &:last-child {
      box-shadow: inset 0 -1px 0 #cdd0d5;
    }
  }

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-bottom: unset;
    border-radius: 0 0 8px 8px;
  }

  .provider-content {
    line-height: 130%;
    width: 35%;

    @media (width <= 480px) {
      .pr-phone-mble {
        font-size: 14px !important;
        margin-top: 8px;
        margin-bottom: 8px;
        color: #64748b !important;
        font-weight: initial !important;
      }

      width: 90%;
    }

    @media (width <= 325px) {
      width: 80%;
    }

    .pr-h1 {
      font-family: Lato;
      font-style: normal;
      font-size: 16px;
      color: #000;
    }

    .pr-h2 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #717171;
    }
  }

  .button-delete-provider {
    width: 5%;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #cf3c28;
    cursor: pointer;

    @media (width <= 480px) {
      position: absolute;
      top: 40px;
      right: 30px;
      width: auto;
    }
  }
}

.mbidShowHide{
  color: #0052CE !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  position: relative;
  top: 5px;
  left: 10px;
  cursor: pointer;

  @media (width <= 480px) {
    top: 0;
  }
}

.mbi__icon{
  color: #0052CE;
  margin-right: 5px;
}
