.provider-container {
 display: flex;
 justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 20px;

  .provider-content {
    line-height: 130%;
    width: 35%;
    .pr-h1 {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #313336;
      line-height: 28px;
    }

    .pr-h2 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #64748b;
    }
  }

  .pr-delete {
    width: 5%;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #cf3c28;
    cursor: pointer;
  }
}
