.addressWrapper {
    margin-top: 8px;

    .title {
        color: #052a63;
        font-size: 16px;
        font-weight: bold;
    }

    .detailsSubTitle {
        color: #434a51;
        font-size: 16px;
        padding-bottom: 8px;
    }

    .inputAddressMobile {
        background-color: #fff;
    }

    .inputAddressDesktop {
        background-color: #f1faff;
    }

    .inputAddress {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #051d43;
        width: 100%;
        align-items: center;
        padding: 16px;
        gap: 33px;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    .mobilebkg {
        background-color: #fff;
    }
}
