.amountStepperWrapper {
  font-size: 16px;
  color: #717171;
  display: flex;
  margin-bottom: 5px;

  div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
  }

  .selected {
    color: #052a63;
    border-bottom: 2px solid #4178ff;
  }
}

.stepper {
  display: flex;
  margin-bottom: 16px;

  .input {
    width: 208px;
    height: 48px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    color: #052a63;
  }
}

.paymentTypeWrapper {
  margin: 10px 0;
}

.radioSpacing {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.selectedRadio {
  background: #f1faff;
}
