:root {
  //   Add more colors from Figma palette here
  //   Rename variable names as needed
  --color-white: #ffffff;
  --color-grey-100: #f9fafb;
  --color-grey-200: #f5f5f5;
  --color-grey-300: #e4e4e4;
  --color-grey-400: #aba7a7;
  --color-royal-blue: #0052ce;
  --color-bright-blue-1: #2082F5;
  --color-bright-blue-2: #2082F5;
  --color-bright-blue-3: #B9D7FB;
  --color-dark-blue: #00388D;
}