@import "../../../../scss/globalDefines.scss";

.iulQuoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 56px 24px;

    @include small {
        width: 100%;
        padding: 56px 24px;
    }
}
