@use "scss/globalDefines" as defines_global;

.iulQuoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 56px 24px;

    @include defines_global.small {
        width: 100%;
        padding: 56px 24px;
    }
}
