.CSVImporter_errors {
  background-color: var(--error-confirm-state-color);
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.75rem;
}

.CSVImporter_errors ul {
  list-style-type: disc;
  padding: 0 1rem;
  margin: 1rem;
}

.CSVImporter_errors ul li {
  margin: 0.5rem 0;
}
