.CSVImporter_successes {
  border: 2px solid var(--main-text-color);
  padding: 1rem 2rem;
  background-color: white;
  color: var(--main-text-color);
  border-radius: 0.5rem;
}

.CSVImporter_successes--none {
  border: 2px solid var(--neutral-text-color);
}

.CSVImporter_errors {
  color: var(--error-confirm-state-color);
  background-color: var(--error-confirm-state-background);
  padding: 2rem;
  border: 2px solid var(--error-confirm-state-color);
  border-radius: 0.5rem;

  ::-webkit-scrollbar {
    appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(0 0 0 / 50%);
    box-shadow: 0 0 1px rgb(255 255 255 / 50%);
  }
}

.CSVImporter_errors ul {
  list-style-type: disc;
  padding: 0 1rem;
  margin: 1rem;
  color: var(--main-text-color);
  max-height: 250px;
  overflow-y: scroll;
}

.CSVImporter_errors ul li {
  margin: 0.5rem 0;

  span {
    font-weight: bold;
  }
}
