.enrollmentPlanContainer_dashboard {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.reminder-card-container {
  background: #fff 0 0 no-repeat padding-box;
  border-radius: 8px;

  @media screen and (width <= 480px) {
    margin: 16px 12px 0 15px;
  }
}

.reminder-card {
  border-bottom: 0.5px solid #dfdedd;
  padding: 18px;
  background: #fff 0 0 no-repeat padding-box;
  font-size: 14px;
}

.reminder-card-container :first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.reminder-card-link-btn {
  border-radius: 25px !important;
  padding: 6px 30px 6px 10px !important;
  background-color: #4178ff !important;
}

.reminder-card-link-btn > .label {
  font-size: 14px !important;
  color: #fff !important;
}

.reminder-name {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.reminder-info {
  color: #434a51;
  font-size: 16px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.overDue {
  color: #f23b2f !important;
}

.jumpList-card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 10px;
  border-radius: 0 0 8px 8px;

  @media screen and (width <= 480px) {
    margin: 0 0 20px;
  }
}

.jumpList-btn > span {
  color: #0052ce;
  font-weight: 600;
}

.roundIcon svg {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  cursor: pointer;
}

.infoContainer {
  color: #434a51;

  @media screen and (width <= 480px) {
    flex-direction: column !important;
  }
}

.reminder-mobile {
  text-align: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (width <= 480px) {
    max-width: 100% !important;
  }
}

.reminder-button-mobile {
  text-align: right;
  display: flex;
  justify-content: center;
  width: 30%;

  @media screen and (width <= 480px) {
    width: 100% !important;
    max-width: 100% !important;
  }
}