.modalContentHeader {
  color: #052a63;
  margin-top: 24px;
  font-weight: bold;
}

.modalContent {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  margin-top: 10px;
}

.link {
  color: #4178FF;
  padding-left: 5px;
}