@import "../../../../../scss/globalDefines";

* {
    user-select: none;
}

.container {
    border-bottom: 1px solid #ddd;
}

.labelContainer {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #052a63;
    padding-top: 5px;
    cursor: pointer;

    .chevronIcon {
        padding-top: 5px;
    }

    .chevronIconRotate {
        svg {
            transform: rotate(-90deg);
        }
    }

    svg {
        transition: 300ms ease-out;
    }

    .infoIcon {
      padding-left: 2px;
      padding-top: 5px;
    }
}

.itemsContainer {
    padding: 5px 25px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.itemContainer {
    .itemLabel {
        color: #434a51;
        font-size: 16px;
    }
}
