.taskListInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.taskSentDate {
    color: #717171;
    font-size: 16px;
    font-weight: 400;
}

.name {
    color: #052a63;
    font-size: 20px;
    word-wrap: break-word;
}

.mobile {
    color: #4178ff;
    font-size: 14px;
    word-wrap: break-word;
}

.dateTimeLabel {
    color: #052a63;
    font-size: 16px;
    font-weight: bold;
}

.contactAfterLabel {
    color: #052a63;
    font-size: 16px;
    font-weight: bold;
}

.fromToDates {
    margin-top: 5px;

    .dateValue {
        padding: 5px;
        background-color: #f1f1f1;
        border-radius: 4px;
        font-size: 16px;
        color: #434a51;
    }

    .atText {
        margin: 2px;
    }
}

.completeBtn {
    border-radius: 50px !important;
    background-color: #4178ff;
    padding: 8px 10px 8px 2px;
}

.disabled {
    pointer-events: none;
    background-color: #b3c9ff;
    border: 1px solid #b3c9ff;
}

.mobileIcon .completeBtn {
    padding: 0;
    height: 40px;

    svg {
        margin: 0;
    }
}
