.card {
  border-radius: 4px;
  display: flex;
  width: 100%;
  padding: 15px !important;
  font-size: 16px;
  flex-direction: column;
  background-color: #eaeef0;

  .name {
    color: #000;
    font-style: bold;
  }

  .role {
    color: #434a51;
  }

  .address {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 16px;
  }
}

.p__h4 {
  color: #0052ce;
  font-style: bold;
  font-size: 16px;
  cursor: pointer;
}

.selected {
  border: 1px solid #2175f4;
}

.select__close {
  cursor: pointer;
}

.all__address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .header__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px 10px 5px;
  }
}

.reverse {
  transform: rotate(180deg);
}
