@import "scss/components/icons";

.scroller {
    position: relative;
}
.scrollerCards {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 24px;
    padding: 5px 0;
    overflow: auto;
}
.scrollerCards::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

.scrollerCards::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 10px;
    cursor: pointer;
}

.scrollerCards::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

.scrollButton {
    background: rgb(255, 255, 255);
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    height: calc(100% - 20px);
    display: flex;
    align-items: center;
    width: 50px;
    top: 0;
}

@media (max-width: 480px) {
    .scrollButton {
        display: none;
    }
}

.scrollButtonLeft {
    left: 0;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0) 100%
    );
}

.scrollButtonRight {
    right: 0;
    justify-content: end;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 1) 100%
    );
}

.scrollerCard {
    display: flex;
    height: 200px;
    width: 300px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}
