@import "../../../../../scss/globalDefines.scss";

.container {
    padding: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    width: 100%;
    margin-top: 16px;

    @include small {
        padding: 4px;
        overflow-x: auto;
    }
}