@import "../../../scss/globalDefines.scss";

.cardContainer {
    background-color: #f1faff;
    border-radius: 8px;
    .unlinkedCard {
        border-bottom: 0.5px solid #a6bedb;
        padding: 16px 24px;
        .unlinkedCardGridContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contactInfo {
            display: flex;
            align-items: center;
            @include small {
                margin-bottom: 24px;
            }
        }
        .contactNumber {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        .iconBox {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-right: 8px;
            @include small {
                margin-right: 16px;
            }
        }
        .linkToContact {
            display: flex;
            justify-content: center;
            @include small {
                margin-top: 24px;
                justify-content: flex-start;
            }
        }
        .label {
            color: #052a63;
            margin-right: 8px;
            font-weight: 600;
        }
        .phoneNumber {
            color: #4178ff;
            font-weight: 500;
        }
    }
}
