.filterTabs {
  background-color: #e5e8ec;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 1.5rem;

  .tab,
  .activeTab {
    width: 33.3%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #434a51;
    border-right: 1px solid #c7ccd1;
    cursor: pointer;
  }

  .tab:last-child,
  .activeTab:last-child {
    border: 0;
  }

  .activeTab {
    background-color: #fff;
  }

  .activeTab:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .activeTab:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.listsContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;

  @media (width <= 480px) {
    overflow: scroll;
  }

  .list {
    flex: 1;
    background-color: #fff;
    padding-left: 1em;


    .item {
      cursor: pointer;
      padding: 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid gray;
      color: #434a51;
    }

    .item:last-child {
      border-bottom: none;
    }
  }
}
