.resource-card-wrapper {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 5rem;
  @media (max-width: 767px) and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    max-width: 99vw;
  }

  .dashboard-help-wrapper {
    min-width: 380px;
    @media (max-width: 767px) and (min-width: 320px) {
      min-width: 80vw;
    }
    .help-text {
      padding: 0 20px;
    }
  }
}
