@import "../../scss/globalDefines";

.layout {
    margin-bottom: 3rem;
    border-radius: 8px;

    @include small {
        width: 100%;
    }
}

.noPlansAvailable {
    font-size: 14px;
    color: #052a63;

    a {
        color: #4178ff;
        font-weight: bold;
        text-decoration: none;
        display: block;
    }

}

.cardHeader {
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    display: flex;
    padding: 1.5rem;
}

.content {
    border-radius: 8px;
    background-color: #fff;
    padding: 20px 20px 28px 16px;
    max-width: 888px;

    @include small {
        padding: 16px;
    }
}

.plansCount {
    font-size: 20px;
    color: #434A51;
}

.width {
    width: 888px
}