@import "../../scss/globalDefines.scss";

.layout {
    margin-bottom: 3rem;
    border-radius: 8px;
}

.noPlansAvailable {
    border: 1.5px solid #e6ecf2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #64748b;
}

.cardHeader {
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    padding: 1.5rem;
}

.content {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 1.5rem;

    @include small {
        background: none;
        padding: 0.5rem;
    }
}