.container {
  padding: 16px 24px;
  background-color: white;
  border-bottom: 1px solid #F1F1F1;
}

.label {
  color: #052A63;
  font-weight: bold;
  padding-right: 5px;
}

.section {
  margin-bottom: 7px;
}

.pill {
  background-color: #F1F1F1;
  color: #717171;
  padding: 2px 8px;
  display: inline-block;
  border-radius: 4px;
}

.expiredColumn {
  color: #F44336;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.expired {
  color: #CCC;
}

.expiredTitle {
  opacity: 0.5;
}

.expiredIcon {
  cursor: pointer;
  padding-right: 2px;
}