.alignRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.submit {
    background-color: #4178FF;
    padding: 14px 27px 15px 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.submitMobile {
    border-radius: 20px !important;
}

.submitDesktop {
    width: 100%;
    border-radius: 32px !important;
    display: flex !important;
    justify-content: space-between !important;
}