.tag {
    color: #052A63;
    font-weight: bold;
}

.innerWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.count {
    position: absolute;
    top: -2px;
    right: -4px;
    border-radius: 100%;
    padding: 0 4px;
    background-color: #f1faff;
    color: #4178ff;
    font-size: 10px;
    font-weight: 600;
}