@import "../../scss/globalDefines";

.backContainer {
    display: grid;
    align-items: center;
}

.backButton {
    color: #4178ff;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: inset 0 -1px 0 #00000029;
    }

    span {
        margin-left: 10px;
    }
}

.buttonLink {
    display: flex;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding-right: 8px;
    box-shadow: inset 0 -1px 0 #00000029;
    text-decoration: none;
    background: white;
    width: fit-content;

    span {
        margin-left: 10px;
    }
}
