@use "scss/globalDefines" as defines_global;

.showMoreRow {
  background-color: #fff;
  padding: 15px;
  min-width: 768px;

  @include defines_global.small {
    min-width: 0;
  }
}

.showMoreLink {
  color: #4178FF;
  cursor: pointer;
  font-weight: 600;
}