.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.lowerContainer {
    background-color: #f1f1f1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 24px 10px;
}

.title {
    font-size: 32px;
    color: #052a63;

    @media (width <= 480px) {
        font-size: 24px;
    }
}

.linkBlue {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: #4178ff;
    color: #fff;
    cursor: pointer;
    padding: 5px 5px 5px 12px;
    transition: ease-out 300ms;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.linkWhite {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: white;
    color: #4178ff;
    cursor: pointer;
    padding: 5px 5px 5px 12px;
    transition: ease-out 300ms;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        background-color: #fff;
        box-shadow: inset 0 -1px 0 #c7ccd1;
    }
}

.backButton {
    position: absolute;
    left: 20px;
}