.customBody {
    background: var(--v2-white);
    tr {
        border-bottom: 2px solid #f1f1f1;
    }
}

.customBodyRow {
    padding: 15px;
    padding-right: 0;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}
