@import "src/scss/globalDefines.scss";

.amountStepperWrapper {
    font-size: 16px;
    color: #717171;
    width: 288px;
    display: flex;
    margin-bottom: 15px;

    div {
        padding: 8px;
        cursor: pointer;
        width: 50%;
        border-bottom: 2px solid #cccccc;
    }

    .selected {
        color: #052a63;
        border-bottom: 4px solid #4178ff;
    }
}

.stepper {
    display: flex;
    margin-bottom: 16px;
    width: 100%;

    .input {
        width: 100%;
        height: 48px;
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
        text-align: center;
        font-size: 20px;
        color: #052a63;
    }
}

@include small {
    .amountStepperWrapper {
        width: 100%;
    }
}
