.wrapper {
    box-shadow: inset 0 -1px 0 #DDD;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (width <= 480px) {
        flex-direction: column;
        gap: 20px;
    }
}

.title {
    font-size: 32px;
    color: #052A63;
}

.linkBlue {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: #4178ff;
    color: #fff;
    cursor: pointer;
    padding: 5px 5px 5px 12px;
    transition: ease-out 300ms;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.linkWhite {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: white;
    color: #4178ff;
    cursor: pointer;
    padding: 5px 5px 5px 12px;
    transition: ease-out 300ms;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        background-color: #fff;
        box-shadow: inset 0 -1px 0 #c7ccd1;
    }
}
