@import "src/scss/globalDefines.scss";

.rtsTableContainer {
  margin-top: 90px;
  padding: 0px 40px;
  @media (max-width: 767px) and (min-width: 320px) {
    padding: 0;
  }

  .tableHeading {
    color: $dark-blue;
    font-size: 24px;
  }
}

.headerLayoutContainer {
  background: $white;
  box-shadow: inset 0px -1px 0px $gray-6;
}

.headerLayout {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .headerLayoutText {
    font-weight: normal;
  }
}

.sectionOne{
  width:40%;
  @media (max-width: 480px) {
    width: 90%;
    margin:auto;
  }
}

.sectionTwo{
  width:40%;
  @media (max-width: 480px) {
    width: 90%;
    margin:auto;
    margin-top: 30px;
  }
}

.accontCard {
  background: $white;
  border-radius: 8px;
  padding: 1rem;
  max-width: 360px;
}

.agentPhone {
  display: flex;
  justify-content: center;
  color: $blue-5;
  font-weight: normal;
}

.headingText {
  max-width: 360px;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: normal !important;
  font-size: 32px !important;
}

.accountPageContainer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.medicareCenterContainer {
  margin-right: 50px;

  @media (max-width: 480px) {
    margin-right: initial;
  }
}
.detailSection{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.sectionContianer{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  @media (max-width: 480px) {
    width: 100%
  }
}

.sectionBody {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

 .customLabel label{
  font-size: 16px;
  color: #000000;
}

.submitSection{
  display: flex;
  justify-content: flex-end;
  .submitButton{
    background-color: #0052CE;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 25px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

    &[disabled],
    &--disabled {
      background: var(--v2-disabled-button);
      color: var(--v2-disabled-button-text);
      cursor: not-allowed;
    }
  }
}
