@use "scss/globalDefines" as defines_global;

.rtsTableContainer {
  margin-top: 90px;
  padding: 0 40px;
  margin-bottom: 30px;

  @media (width <= 767px) and (width >= 320px) {
    padding: 0;
  }

  .tableHeading {
    color: defines_global.$dark-blue;
    font-size: 24px;
  }
}

.headerLayoutContainer {
  background: defines_global.$white;
  box-shadow: inset 0 -1px 0 defines_global.$gray-6;
}

.headerLayout {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .headerLayoutText {
    font-weight: normal;
  }
}

.sectionOne {
  width: 33.33%;

  @media (width <= 480px) {
    width: 90%;
    margin: auto;
  }
}

.sectionTwo {
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
  align-items: flex-start;

  @media (width <= 480px) {
    width: 90%;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
  }
}

.accontCard {
  background: defines_global.$white;
  border-radius: 8px;
  padding: 1rem;
  max-width: 360px;
}

.agentPhone {
  display: flex;
  justify-content: center;
  color: defines_global.$blue-5;
  font-weight: normal;
}

.headingText {
  max-width: 360px;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: normal !important;
  font-size: 32px !important;
}

.accountPageContainer {
  display: flex;
  justify-content: space-between;

  @media (width <= 480px) {
    flex-direction: column;
  }
}

.medicareCenterContainer {
  margin-right: 50px;

  @media (width <= 480px) {
    margin-right: initial;
  }
}

.detailSection {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

.sectionContianer {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;

  @media (width <= 480px) {
    width: 100%;
  }
}

.sectionBody {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.customLabel label {
  font-size: 16px;
  color: #000;
}

.submitSection {
  display: flex;
  justify-content: flex-end;

  .submitButton {
    background-color: #0052ce;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;

    &[disabled],
    &--disabled {
      background: var(--v2-disabled-button);
      color: var(--v2-disabled-button-text);
      cursor: not-allowed;
    }
  }
}

.preferences {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (width <= 480px) {
    width: 100%;
  }
}

.website {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (width <= 480px) {
    width: 100%;
  }
}

.notificationSection {
  padding: 15px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationSwitch {
  background-color: #0052ce;
}

.notificationSubTitle {
  color: #717171;
  font-size: 12px;
}

.subText {
  color: #434a51;
  font-size: 16px;
}

.subTitle {
  font-size: 20px;
  color: #002d72;
  padding-top: 8px;
  padding-bottom: 8px;
}

.switchWrapper {
  border: 1px solid #c7ccd1;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .icon {
    margin-top: 3px;
  }
}

.actionTitle {
  color: #2175f4;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.leadCenter {
  margin-top: 10px;
}

.health {
  padding: 5px;
  border-bottom: 2px solid #cdd0d5;
}

.innerSection {
  padding: 5px;
}

.phoneText {
  display: flex;
  border: 1px solid #c7ccd1;
  border-radius: 8px;
  padding: 8px;

  .number {
    color: #434a51;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .imageMobile {
    height: 30px;
    width: 30px;
  }
}

.editSection {
  color: #434a51;
  font-size: 16px;
  font-weight: bold;

  .editIcon {
    margin-left: 10px;
    cursor: pointer;
  }
}

.saveText {
  margin-left: 10px;
  color: #0052ce;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.iconTitle {
  display: flex;
  align-items: center;

  .notificationTitle {
    color: #434a51;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
}
 
.accountPageBodySection{
   background-color: #f1f1f1;
}
