.backButton {
    padding: 11px 24px !important;
    border: 1px solid #D8DEE4 !important;
    font-weight: bold;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
}

.client-import {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #041D42;
    margin-top: 55px;
}

.importDiv {
    margin-top: 30px;
}