.enrollmentHistory {
  font-family: Lato;
  font-weight: normal;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    background-color: var(--v2-white);
    box-shadow: var(--shadow-default);
    position: sticky;
    top: 0;
    z-index: 2;

    @media screen and (width >= 320px) and (width <= 480px) {
      padding: 18px 0 18px 24px;
      background-color: var(--v2-dark-blue);
      height: 60px;

      span.label {
        color: #fff;
      }
    }
  }

  .body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 51px;

    @media screen and (width >= 320px) and (width <= 480px) {
      margin-top: 0;
    }

    .left {
      width: 262px;
      flex-grow: 1;

      > div {
        top: 120px;
        position: sticky;
      }

      ul {
        padding-left: 18px;
        margin-top: 0;
      }

      @media screen and (width >= 320px) and (width <= 480px) {
        display: none;
      }
    }

    .main {
      flex-grow: 3;

      @media screen and (width >= 320px) and (width <= 480px) {
        background-color: #e7e9ed;
        width: 100%;
        padding: 48px 18px 0;
      }

      > div {
        margin-bottom: 24px;
      }
    }
  }
}
