.maintenance--header {
  .maintenace--logo {
    height: 24px;
    width: 172px;
  }
}

.maintenance--body {
  background: #fff;
  border: 2px solid #e8eaef;
  border-radius: 12px;
  height: 320px;
  width: 480px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
