.noListCard {
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
}

.title {
    color: #052a63;
}

.body {
    color: #434a51;
}

.messageBox {
    padding: 16px 24px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-top: 16px;
    margin-right: 2px;
    text-align: center;
    margin: 16px auto 0;
}

.message {
    color: #434a51;
}
