.filterButton {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 12px 0;
  position: sticky;
  bottom: 0;

  @media (width <= 480px) {
    position: sticky;
    bottom: 0;
    padding: 12px;
    align-items: flex-start;
    margin: 0;
    padding-top: 22px;
  }

  & .resetButton {
    background: #f4f6fa;
    border: 1px solid #0052ce;
    box-sizing: border-box;
    border-radius: 4px;
    width: 140px;
    padding: 12px 40px;
    text-align: center;
    margin-right: 15px;
    color: #0052ce;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    @media (width <= 480px) {
      width: 50%;
    }
  }
  
  & .applyButton {
    background: #0052ce;
    border: 1px solid #0052ce;
    border-radius: 4px;
    width: 140px;
    padding: 12px 40px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;

    @media (width <= 480px) {
      width: 50%;
    }
  }
}
