.label {
    font-size: 16px;
    letter-spacing: -0.14px;
    font-weight: 600;
    color: #052a63;
    margin-bottom: 4px;
    display: block;
}

.buttonContainer {
    display: flex;
    gap: 8px;
    width: 100%;
}

.expandableButton {
    transition: all 0.5s ease;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 17px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: #fff;
    cursor: pointer;
    flex: 1;
    color: #434a51;
    font-size: 16px;
    letter-spacing: -0.16px;
}

.expandableButton:hover {
       background: #f1faff;
}

.expandableButton.selected {
    background: #f1faff no-repeat padding-box;
    border: 1px solid #ddd;
}
