.lostStageModal {
  overflow-x: hidden;
  height: 420px;
}

.deleteContactsModal,
.exportContactsModal,
.lostStageModal {
  padding: 1rem;
}

.footerButtons {
  display: flex;
  bottom: 1rem;
  right: 1rem;
  gap: 1rem;
  justify-content: flex-end;
}

.selectExportContacts {
  margin-top: 10px;
  margin-bottom: 25px;
}

.text {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.lostStageModalContent {
  margin-top: 10px;
  margin-bottom: 100px;
}