@import "../../scss/globalDefines";

 

.headerContainer {
  height: 6rem;
  background: $blue-5;
}

 
.mobileLogo {
  width: 230px;
  height: 32px;
  margin-left: 40px;

  @include small {
      margin-left: 0;
  }
}