.sortSelector {
    width: 100%;
    white-space: nowrap;
}

.maxWidthMobile {
    width: 80px;
}

.sortButton {
    background-color: #fff;
    align-items: center;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #717171;
    position: relative;
    padding-right: 36px;

    .icon {
        padding: 10px;
        position: absolute;
        cursor: pointer;
        right: 0;

        &:hover {
            background-color: #f1faff;
            border-radius: 40px;
        }
    }

    .iconReverse {
        transform: rotate(180deg);
    }
}

.optionsMobile {
    margin-left: -190px;
    width: 232px;
}

.options {
    margin-top: 5px;
    width: 225px;
    display: flex;
    flex-direction: column;
    border: 1px solid #00000029;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 999999;

    .option {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: 30%;
        justify-content: space-between;
        box-shadow: inset 0 -1px 0 #dfdedd;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #434a51;
        cursor: pointer;

        &:last-child {
            box-shadow: unset;
        }

        &:hover {
            background-color: #f1faff;
        }

        .mark {
            position: absolute;
            right: 5px;
        }
    }
}
