.customBackground {
    background-color: transparent !important;
}

.customLabel label {
    color: #052A63;
    font-size: 16px;
    margin-top: 15px;

    @media (width <= 480px) {
        font-weight: bold;
    }
}