@import "../../../../scss/globalDefines.scss";

.comparePlanFooter {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #f4f6f8;
    padding: 24px 128px;
    box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.25);
    z-index: 1000;

    @include small {
        padding: 24px 16px;
    }

    @include medium {
        padding: 24px 64px;
    }
}

.plansFooterContainer {
    .placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 96px;
        padding: 32px 16px;
        border: 1px dashed #64748b;
        background: #f1f5f9;
        border-radius: 8px;
        @include small {
            margin-bottom: 16px;
        }
    }

    .planBox {
        padding: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;

        .logoCloseContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;

            img {
                width: 114px;
                height: 30px;
            }
        }
        @include small {
            margin-bottom: 16px;
        }
    }

    .compareButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .compareButton {
        @include small {
            width: 100%;
        }
    }
}
