.cancelButton {
    color: #4178ff;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 20px;

    &:hover {
        background-color: #ffffff;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    }
}

.closeButton {
    color: #ffffff !important;
    margin-bottom: 10px;
    padding: 2px !important;
    transform: rotate(0deg);
    transition: transform 1s;
    background-color: #cccccc !important;

    &:hover {
        transition: transform 1s;
        transform: rotate(90deg);
        color: #ffffff;
        background-color: #cccccc;
    }
}

.footer {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .addButton {
        color: #4178ff;
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        padding: 5px 15px;
        margin-top: -25px;
        margin-bottom: 16px;
        text-transform: capitalize;
        border-radius: 20px;

        &:hover {
            background-color: #ffffff;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        }
    }
}

.curvedFooterButtons {
    background-color: #f1f1f1;
    border-radius: 0 0 8px 8px;
    border-bottom: 1px solid #cccccc;
    justify-content: space-between;
    padding: 20px 24px;
    width: 100%;
    display: flex;
}

.footerButtons {
    background-color: #f1f1f1;
    border-radius: 0px;
    border-bottom: 1px solid #cccccc;
    justify-content: space-between;
    padding: 20px 24px;
    width: 100%;
    display: flex;
}

.title {
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    box-shadow: inset 0px -1px 0px #cccccc;
    color: #052a63;
    font-family: Lato;
    font-size: 32px;
    letter-spacing: 0.32px;
}

.deleteContainer {
    & button:hover {
        background-color: #ffffff;
    }
}
