@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-ribbon {
  @include flex-center;
  padding: 2rem 1rem;
  min-height: 100px;
  background-color: var(--brand-text-color);
  font-size: 18px;
  line-height: 24px;
  color: var(--invert-text-color);

  &__icon {
    margin-bottom: 1rem;
    width: 64px;
    height: auto;

    @media (min-width: 768px) {
      min-width: 42px;
      max-width: 46px;
      margin: 0;
    }
  }

  &__copy {
    padding: 0 2rem;
    margin-bottom: 2rem;

    span {
      display: block;
      font-weight: bold;

      @media (min-width: 1200px) {
        display: inline;
        margin-right: 1rem;
      }
    }

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .container {
    @include flex-center;
    flex-direction: column;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .btn--invert {
    color: var(--brand-text-color);

    &:hover:not(.btn--disabled):not([disabled]) {
      color: var(--brand-text-color);
    }
  }
}
