@import "../../styles/global.scss";

.parallaxContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.videoPlayer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  transform: translateY(200px);

  @include mobileOnly {
    grid-column-start: 1;
  }
}

.videoSection {
  display: grid;
  grid-template-columns: auto 800px auto;
  grid-template-rows: 100px 500px;
}
