.purlHeading {
    padding: 10px 0;
    color: var(--neutral-text-color);
    font-size: 20px;
    font-weight: 600;
    max-width: 360px;
}

.purlContent {
    margin-bottom: 20px;
    font-size: 16px;
    color: #434a51;

    @media (width <= 480px) {
        font-weight: 600;
    }
}

.copyLink {
    background-color: #4178ff;
    color: #fff;
    font-size: 14px;
    padding: 5px 17px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}
