.detailsEdit {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;

  .inputContainer {
    margin-top: 10px;
  }

  .inputRow {
    display: flex;
    justify-content: space-between;

    .inputContainer {
      width: 45%;
    }
  }
}

.label {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.select {
  width: 100% !important;
}

.buttonRow {
  display: flex;
  justify-content: space-around;

  .button {
    width: 45%;
    padding: 8px 15px;
  }
}

.duplicate {
  display: flex;
  padding: 15px;
  height: 63px;
  background: #fff8de;
  border-radius: 4px;

  .duplicate-text {
    font-size: 14px;
    justify-content: center;
    align-items: center;

    a {
      color: var(--v2-secondary-blue-900);
      cursor: pointer;
    }
  }
}

.iconContainer {
  float: right;

  .calendarIcon {
    position: relative;
    bottom: 32px;
    right: 15px;
  }
}
