@import "../../../../../scss/globalDefines.scss";

.messageBox {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 96%;
    gap: 10px;
    margin-left: 50px;

    @include small {
        margin-left: auto;
    }
}

.messageBox.inbound {
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0;
}

.chatIconBoxBroadcast {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    max-width: 20%;
}

.messageTextBoxBroadcast {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.dateTimeBox {
    display: inline-block;
}

.timeText {
    font-weight: bold;
    color: #052a63;
    display: inline-block;
}
.isUnread {
    border-right: solid 3px #4178ff;
    font-weight: bold;
}

.inbound.isUnread {
    border-left: solid 3px #4178ff;
    border-right: none;
}

.iconAndContentBox {
    display: flex;
    gap: 10px;
}

.viewCampaignButton {
    font-size: 16px;
    margin-top: 20px;
}