@import "../../../../../scss/globalDefines";

.messageBox {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 96%;
    gap: 10px;
    margin-left: 50px;

    @include small {
        margin-left: auto;
    }
}

.messageBox.inbound {
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0;
}

.chatIconBoxBroadcast {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    max-width: 20%;
}

.messageTextBox {
    word-break: break-all;
}

.messageTextBoxBroadcast {
    display: flex;
    gap: 15px;
}

.broadCastContainer {
    text-align: right;
}

.dateTimeBox {
    display: inline-block;
}

.timeText {
    font-weight: bold;
    color: #052a63;
    display: inline-block;
}

.isUnread {
    border-right: solid 3px #4178ff;
    font-weight: bold;
}

.inbound.isUnread {
    border-left: solid 3px #4178ff;
    border-right: none;
}

.iconAndContentBox {
    display: flex;
    gap: 10px;
}

.viewCampaignButton {
    button {
        font-size: 16px;
        margin-top: 20px;
        font-weight: normal;
        box-shadow: none;
        padding-right: 18px;

        @include small {
            margin-top: 0;
        }
    }
}

.wrappedContent {
    white-space: pre-wrap;
    white-space: pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap; 
    word-wrap: break-word;
}