.tableWrapper {
  margin-bottom: 40px;

  @media (width <= 768px) {
    overflow: scroll;
  }
}

.pill {
  background-color: #f1f1f1;
  color: #717171;
  padding: 3px 7px;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.expiredColumn {
  color: #F44336;
  display: flex;
  align-items: center;
  gap: 2px;
}

.expired {
  color: #CCC;
}

.expiredIcon {
  cursor: pointer;
  position: relative;
  top: 2px;
}