.tableWrapper {
  margin-bottom: 40px;

  @media (width <= 768px) {
    overflow: scroll;
  }
}

.expiredColumn {
  color: #F44336;
  display: flex;
  align-items: center;
  gap: 2px;
}

.expiredIcon {
  cursor: pointer;
  position: relative;
  top: 2px;
}

.sectionContainer {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 12px;
  color: #434a51;

  .row {
    padding: 16px 24px;
    border-bottom: 2px solid #f1f1f1;
    display: flex;

    .column {
      width: 60%;
    }
  }

  .title {
    color: #052A63;
    font-weight: bold;
  }

  .spacing {
    margin-bottom: 16px;
  }

  .pillWrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 4px;

    .pill {
      background-color: #f1f1f1;
      color: #717171;
      padding: 3px 7px;
      display: inline-block;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .column2 {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .buttonWithIcon {
    border-radius: 25px !important;
    padding: 4px 8px !important;

    svg {
      width: 24px;
    }

    span {
      font-size: 14px !important;
      color: #4178ff !important;
      font-weight: 500;
    }

    &:hover {
      background: #fff 0% 0% no-repeat padding-box;
      border-radius: 20px;
      box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
      color: #1357ff !important;
    }
  }
}