.stageFilters {
  padding-left: 15px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.listContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  width: 47%;
  height: fit-content;
}

.tagName {
  margin-left: 5px;
}

.tagCategoryName {
  font-size: 16px;
  font-weight: bold;
}

.openClose {
  align-items: center;
  background-color: #fff;
  border: 1px solid #c7ccd1;
  border-radius: 4px;
  color: #2175f4;
  cursor: pointer;
  display: flex;
  font-size: 23px;
  height: 25px;
  justify-content: center;
  width: 25px;
}
