.tooltipBox {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background-color: #6D6D6D;
  max-width: 209px;
}

.tooltipText {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (width <= 600px) {
  .tooltipBox {
    max-width: 180px;
  }

  .tooltipText {
    font-size: 12px;
    line-height: 16px;
  }
}
