@import "../../scss/globalDefines.scss";

.footerBannerContainer {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;

  @include small() {
    flex-direction: column;
  }
}

.footerBanner1 {
  display: flex;
  align-items: center;
  background-color: $pale-blue;
  border-radius: 8px;
}

.footerBanner2 {
  display: flex;
  align-items: center;
  background-color: $pale-green;
  border-radius: 8px;
}

.icon {
  height: 60%;
  width: 60%;
}

.textContentContainer {
  display: flex;
  background-color: $white;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.textContent {
  max-width: 300px;
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.text h6 {
  line-height: 1.25;
}
