.soa-confirmation-form-page {
  width: 740px;
  margin: 0 auto;

  @media screen and (width >= 320px) and (width <= 480px) {
    width: 100%;
  }

  .soa-confirmation-form-wrapper {
    display: flex;
    justify-content: center;

    @media screen and (width >= 320px) and (width <= 480px) {
      padding: 0;
    }

    .soa-confirmation-card {
      height: 100%;
      margin: 35px 0 165px;
      background: #fff;
      border: 1px solid #c7ccd1;
      box-sizing: border-box;
      border-radius: 10px;

      @media screen and (width >= 320px) and (width <= 480px) {
        margin: 0;
        width: 100%;
        border: none;
        padding: 16px 0;
      }

      .soa-confirmation-title {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0;
        text-align: left;
        padding: 0 0 19px;
        color: #002d72;
      }

      .section-1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: #3d4553;
        padding-bottom: 32px;
      }

      .section-2 {
        background: #f5f7fa;
        height: 300px;
        padding: 29px 0 48px 31px;

        @media screen and (width >= 320px) and (width <= 480px) {
          padding: 30px 0 48px 10px;
        }

        .plan-types {
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0;
          text-align: left;
          color: #565656;
        }
      }

      .section-3 {
        margin: 10px 0 32px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;

        .signing-form-2 {
          padding-bottom: 35px;
        }
      }

      .beneficiary-details {
        background: #f5f7fa;
        padding: 35px 40px 20px 35px;

        @media screen and (width >= 320px) and (width <= 480px) {
          padding: 16px 25px;
        }

        .heading-text {
          font-weight: bold;
          padding-bottom: 20px;
        }

        .person-enrolled {
          display: flex;
          gap: 10px;
          padding-bottom: 35px;
        }

        .icon-info-small {
          width: 15px;
        }

        .hide-input-err .form-input--error > .form-input__error {
          display: none;
        }

        .details-edit-custom-error-msg {
          width: 354px;

          .error-msg-green {
            line-height: 210%;
          }

          .error-msg-red {
            display: block;
            margin-top: 2px;
          }
        }

        .state-select-input .select {
          width: 100% !important;
          margin: 0 !important;
        }

        .user-middle-name .form-input__input {
          max-width: 70px;
        }

        .understand-contents-of-soa {
          display: flex;
          align-items: flex-start;
          padding-top: 40px;

          .understand-contents-of-soa-checkbox {
            padding-top: 3px;
          }

          .understand-contents-of-soa-content {
            padding-right: 48px;
            color: #3d4553;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0;

            @media screen and (width >= 320px) and (width <= 480px) {
              padding-right: 25px;
            }
          }
        }

        .authorized-representative-wrapper {
          padding-top: 60px;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0;

          .help {
            padding: 9px 0 24px;
            color: #0052ce;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .authorized-representative-details {
          padding-top: 25px;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0;
        }

        .submit-button {
          padding-top: 50px;

          @media screen and (width >= 320px) and (width <= 480px) {
            width: 100%;
          }
        }
      }
    }
  }

  .medicare-overview {
    margin: 0 40px;

    @media screen and (width >= 320px) and (width <= 480px) {
      margin: 0 auto;
      width: calc(100% - 60px);
      word-wrap: break-word;
    }

    .question {
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
    }

    .answer {
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
    }

    .list {
      text-indent: -24px;
      padding-left: 35px;
    }

    .nested-list {
      text-indent: -24px;
      padding-left: 35px;
    }
  }
}

.authorized-help-modal .modal__exit.icon-btn {
  top: -65px;
  right: -65px;
}

.authorized-representative-fill-form {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.authorized-help-modal {
  .text-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #515e6f;
  }

  .cancel-button {
    display: flex;
    justify-content: right;
  }
}

a.blue-link {
  color: #0052ce;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #0052ce;
  }
}

/* Start confirmation */
.soa-confirmation-page-card {
  margin: 35px 150px 0;
  max-width: 740px;

  @media screen and (width >= 320px) and (width <= 480px) {
    margin: 0;
    width: 100%;
    border: none;
    padding: 31px 24px 0 25px;
  }

  .confirmation-header {
    font-size: 24px;
    color: #002d72;
    padding-bottom: 32px;

    @media screen and (width >= 320px) and (width <= 480px) {
      padding-bottom: 20px;
    }
  }

  .confirmation-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #3d4553;
    padding-bottom: 15px;
  }
}

/* End confirmation */

/* Start form submitted */
.form-already-submitted-card {
  margin: 35px 150px 0;
  max-width: 740px;

  @media screen and (width >= 320px) and (width <= 480px) {
    margin: 0;
    width: 100%;
    border: none;
    padding: 31px 24px 0 25px;
  }

  .form-submitted-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #002d72;
  }
}

.mandatory-notes-div {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #515e6f;
  margin-bottom: 26px;
}

/* End form submitted */
