@import "../../../scss/globalDefines.scss";

.contentWrapper {
    display: flex;
    padding: 2rem 4.5rem;
    background-color: #f1f1f1;
    gap: 2.5rem;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.planOptionsBox {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #00000029;
    width: 100%;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 15px;
}

.planOptionsHeader {
    font-size: 24px;
    font-weight: normal;
}

.planOptionsText {
    color: #052a63;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.filterContent {
    max-width: 288px;

    .inputError {
        border-color: #cf3c28;
    }

    .error {
        color: #cf3c28;
    }
}

.checkboxesWrapper {
    padding: 10px 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .checkbox {
        padding: 10px 8px;
        display: flex;
        align-items: flex-start;
        gap: 4px;
        border: 1px solid var(--Integrity-gray-light-2, #DDD);
        border-radius: 4px;
        
    }

    .selectedCheckbox {
        background: #f1faff;
    }
}

.contentWrapper {
    thead {
        border-bottom: 1px solid black;
    }
}

@include small {
    .contentWrapper {
        display: flex;
        padding: var(--padding-gap-xx-big-56, 24px) var(--gap-lg-24, 24px);
        flex-direction: column;
        align-items: center;
        gap: var(--gap-lg-24, 0px);
    }

    .filterContent {
        width: 100%;
        max-width: 100%;
        gap:10px;
    }
}

.inActive {
    opacity: 0.5;
    cursor: not-allowed;
}

.pageHeading {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    background-color: #f1f1f1;
   
    @include small {
        font-size: 32px;
    }
}
