.toastProvider {
  position: relative;
}

.toastsWrapper {
  @media (width <= 480px) {
    left: calc(100vw - 355px);
  }

  position: fixed;
  top: 105px;
  right: 80px;
  z-index: 999;
}

.toast {
  background: #fff;
  border: 1px solid #c7ccd1;
  box-shadow: 0 2px 12px 0 #1e4459 25%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 372px;
  border-radius: 4px;

  @media (width <= 480px) {
    width: 350px;
  }

  a {
    color: #0052ce;
    text-decoration: underline;
  }

  &:hover {
    a {
      color: #002d72;
      cursor: pointer;
    }
  }

  .toastIndicator {
    border-radius: 4px 0 0 4px;
    width: 60px;
    min-height: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      stroke: white;
      stroke-width: 2px;
    }
  }

  &.success > .toastIndicator {
    background-color: #7fd7b2;
  }

  &.error > .toastIndicator {
    background-color: #ec8080;
  }

  &.action > .toastIndicator {
    background-color: #4f99f0;
  }

  .toastMessage {
    flex: 1;
    padding: 0.5rem 1rem;
    color: #525761;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    .undoLink {
      align-items: center;
      justify-content: space-between;
      flex: 1;
    }
  }

  button {
    color: #525761;
    margin-right: 33px;
    border: none;
    background-color: transparent;
    font-size: 2em;

    &:hover {
      color: #151e29;
    }
  }

  margin-bottom: 0.5rem;
}
