.toast-provider {
    position: relative;
}

.toasts-wrapper {
    right: 30px;
    position: absolute;
    top: 35px;
    z-index: 1;

    .toast {
        background: #fff;
        border: 1px solid #c7ccd1;
        box-shadow: 0px 2px 12px 0px #1e4459 25%;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 372px;
        border-radius: 4px;
        .toast-indicator {
            border-radius: 4px 0 0 4px;
            height: 100%;
            width: 60px;
            min-height: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                stroke: white;
                stroke-width: 2px;
            }
        }
        &.success > .toast-indicator {
            background-color: #7fd7b2;
        }
        &.error > .toast-indicator {
            background-color: tomato;
        }
        .toast-message {
            flex: 1;
            padding: 0.5rem 1rem;
            color: #525761;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
        }
        button {
            color: #525761;
            margin-right: 33px;
            border: none;
            background-color: transparent;
            font-size: 2em;
        }
        margin-bottom: 0.5rem;
    }
}
