@import "styles/global";

.impactText {
  grid-column: 1/3;
}

.mainLayout {
  align-items: center;
  display: grid;
  grid:
    "header" min-content
    "content" auto
    "footer" min-content
    / auto;
  height: 100%;
}

.layout {
  display: grid;
  gap: 30px;
  grid-template-columns: 30% auto;
}

.sectionTitle {
  grid-column: 1/3;
}

.serveClientsBetterSection {
  margin-top: 100px;
}
