.sectionHeading {
    color: #052a63 !important;
    font-weight: bold !important;
}

.sectionContent {
    background-color: #f1f1f1;
    padding: 9px;
    border-radius: 8px;
    display: flex;
    width: auto;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.sectionContentInline {
    display: inline-block;
}

.selectBox {
    background-color: #ffffff;
}

.selectBoxDisabled {
    cursor: not-allowed !important;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.menuItem {
    border: 1px solid #dddddd !important;
    margin: 0 5px !important;
    padding-left: 10px !important;
}

.menuItem:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.menuItem:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.closeIcon {
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    background-color: transparent !important;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.closeIcon img {
    width: 22px;
    height: 22px;
}

.menuItemIcon {
    height: 32px !important;
    width: 32px !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.itemIcon {
    height: 22px !important;
    width: 22px !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.menuItemIconMedium {
    height: 22px !important;
    width: 22px !important;
    margin-top: -1px !important;
}

.singleOptionBox {
    width: 230px;
    background-color: #ffffff;
    height: 45px;
    padding: 10px 20px;
    border-radius: 4px;
    color: #434a51;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #dddddd;
    display: flex;
    gap: 10px;
    align-items: center;
}

.selectBoxFilterValue {
    width: 100% !important;
    min-width: 200px;
}

@media (max-width: 767px) {
    .sectionContent {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        display: flex;
    }

    .closeIconMobile {
        margin-top: 11px;
        width: 24px !important;
        height: 27px !important;
    }

    .sectionContentAndOr {
        display: inline-block;
    }
}

.becomesText {
    color: #434a51;
    font-style: italic;
}
