.container {
    display: flex;
    background: #ddd;
    padding: 7px;
    padding-left: 24px;

    .title{
        flex-grow: 1;
        color: #052A63;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        justify-content: center;

        &:first-child {
            width: 40%;
            flex-grow: initial;
            justify-content: flex-start;
        }
    }
}

.mbContainer {
    display: flex;
    background: #ddd;
    padding: 3px;
    padding-left: 16px;

    .title{
        color: #052A63;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;

        &:first-child {
            width: 100px;
        }
    }
}