.container {
    display: flex;
    background: #ddd;
    padding: 7px 0;
    
    .heading {
        padding-left:24px;
        width: 40%;
        color: #052A63;
        font-weight: bold;
        font-size: 14px;
        border-right: 1px solid #ddd;
    }

    .columns {
        display: flex;
        flex-grow: 1;
    }

    .title{
        flex-grow: 1;
        color: #052A63;
        font-weight: bold;
        font-size: 14px;
        width: 25%;
        display: flex;
        justify-content: center;
        border-right: 1px solid #ddd;

        &:last-child {
            border-right: 1px solid transparent;
        }
    }
}

.mbContainer {
    display: flex;
    background: #ddd;
    padding: 3px;
    padding-left: 16px;

    .title{
        color: #052A63;
        font-weight: bold;
        font-size: 12px;
        display: flex;
        justify-content: center;
        width: 25%;

        &:first-child {
            width: fit-content;
        }
    }
}