.cmsComplianceSection {
  text-align: left;
  margin-top: 1rem;
  letter-spacing: 0.16px;
  color: #052A63;
  font-weight: bold;
}

.planInformationSection {
  background-color: #fff;
  border-radius: 8px;
  letter-spacing: 0.16px;
  padding: 16px;
  margin-top: 16px;
  color: #434A51;
}
