.upperSectionModal {
  text-align: center;
  padding: 0px 10px;
  letter-spacing: 0.16px;
  margin-top: 8px;
}

.lowerSectionModal {
  background-color: #fff;
  border-radius: 8px;
  letter-spacing: 0.16px;
  padding: 16px;
  margin-top: 16px;
}
