.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;

  input {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  top: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #aaa;
  transition: 0.4s;
  transition: 0.4s;
  height: 24px;
  width: 48px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background-color: #fff;
  transition: 0.4s;
  transition: 0.4s;
  border: 2px solid #aaa;
}

input:checked + .slider {
  background-color: #0052ce;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0052ce;
}

input:checked + .slider::before {
  transform: translateX(26px);
  transform: translateX(26px);
  transform: translateX(26px);
  border: 2px solid #0052ce;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

input:disabled + .slider {
  background-color: #d8dde1;
}

input:disabled + .slider::before {
  border: 2px solid #d8dde1;
  cursor: not-allowed;
}
