@import '../../styles/global.scss';

.image {
    align-self: center;
    flex: 1 1;
    height: 100%;
    object-fit: cover;
    width: 100%;

    @include mobileOnly {
        height: 75%;
    }
}

.videoPlayer {
    width: 100%;
    height: 100%;
}
