.label {
  color: #052A63;
  font-weight: bold;
  padding-bottom: 5px;
}

.customBodyRow {
  padding: 24px;
  padding-right: 0;
}

.labelInactive {
  color: #CCC;
  font-weight: bold;
  padding-bottom: 5px;
}

.mobileRow {
  width: calc(50% - 8px);
}