.noCampaignsCard {
    border-radius: 8px;
    padding: 24px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    color: #052a63;
    margin-top: 24px;
    text-align: center;
}
