.wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  background: #051d43b3;
  overflow: hidden;
  inset: 0;
  z-index: 30;
}

.arrowBox {
  position: absolute;
  right: 3.5rem;
  top: 1.9rem;

  @media screen and (width <= 768px) {
    right: 2.8rem;
    top: 1.9rem;
  }

  @media screen and (width <= 480px) {
    left: 7.2rem;
    right: auto;
  }
}

.box {
  position: absolute;
  right: 11rem;
  top: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 163px;
  width: 336px;
  background-color: #f4f8fb;
  box-shadow: 0 1px 0 #00000029;
  border-radius: 8px;
  top: 6.2rem;
  right: 2rem;

  @media screen and (width <= 768px) {
    top: 5.8rem;
  }

  @media screen and (width <= 480px) {
    left: 50%;
    transform: translate(-50%, 0);
    right: auto;
  }
}

.buttonShift {
  position: absolute;
  top: -2rem;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  height: 40px;
  color: #002d72;
  border-bottom: 1px solid #00000029;
}

.content {
  position: relative;
  padding: 16px;
  text-align: left;
  font-size: 16px;
}

.link {
  color: #0052ce;
  display: inline;
}

.button {
  width: 79px;
  height: 24px;
  background: #0052ce;
  padding: 2px 16px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  bottom: -1rem;
  right: 16px;
}

.outerWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.innerWrapper {
  position: relative;
}
