.wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: #051d43b3;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.body {
  display: flex;
  flex-direction: column;
  width: 552px;
  border-radius: 8px;
  background-color: #f4f8fb;
  box-shadow: 0px 1px 0px #00000029;
  border-radius: 8px 8px 8px 8px;
  @media screen and (max-width: 768px) {
    width: 350px;
  }
}
.buttonShift {
  position: absolute;
  top: -2rem;
}
.header {
  width: 100%;
  text-align: left;
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 28px;
  padding: 24px;
  height: 80px;
  color: #002d72;
  border-bottom: 1px solid #00000029;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    height: 60px;
  }
}
.content {
  position: relative;
  padding: 24px;
  text-align: left;
  font-size: 16px;
}
.link {
  color: #0052ce;
  display: inline;
}
.button {
  height: 40px;
  background: #0052ce;
  padding: 2px 16px 2px 16px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  width: max-content;
  justify-self: end;
  align-self: flex-end;
  margin: 0px 24px 24px 0px;
}
.closeBtn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;
  stroke: #0052ce;
  margin: 10px;
}
