@import "../../../scss/globalDefines.scss";

.container {
    padding: 56px 24px;
    display: flex;
    width: 85%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;

    @include small {
        width: 100%;
    }
}

.header {
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include small {
        flex-direction: column-reverse;
    }
}

.campaignTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    @include small {
        justify-content: space-between;
    }
}

.statusIcons {
    display: flex;

    @include small {
        margin-left: auto;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 100%;
    min-height: 374px;
}

.detailsContainer {
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.emailContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include small {
        flex-direction: column;
    }
}

.previewCampaignButton {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    @include small {
        position: static;
        margin-top: 10px;
    }
}

.startCampaignButton {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-self: end;
    @include small {
        position: static;
        margin-top: 10px;
    }
}

.progressIcon {
    color: #49648b !important;
}

.advancedModeToggle {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1;
    margin-top: 16px;
}
