@import "../../scss/globalDefines.scss";

.supportLinksContainer {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.supportLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 900px;
}

.row {
    flex-direction: row;
    align-items: center;

    @include small {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        flex-direction: column;
    }
}

.column {
    flex-direction: column;
    align-items: flex-start;
}

.card {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 8px 0;
    background-color: #ffffff;
}

.cardContent {
    margin-left: 0.5rem;
}

.linkText {
    display: block;
    color: var(--v2-royal-blue);
    cursor: pointer;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.rightArrow {
    margin-left: 8px;
    cursor: pointer;
}