.supportLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 900px;
}

.row {
    flex-direction: row;
    align-items: center;
}

.column {
    flex-direction: column;
    align-items: flex-start;
}

.card {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 8px 0;
}

.cardContent {
    margin-left: 0.5rem;
}

.linkText {
    display: block;
    color: var(--v2-royal-blue);
    cursor: pointer;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.rightArrow {
    margin-left: 8px;
    cursor: pointer;
}