@use "scss/globalDefines" as defines_global;

.supportLinksContainer {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

.supportLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
    max-width: 900px;
}

.row {
    flex-direction: row;
    align-items: center;

    @include defines_global.small {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        flex-direction: column;
    }
}

.column {
    flex-direction: column;
    align-items: flex-start;
}

.cardRow {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 8px 0;
    background-color: #fff;
    border-radius: 8px;
    width:400px;
}

.cardColumn {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 8px 40px;
    background-color: #fff;
    border-radius: 8px;
    width:400px;
}

.cardContent {
    padding: 0 16px;
    color: #434a51;
    font-size: 16px;
}

.linkText {
    display: flex;
    color: var(--v2-royal-blue);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.rightArrow {
    margin-left: 20px;
    cursor: pointer;
}
