@import "../../scss/globalDefines.scss";

.cardHeader {
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    width: 100%;
    padding: 0rem 1.7rem 0rem 0.7rem;

    @include small {
        background: none;
        box-shadow: none;
        padding: 1rem;
    }

    .iconWithTitle {
        display: flex;
        align-items: center;
    }

    .icon {
        cursor: pointer;
        padding-top: 10px;
        height: 50px;
    }

    .iconRotate {
        svg {
            transform: rotate(-180deg);
        }
    }

    svg {
        transition: 300ms ease-out;
    }
}

.heading {
    color: #052a63;
    font-size: 24px;
    letter-spacing: 0.24px;
    margin-top: 6px;

    @include small {
        font-size: 20px;
        letter-spacing: 0.2px;
    }
}

.content {
    border-radius: 0px 0px 8px 8px;
    padding: 1.5rem;

    @include small {
        background: none;
        padding: 0.5rem;
    }
}

.infoIcon {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
    color: #717171;
}

.actions {
    display: flex;
    justify-content: flex-end;
}
