/* General Styles */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

@media screen and (width >= 768px) {
  .flex-md-row {
    flex-direction: row;
  }
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
  text-align: center;
}

.justify-content-start {
  justify-content: flex-start;
}

@media screen and (width >= 768px) {
  .justify-content-end {
    justify-content: flex-end;
    text-align: right;
  }
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.container-y {
  padding-top: 75px;
  padding-bottom: 75px;
}

@media screen and (width >= 576px) {
  .container-x {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Page Styles */

/* Header */

.header-callrecording {
  height: 6rem;
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  align-items: center;
  background-color: #f1f6f8;
}

.header-image-container {
  width: 250px;
}

/* Masthead */

.masthead-background-image {
  background-image: url("images/GettyImages-594203317-frame.jpg");
  background-position: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.page-heading {
  background-color: #f1f6f8;
  width: 100%;
  padding: 3rem 0;
}

.call-recording-h1 {
  font-size: 60px;
  color: #002d72;
  text-align: center;
  margin: 3rem auto;
  font-weight: 400;
}

.page-content {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 150px;
  height: 100%;
}

.h2-call-recording {
  font-size: 40px;
  color: #002d72;
  text-align: center;
  margin-block: 0.83em;
  margin-inline: 0;
  font-weight: bold;
}

.cta-button-container {
  padding-top: 1.5rem;
}

.cta-button1 {
  background-color: #0052ce;
  cursor: pointer;
  padding: 0.8rem 3rem;
  border: 1px solid #0052ce;
  color: #fff;
  min-width: 175px;
  transition: 0.4s;
  text-decoration: none;
  border-radius: 3px;
  font-size: 24px;
}

.cta-button1::hover {
  background-color: rgb(0 82 206 / 70%);
}

/* Decorative Background */

.decorative-background-image {
  background: url("images/bg.jpg");
  background-position: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 425px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.call-recording-footer {
  background-color: #f1f6f8;
  padding: 2rem 0;
}

/* .privacy-policy-links {
   
} */

.privacy-policy-links a {
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
}

.copyright-container {
  font-size: 0.8rem;
}

.paragraph-content {
  margin: 1rem 0;
  font-weight: 400;
}
