.global-nav {
  display: flex;
  width: 100%;
  padding: calc(var(--window-side-padding) - 1rem) var(--window-side-padding);
  align-items: center;
  box-sizing: border-box;

  &__title {
    margin-right: auto;

    a {
      display: flex;
      padding: 1rem; // increase hit area
      margin-left: -1rem;
    }
  }

  &__links > ul {
    display: flex;
    line-height: (24 / 16);

    > li + li {
      margin-left: 1.5rem;
      border-left: 1px solid var(--page-bg-color);
      padding-left: 1.5rem;
    }
  }
}
