.global-footer {
  margin-top: auto;

  &__content {
    display: flex;
    flex-wrap: wrap;
    background: var(--invert-bg-color);
    color: var(--invert-text-color);
    padding: calc(var(--window-side-padding) * 0.75) var(--window-side-padding);

    > * {
      padding: calc(var(--window-side-padding) * 0.25) 0;
    }
  }

  &__links {
    margin-right: auto;
  }

  &__legal {
    font-size: inherit;
  }
}
