.global-nav {
  display: flex;
  width: 100%;
  padding: var(--window-side-padding);
  box-sizing: border-box;

  &__title {
    margin-right: auto;
  }

  &__links > ul {
    display: flex;

    > li + li {
      margin-left: 2.5rem;
    }
  }
}
