@use "scss/globalDefines" as defines_global;

.carousel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20px;
  width: 100%;
}

.carouselSlides {
  grid-column: 2/3;
  grid-row: 1/2;
}

.dots {
  grid-column: 2/3;
  grid-row: 2/3;
}
