html,
body {
  overflow-x: hidden;
  width: auto;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #373737;
  margin: 0;
  padding: 0;
}

p {
  margin: 1rem 0;
}

/* General Styles */

.d-flex {
  display: flex;
}

.container-y {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* Page Styles */

/* Header */

header {
  height: 6rem;
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  align-items: center;
  background-color: #f1f6f8;
}

.header-image-container picture {
  width: 250px;
  margin: 0 auto;
}

/* Masthead */

.masthead-background-image {
  background-image: url(images/GettyImages-594203317-frame.webp);
  background-position: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 992px) {
  .masthead-background-image {
    height: 500px;
  }
}

.page-heading {
  background-color: #f1f6f8;
  width: 100%;
  padding: 2rem 0;
}
@media screen and (min-width: 992px) {
  .page-heading {
    padding: 3rem 0;
  }
}
h1 {
  font-size: 38px;
  color: #002d72;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 60px;
    margin: 3rem auto;
  }
}

.page-content {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 150px;
  height: 100%;
}

h2 {
  font-size: 30px;
  color: #002d72;
  text-align: center;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 40px;
  }
}

.cta-button-container {
  padding-top: 1.5rem;
}

.cta-button {
  background-color: #0052ce;
  padding: 0.8rem 3rem;
  border: 1px solid #0052ce;
  color: #fff;
  border-radius: 0;

  text-decoration: none;
  border-radius: 3px;
  font-size: 18px;
}
a:hover,
button:hover {
  transition: 0.4s;
  color: #0052ce !important;
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  .cta-button {
    font-size: 24px;
  }
}

/* Video Image Container */
.video-image-container picture img,
.video-image-container picture source {
  width: 430px;
}
@media screen and (min-width: 576px) {
  .video-image-container picture img,
  .video-image-container picture source {
    width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .video-image-container picture img,
  .video-image-container picture source {
    width: 641px;
  }
}

/* Decorative Background */

.decorative-background-image {
  background: url(images/bg.webp);
  background-position: 36%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 425px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer {
  background-color: #f1f6f8;
  padding: 2rem 0;
}

/* .privacy-policy-links {
   
} */

.privacy-policy-links a {
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
}

.copyright-container {
  font-size: 0.8rem;
}
