.filterContent {
  position: absolute;
  background-color: #f4f8fb;
  width: 410px;
  max-height: 80vh;
  overflow-y: auto;
  height: auto;
  right: 0;
  top: 45px;
  z-index: 1;
  box-shadow: 0 4px 15px rgb(0 0 0 / 25%);
  border-radius: 4px;

  @media (width <= 480px) {
    position: fixed;
    background: #fff;
    bottom: 0;
    width: 100%;
    height: 70vh;
    z-index: 11;
    margin-top: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    left: 0;
    right: unset;
    top: unset;
  }
}

.contentInner {
  padding: 22px 21px;
  background-color: #f4f8fb;
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 18%);
}

.filterTitle {
  color: #002d72;
  font-size: 24px;
  margin-bottom: 5px;
  padding-bottom: 30px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.section {
  margin-bottom: 5px;

  .sectionTitle {
    margin-bottom: 10px;
    color: #717171;
  }
}