@import "../../../../scss/globalDefines";

.clientNotesContainer {
  margin-bottom: 3rem;
  border-radius: 8px;
}

.no-items {
  border: 1.5px solid #e6ecf2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #64748b;
}

.clientNotesContainer_content {
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;

  @include small {
     padding: 0.5rem;
  }
}


.noteInputContainer {
  display: flex;
  width: 100%;

  @include small {
    flex-direction: column;
  }
}


.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include small {
    width: 100% !important;
    justify-content: flex-end;
    flex-direction: row ;
}
}

.editButton {
  border-radius: 25px !important;
  padding: 5px 20px !important;
  background-color: #4178ff !important;
  margin-top: 10px;

  span {
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 500;
  }

  &:hover {
    background-color: #1357FF !important;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


.deleteButton {
  border-radius: 25px !important;
  background-color: #fff !important;
  padding: 5px 20px !important;
  margin-top: 10px;

  span {
    font-size: 14px !important;
    color: #4178ff !important;
    font-weight: 500;
  }

  &:hover {
    background: #FFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
    color: #1357FF !important
  }
}

.segregator {
  padding: unset;
  max-width: none;

  .iconWithTitle{
    display: flex;
    align-items: center;
    width: 100% !important;
  }
}