.contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}

.title4 {
  font-size: 16px;
  color: #052a63;
  font-weight: bold;
}

.dateContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  .dateItem {
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 4px;
    white-space: nowrap;
  }
}

.disabled {
  cursor: none;
  background-color: #b3c9ff !important;
  border: 1px solid #b3c9ff;
}
