.filterTitle {
    margin-bottom: 20px;
    padding-top: 16px;
}

.filterContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    gap: 24px;

    .label {
        font-size: 16px;
        color: #052a63;
        font-weight: 600;
        text-overflow: ellipsis;
        margin-bottom: 6px;
    }

    .radioOption {
        label {
            margin: 0 0 8px;
        }
    }
}

.filterButton {
    width: 100%;
}
