@import "../../scss/mixins";

.simple-header {
  display: flex;
  width: 100%;
  padding: calc(var(--window-side-padding) - 1rem) var(--window-side-padding);
  align-items: center;

  &__title {
    a {
      display: flex;
      padding: 1rem; // increase hit area
      margin-left: -1rem;
    }
  }
}
