@import "../../styles/global";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  justify-content: center;
  text-align: left;
  width: 100%;

  @include tabletAndAbove {
    gap: 35px;
    padding: 100px;
  }
}

.image {
  align-self: center;
  flex: 1;
  height: 60vh;
  object-fit: cover;
  width: 100%;
}

.splitContentImageSection {
  width: 100%;
}
