.headerText{
     color: #052A63;
    font-size: 20px;
}

.leadTagsList{
    background-color: #FFF;
    border-radius: 8px;
    padding: 24px;
  }


.addNewButton{
    padding: 5px 20px !important;
     border-radius: 8px !important;

    span {
       font-size: 16px !important;
       color: #4178FF !important;
       font-weight: 500;
   }
}