@import "../../scss/globalDefines.scss";

.subSection {
  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e8eb;
    padding: 20px;
    border-radius: 8px;
    flex-wrap: wrap;
    word-break: break-word;
    color: #434a51;
    Button {
      margin-top: 10px;
    }
  }
}

.subHeading {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;

  .subHeadingTitle {
    display: flex;
    color: #002d72;
    font-size: 20px;
  }
}

.date {
  margin-top: 5px;
  text-align: end;
  .day {
    color: black;
  }
  .time {
    color: #717171;
  }
}
