@use 'scss/globalDefines' as defines_global;

.layout {
  @include defines_global.small {
    grid-template-areas:
      'activities             activities             activities             activities            '
      'footerBanners             footerBanners             footerBanners             footerBanners            ';
  }

  @include defines_global.medium {
    grid-template-areas:
      'activities       activities       activities       activities       activities           activities             .                   .                   .                   .  . . '
      '.       .       .       footerBanners       footerBanners           footerBanners             footerBanners                  footerBanners                  footerBanners    . . .  ';
  }

  @include defines_global.large {
    grid-template-areas:
      'activities       activities       activities       activities       activities             activities             .                   .                   .                   . '
      '.       .       .       footerBanners       footerBanners           footerBanners             footerBanners                  footerBanners                  footerBanners    . . .  ';
  }

  @include defines_global.xLarge {
    grid-template-areas:
      'activities       activities       activities       activities       activities            activities             .                   .                   .                   . . .'
      '.       .       .       footerBanners       footerBanners           footerBanners             footerBanners                  footerBanners                  footerBanners    . . .  ';
  }
}

.activities {
  grid-area: activities;

  tbody {
    background-color: #fff;
    border-radius: 8px;
  }
}

.footerBanners {
  grid-area: footerBanners;
}

.wrapper {
  display: flex;
  align-items: center;
}

.activityDataCell {
  display: flex;
  align-items: center;
}

.deleteTextAreaText {
  color: #f44336;
}

.ediTextAreaText {
  color: #0052ce;
}

.buttonWithIcon {
  border-radius: 25px !important;
  padding: 5px 20px !important;

  span {
    font-size: 14px !important;
    color: #4178ff !important;
    font-weight: 500;
  }

  &:hover {
    background: #fff 0 0 no-repeat padding-box;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
    color: #1357ff !important;
  }
}

.css-126gqmu-MuiTableCell-root {
  @media (width <= 480px) {
    padding: 16px 10px !important;
  }
}

.activitiesContainer {
  margin-bottom: 3rem;
  border-radius: 8px;
}

.no-items {
  border: 1.5px solid #e6ecf2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #64748b;
}

.activitiesContainer_content {
  border-radius: 8px;

  @include defines_global.small {
    background: none;
  }
}

.activityDate {
  color: #717171;
  font-size: 14px;
}

.activitySubject {
  color: #052a63;
  font-size: 16px;
  cursor: pointer;
}

.activityBody {
  color: #717171;
  font-size: 14px;
  margin-left: 5px;
}

.segregator {
  padding: unset;
  max-width: none;
}
.showMoreLink {
  color: #0052CE;
  cursor: pointer;
  font-weight: 600;
  background-color: #fff;
  padding: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
