.footer {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    justify-content: space-between;

    .footerLinks {
        display: flex;
        gap: 1rem;
    }

    .footerLinks > * {
        display: inline;
        text-decoration: none;
    }

    .footerLinks > *::after {
        content: " ";

        /* 4 */
        letter-spacing: 1em;

        /* 5 */
        background: linear-gradient(
            90deg,
            transparent calc(50% - 0.03125em),
            currentcolor 0,
            currentcolor calc(50% + 0.03125em),
            transparent 0
        );

        /* 6 */
    }

    .appFooter {
        display: flex;
        flex-direction: column;
        padding: 24px;
        justify-self: center;
        gap: 12px;
        align-items: center;

        .logo {
            max-width: 224px;
        }

        .links a {
            padding: 0 24px;
            color: #434a51;
            text-decoration: none;
            border-right: thin solid #bbb;

            &:last-child {
                border-right: none;
            }
        }

        .text {
            font-size: 14px;
            color: #717171;
            text-align: center;
        }
    }
}
