.searchInput {
    width: 100%;

    @media (width >= 480px) {
        max-width: 328px;
    }

    @media (width <= 480px) {
        input {
            padding: 1.5rem !important;
            padding-left: 0 !important;
            padding-right: 0.5rem !important;
        }
    }
}

.popper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    margin-top: 10px;
    margin-left: 0;
    max-height: 150px;
    overflow-y: auto;
}

.divider {
    border-bottom: 1px solid #f6f6f6;
}

.optionItem {
    display: flex;
    align-items: center;
    padding: 24px 24px 24px 36px;
    width: 310px;
    height: 52px;
    cursor: pointer;

    &:hover {
        background-color: #f1faff;
    }
}

.noResults {
    display: flex;
    align-items: center;
    padding: 24px 24px 24px 36px;
    width: 310px;
    height: 52px;
    cursor: not-allowed;
}
