@import "../../../../../scss/globalDefines";

.showMoreRow {
  background-color: #fff;
  padding: 15px;
  min-width: 768px;

  @include small {
    min-width: 0;
  }
}

.showMoreLink {
  color: #4178FF;
  cursor: pointer;
  font-weight: 600;
}