.errorBanner {
    position: absolute;
    top: 30px;
    padding: 40px 25px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cta {
    text-decoration: none;
    padding-left: 5px;
    color: #4178ff;
    
}

.buttonWithIcon {
    border-radius: 25px !important;
    padding: 5px 12px !important;
    background-color: #4178ff !important;
    border: none;
    min-width: 90px !important;

    svg {
        width: 24px;
    }

    span {
        font-size: 14px !important;
        color: #fff !important;
        font-weight: 500;
    }

    &:hover {
        background: #4178ff 0% 0% no-repeat padding-box;
        border-radius: 20px;
        box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
        color: #1357ff !important;
    }
}
