.wrapper {
    padding: 0 24px;
    background-color: #f1f1f1;
}

.divider {
    margin: 20px !important;
}

.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    .footerBanners {
        width: 60%;

        @media (width <= 480px) {
            width: 80%;
        }
    }
}