@import "../../scss/globalDefines.scss";

.footerContainer {
  min-height: 8rem;
  max-height: 10rem;
  background: $white;

  @include small {
    height: 9rem;
  }
}

.textContent {
  color: $gray-7;
  text-decoration: none;
}
