.footerContainer {
  min-height: 8rem;
  max-height: 10rem;
  background: #ffffff;
  padding-left: 136px;
  padding-right: 136px;

  @media screen and (max-width: 480px) {
    height: 9rem;
  }
}

.textContent {
  color: #717171;
  text-decoration: none;
}
