@use "scss/globalDefines" as defines_global;

.footerContainer {
  min-height: 8rem;
  max-height: 10rem;
  background: defines_global.$white;
  border-top: 1px solid var(--border-light);

  @include defines_global.small {
    height: 9rem;
  }
}

.textContent {
  color: defines_global.$gray-7;
  text-decoration: none;
}
