.action-dropdown {
  .action-dropdown-menu {
    display: none;
  }

  cursor: pointer;

  &.opened {
    .action-dropdown-menu {
      cursor: default;
      display: flex;
      flex-direction: column;
      position: absolute;
      border: 1px solid #dfe5ef;
      border-radius: 4px;
      box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
      background: #fff;
      padding: 10px 9px 11px;
      z-index: 1;
    }

    .action-dropdown-menu-item {
      cursor: pointer;
      color: #3d4553;
      padding: 9px 0 9px 9px;
      min-width: 200px;
      min-height: 40px;
      border-radius: 4px;
      margin: 2px;

      &:hover {
        background: #f4f6fa;
        color: #0052ce;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
