@import "../../../scss/globalDefines.scss";

.navWrapper {
    box-shadow: inset 0px -1px 0px #dddddd;
}

.contactProfileTabBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
    position: relative;

    @include small {
        flex-direction: column;
    }

    .backToContacts {
        position: absolute;
        left: 2.5rem;
        top: 24px;
        cursor: pointer;

        @include small {
             display: none;
        }

        .backButton {
            color: #4178ff;
            font-size: 16px;
            font-weight: 600;

            &:hover {
                background-color: #ffffff;
                border-radius: 20px;
                box-shadow: inset 0px -1px 0px #00000029;
            }

            span {
                margin-left: 10px;
            }
        }
    }

    .profileMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;

        @include small {
            width: 90%;
        }

        .userName {
            color: #052a63;
            font-size: 32px;
        }

        .profileTabs {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            @include small {
                overflow-x: auto;
            }

            .profileTab {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .tabIcon {
                    padding: 7px 9px 3px 8px;
                    background-color: #f1faff;
                    border-radius: 35px;

                    &:hover {
                        box-shadow: inset 0px -1px 0px #00000029;
                    }

                    &.selected {
                        border: 1px solid #4178ff;
                    }
                }

                .tabName {
                    color: #717171;
                    font-size: 14px;
                    text-wrap: nowrap;
                }
            }
        }

        .quoteButton {
            width: 232px;
            height: 45px;
            background: #4178ff;
            border-radius: 20px;
            color: #ffffff;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 500;
            border: none;

            &:hover {
                background-color: #0052ce;
            }
            @include small {
                width: 90%;
             }
        }
    }
}