.contacts-soa {
  .page-title {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    display: flex;
  }

  .content-wrapper {
    @media (width <= 768px) {
      width: auto;
      margin: 30px;
    }

    width: 738px;
    background: #fff;
    border: 1px solid #c7ccd1;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 40px 32px;

    .heading {
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      color: #002d72;
    }

    .with-top-margin {
      margin-top: 20px;
    }

    .btn-submit {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      width: 126px;
      height: 40px;
      background: #0052ce;
      color: white;
      border-radius: 4px;

      &:disabled {
        cursor: not-allowed;
        background: #e6ecf2;
        color: #64748b;
      }
    }

    .section-1 {
      margin-top: 20px;
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 24px;
      color: #3d4553;
    }

    .section-2 {
      background: #f5f7fa;
      padding: 30px;

      @media (width <= 425px) {
        margin-left: -32px;
        margin-right: -32px;
      }

      .title {
        font-size: 16px;
        line-height: 20px;
        color: #6a7279;
      }

      .item {
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #151e29;
      }
    }

    .row {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .col {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.full {
        width: 100%;
      }
    }

    .key-value-wrapper {
      display: flex;
      flex-direction: column;

      .label {
        font-size: 12px;
        line-height: 16px;
        color: #6a7279;
        margin-bottom: 4px;
      }

      .value {
        font-size: 16px;
        line-height: 20px;
        color: #151e29;

        .datepicker-input {
          width: 95px;
          padding-left: 26px;

          &+svg {
            display: none;
          }
        }
      }
    }
  }

  .soa-authorize-container {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #151e29;

    .input-tag {
      margin-right: 8px;
      font-family: "Material Icons";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #6a7279;
    }
  }

  .soa-terms-conditions {
    & input[type="checkbox"] {
      margin-right: 16px;
    }
  }

  .soa-form-input {
    border: 1px solid #c7ccd1;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 6px;
  }

  .soa-explanation {
    border: 1px solid #c7ccd1;
    box-sizing: border-box;
    border-radius: 2px;
    width: 380px;
    height: 40px;

    @media (width <= 425px) {
      width: auto;
      height: auto;
    }
  }

  .mandatory-notes {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #515e6f;
  }
}
