.agentPhone {
    display: flex;
    justify-content: center;
    color: #052a63;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 32px;
}

.subText {
    font-size: 16px;
    color: #434A51;

    @media (width <= 480px) {
      font-weight: 600;
    }
}
