.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin-top: 36px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.icon {
  background-color: white;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  color: #052a63;
  margin-top: 10px;
}