.checkbox-group {
  font-style: normal;
  font-weight: normal;
  color: #2b323b;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.checkbox-input {
  width: 15px;
  height: 15px;
  border: 1.25px solid #64748b;
}

.checkbox-label {
  margin-left: 5px;
  font-weight: normal;
  font-size: 14px;
}

.disabled {
  color: #64748b;
}