.fieldHeaderLabel {
    color: #052a63;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.17px;
}

.nextButton {
    width: 100%;
    justify-content: space-between;
    background-color: #4178ff;
    border-radius: 100px;

    svg {
        margin-left: 100px;
    }
}

.payPeriodLabel {
    margin-top: 8px;
    display: inline-block;
}