@use "scss/globalDefines" as defines_global;

.container {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 340px;

    @include defines_global.small {
        width: 100%;
    }
}

.heading {
    color: #052a63;
    font-size: 16px;
    margin-bottom: 0;
}

.subHeading {
    color: #717171;
    font-size: 14px;
    margin-top: 0;
}

.viewButton {
    background: #007bff;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    outline: none;
    padding: 8px 16px;
    width: 80px;

    &:hover {
        background: darken(#007bff, 10%);
    }

    &:focus {
        box-shadow: 0 0 0 2px rgb(0 123 255 / 50%);
    }
}