.submitSection {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    
    .submitButton {
        background-color: #4178FF;
        color: #fff;
        font-size: 14px;
        padding: 5px 17px;
        border-radius: 20px;
        font-weight: 500;
        cursor: pointer;

        &[disabled],
        &--disabled {
            background: #B3C9FF;
            cursor: not-allowed;
        }
    }
}

.label {
    color: #052A63;
    font-size: 16px;
    margin-top: 15px;
    font-weight: bold;
}