.customBody {
    background-color: white;
}

.customBodyRow {
    padding: 24px;
    padding-right: 0;
}

.customTextField {
    width: 144px;
    padding: 24px;
    padding-right: 0;
}

.title {
    color: #052a63;
    font-weight: bold;
}

.buttonWithIcon {
    border-radius: 25px !important;
    padding: 4px 8px !important;

    svg {
        width: 24px;
    }

    span {
        font-size: 14px !important;
        color: #4178ff !important;
        font-weight: 500;
    }

    &:hover {
        background: #fff 0% 0% no-repeat padding-box;
        border-radius: 20px;
        box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
        color: #1357ff !important;
    }
}

.errorMessage { 
    position: absolute;
    color: #f44336;
    font-size: 14px;
}

// Mobile styling

.mobileContainer {
    display: flex;
    flex-flow: column wrap;
    padding: 16px 24px;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    gap: 15px;
}

.error {
    width: 100%;
    text-align: center;
    color: #f44336;
}

.errorTable {
    position: absolute;
    left: 35%;
    bottom: 0;
    color: #f44336;
}

.customRow {
    position: relative;
}

.fieldAndActions{
    display: flex;
     align-items: center;
    justify-content: space-between;
 }