.formWrapper {
    background: #F1F1F1;
    border-radius: 8px;
    padding: 24px;
    margin: 33px 0 16px;

    .formText {
        color: #052A63;
        font-weight: bold;
    }

    .formSubText {
        font-size: 14px;
        color: #717171;
        font-style: italic;
    }

    .formAuthText {
        color: #434a51;
    }

    .infoStyle {
        position: relative;
        left: 6px;
        top: 2px;
    }

    .signedText{
        color: #052A63;
        font-weight: bold;
        margin-top: 10px;

    }

    .soaSignedTime {
        display: flex;
        padding: 5px 16px 5px 8px;
        width: fit-content;
        border-radius: 4px;
        color: #052A63;
        font-weight: bold;
    }

    .checked {
        background: #F1FAFF;
    }
 
}

.consentWrapper {
    display: flex;
    margin-bottom: 16px;
}

.submitCTA {
    background-color: #4178FF;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px !important;
    padding: 10px 16px !important;
}

.explanationInput{
    width: 50%;
    margin-bottom: 10px;
}