@import "../../scss/globalDefines";

.tagsContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tags {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 4px 8px;
}

.tagText {
  color: #434a51;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
