.taskListInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.taskSentDate {
  color: #434a51;
  font-size: 16px;
  font-weight: 400;
}

.policyName {
    color: #052a63;
    font-size: 20px;
    word-wrap: break-word;
}

.callInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .callIcon {
    margin-top: 5px;
  }

  .mobile {
    color: #4178ff;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 500;
  }

  .callName {
    color: #052a63;
    font-size: 16px;
    margin-left: 5px;
  }

  .fromText {
    color: #717171;
    font-size: 14px;
    margin-left: 5px;
  }
}

.dateTimeLabel {
  color: #052a63;
  font-size: 16px;
  font-weight: bold;
}

.taskListIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .taskListIcon {
    background-color: #4178ff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .downloadIcon {
    background-color: #fff;
  }
}


.policyHolder {
    color: #4178ff;
    font-size: 16px;
    word-wrap: break-word;
}