.tableWrapper {
  // min-height: calc(100vh - 300px);

  @media (width <= 768px) {
    overflow: scroll;
  }
}

.noDataWrapper {
  min-height: auto;

  @media (width <= 768px) {
    overflow: scroll;
  }
}

.sectionContainer {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 12px;
  color: #434a51;

  .column {
    padding: 16px 24px;
    border-bottom: 2px solid #f1f1f1;

    .row {
      min-width: 35%;
    }
  }

  .title {
    color: #052A63;
    font-weight: bold;
  }

  .spacing {
    margin-bottom: 16px;
  }

  .pillWrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 4px;

    .pill {
      background-color: #f1f1f1;
      color: #717171;
      padding: 3px 7px;
      display: inline-block;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
    }
  }

}