.banner {
    display: flex;
    align-items: center;
    border: 1px solid #dfe5ef;
    background-color: #F1FAFF;
    border-radius: 4px;
    font-size: 16px;
    justify-content: space-between;
    padding: 7px 20px;
    margin-top: 15px;
    position: relative;
}

.clearIcon {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    gap: 7px;
    color: #434a51;
    align-items: center;
}

.colorBar {
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0;
    background-color: rgb(222 235 251);
}

.Declined {
    background-color: rgb(65 120 255);
}

.Applied {
    background-color: rgb(221 221 221);
}

.Issued {
    background-color: rgb(220 210 190);
}