@import "../../../scss/globalDefines";

.finalExpenseContactBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
    background-color: #fff;
    position: relative;
    height: 88px;
    box-shadow: inset 0 -1px 0 #ddd;

    @include small {
        padding-left: 0;
    }

    .backToContacts {
        position: absolute;
        left: 2.5rem;
        top: 18px;
        cursor: pointer;

        @include small {
            position: static;
        }

        .backButton {
            color: #4178ff;
            font-size: 16px;
            font-weight: 500;

            &:hover {
                background-color: #fff;
                border-radius: 20px;
                box-shadow: inset 0 -1px 0 #00000029;
            }

            span {
                margin-left: 10px;
            }

            @include small {
                padding: 11px 15px !important
            }
        }
    }

    .profileMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;

        @include small {
            width: 100%;
        }

        .userName {
            color: #052a63;
            font-size: 32px;
        }
    }
}