.section {
    padding: 12px;
    border-bottom: 1px solid #DDD;

    &:last-child {
        border-bottom: none;
    }
}

.iconTitle {
    color: #052A63;
    font-size: 16px;
    display: flex;
    gap: 15px;
    font-weight: normal;
    width: 110px;
    
    svg {
        padding: 3px;
        border-radius: 50%;
        background-color: #f6f8ff;
        transform: scale(1.3);
    }
}

.actionTitle {
    display: flex;
    cursor: pointer;
    gap: 3px;
    color: #4178FF;
    font-weight: 600;
    width: calc(100% - 110px);
    justify-content: space-between;
    flex-wrap: wrap;
}

.subTitle {
    margin-top: 7px;
    color: #717171;
    font-size: 11px;
    font-style: italic;
}