.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .icon {
    margin-top: 3px;
  }
}

.subTitle {
  font-size: 16px;
  font-weight: bold;
  color: #052A63;
  padding-top: 8px;
  padding-bottom: 8px;
}


.editSection {
  color: #1357FF;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;

  .editIcon {
    margin-left: 10px;
    cursor: pointer;
  }
}

.saveText {
  margin-left: 10px;
  color: #1357FF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


.phoneText {
  display: flex;
  border: 1px solid #c7ccd1;
  border-radius: 8px;
  padding: 8px;

  .number {
    color: #434a51;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .imageMobile {
    height: 30px;
    width: 30px;
  }
}
