.banner {
    display: flex;
    align-items: center;
    border: 1px solid #dfe5ef;
    background-color: #fff;
    border-radius: 4px;
    font-size: 16px;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 15px;
}

.clearIcon {
    cursor: pointer;
}
