@use "scss/globalDefines" as defines_global;

.heading4 {
  color: defines_global.$dark-blue;
  font-size: defines_global.$font-size-18;
  font-weight: bold;

  @include defines_global.small {
    font-size: $font-size-12;
  }
}
