@import "../../scss/globalDefines.scss";

.mailOrderNotApplicable {
    justify-content: center;
    align-items: center;
    display: flex;
}

.mailOrderNotApplicableIcon {
    margin-right: 5px;
    margin-top: 5px;

    @include small {
        margin-top: -12px;
    }
}