@import "../../scss/globalDefines";

.mailOrderNotApplicable {
    justify-content: center;
    align-items: center;
    display: flex;
}

.mailOrderNotApplicableIcon {
    margin-right: 5px;
    margin-top: 5px;

    @include small {
        margin-top: -12px;
    }
}

.addPharmacyText {
    color: #4178FF;
    cursor: pointer;
}

.addPharmacyTextDisabled {
    color: #00000061;
    cursor: default;
}