@import "../../../scss/globalDefines.scss";

.policiesContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    align-items: center;

    @include small {
        padding: 0;
        width: 100%;
    }
}