.welcome-content {
  min-height: 250px;
  padding: 70px 0 30px 135px;

  @media screen and (width >= 320px) and (width <= 480px) {
    min-height: 0;
    padding: 0;
  }
}

.welcome-user-plans {
  padding-left: 0;
}

.client-name {
  color: var(--v2-dark-blue);
  font-size: 48px;
  line-height: 56px;

  @media screen and (width >= 320px) and (width <= 480px) {
    font-size: 24px;
  }
}
