.customTable {
    width: 100%;
    min-width: 768px;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
        position: relative;
        top: 20px;
    }

    // Plan Year column
    thead tr th:first-child {
        width: 12%;
        min-width: 130px;
    }

    // Carrier column
    thead tr th:nth-child(2) {
        width: 17%;
    }

    // Stage column
    thead tr th:nth-child(3) {
        width: 25%;
    }

    // Product
    thead tr th:nth-child(4) {
        width: 25%;
    }

    // Product ID column
    thead tr th:nth-child(5) {
        width: 10%;
    }

    // Action column
    thead tr th:nth-child(6) {
        width: 10%;
    }

    tbody tr td:first-child {
        width: 10%;
    }

    tbody tr:first-child td:first-child {
        border-top-left-radius: 8px;
    }

    tbody tr:first-child td:last-child {
        border-top-right-radius: 8px;
    }
}

.pill {
    background-color: #f1f1f1;
    color: #717171;
    padding: 3px 7px;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px; 
    font-weight: bold;
}
