@use "scss/globalDefines" as defines_global;

.outerContainer {
  background-color: defines_global.$alice-blue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerContainer {
  padding: 5px;
  margin: 10px;
  color: var(--v2-header-title);
  text-align: center;
}

.redirectHeading {
  color: defines_global.$dark-blue;
}

.redirectSubHeading {
  color: defines_global.$dark-blue;
}
