@use "scss/globalDefines" as defines_global;

.soaTitleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.columnView {
    flex-direction: column;

    @include defines_global.small {
        padding: 1rem 0;
        flex-direction: row;
    }
}

.noSOA {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.noSOAText {
    font-size: 16px;
    color: #000;
    margin-right: 10px;
}

.titleWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;

    svg {
        position: relative;
    }
}

.sendNewWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;

    svg {
        position: relative;
    }
}

.soaTitle {
    color: #052a63;
    font-size: 24px;
    padding-right: 5px;
}

.infoStyle {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.sendStyle {
    font-size: 14px;
    color: #4178ff;
    cursor: pointer;
}

.soasLengthTitle {
    margin-top: 15px;
    margin-bottom: 30px;
}

.sendSOAButton {
    button[type="button"] {
        border-radius: 25px;
        border: none;
        background: #4178ff;
        padding: 5px 15px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        margin-bottom: 15px;

        svg {
            margin-left: 10px;
        }

        @include defines_global.small {
            width: 170px;
        }
    }
}

.noSOATextTab {
    font-size: 20px;
    color: #052a63;
    text-align: center;
}