.filterOptions {
    background-color: #f4f8fb;
    width: 600px;
    padding: 0;
}

.modalContentWrapper {
    padding: 0;
}

.filterHeader {
    border-bottom: 1px solid #cccccc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.heading {
}

.footerBtns {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.tableCellContent {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.filter {
    cursor: pointer;
}

.filterDisabled {
    filter: grayscale(100%);
    cursor: not-allowed;
}

.optionWithIcon {
    display: flex;
    flex-direction: row;
}

.doneIcon {
    color: #002d72;
}

.countToDisplaySpan {
    position: absolute;
    margin-left: 5px;
    border-radius: 50px;
    padding: 0 5px;
    background-color: #ffffff;
    color: #4078ff;
    border: 1px solid #eee;
    font-size: 12px;
}
