@use "scss/globalDefines" as defines_global;

.infoBox {
    width: 30%;
    height: auto;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include defines_global.small {
        width: 100%;
    }
}