@import "../../../scss/globalDefines";

.infoBox {
    width: 30%;
    height: auto;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include small {
        width: 100%;
    }
}