@import "../../styles/global";

.centeredSection {
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 100px 300px;
  width: 100%;
}

.sectionTitle {
  text-align: center;
}

.text {
  @include transitionUp;
}
