@import "../defines/colors";

.black {
  color: $black;
}

.black-background {
  background-color: $black;
}

.black-border {
  border-color: $black;
}

.blue-1 {
  color: $blue-1;
}

.blue-1-background {
  background-color: $blue-1;
}

.blue-1-border {
  border-color: $blue-1;
}

.blue-1-light {
  color: $blue-1-light;
}

.blue-1-light-background {
  background-color: $blue-1-light;
}

.blue-1-light-border {
  border-color: $blue-1-light;
}

.blue-2 {
  color: $blue-2;
}

.blue-2-background {
  background-color: $blue-2;
}

.blue-2-border {
  border-color: $blue-2;
}
