@use "../defines/colors";

.black {
  color: colors.$black;
}

.black-background {
  background-color: colors.$black;
}

.black-border {
  border-color: colors.$black;
}

.blue-1 {
  color: colors.$blue-1;
}

.blue-1-background {
  background-color: colors.$blue-1;
}

.blue-1-border {
  border-color: colors.$blue-1;
}

.blue-1-light {
  color: colors.$blue-1-light;
}

.blue-1-light-background {
  background-color: colors.$blue-1-light;
}

.blue-1-light-border {
  border-color: colors.$blue-1-light;
}

.blue-2 {
  color: colors.$blue-2;
}

.blue-2-background {
  background-color: colors.$blue-2;
}

.blue-2-border {
  border-color: colors.$blue-2;
}
