.spacingNone {
  margin-bottom: 0;
  margin-top: 0;
}

.spacingXsmall {
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

.spacingSmall {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.spacingMedium {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.spacingLarge {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.spacingXlarge {
  margin-bottom: 3rem;
  margin-top: 5.75rem;
}
