.countSortContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 16px;
    height: 60px;
}

.tabs {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: min(100%, 840px);
    margin-inline: auto;
    min-height: 40px !important;
}
.countSortText {
    color: #434a51;
    line-height: 24px !important;
}
