@import "../../../scss/globalDefines.scss";

.tabsContainer {
    flex-grow: 1;
    width: 90%;
    margin-left: auto;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.underwritingRequirements {
    ul {
        list-style-type: disc !important;
        padding: 0px 24px;
    }

    p {
        width: 250px;
        word-break: break-word;
    }
}

.planCompareHeader {
    @include small {
        overflow-x: auto;
        & > div > div {
            width: 1000px;
        }
    }
}
.productFeature {
    @include small {
        overflow-x: auto;
        table {
            width: 1000px;
        }
    }
}
.underwritingRequirements {
    @include small {
        overflow-x: auto;
        table {
            min-width: 1365px;
        }
    }
}
