@function get-clamp-val($smallest, $largest) {
  $calc: calc(
    #{$smallest / 16}rem + #{$largest - $smallest} * ((100vw - 375px) / #{768 -
          375})
  );
  @return clamp(#{$smallest / 16}rem, #{$calc}, #{$largest / 16}rem);
}

@mixin clamp-font-size($smallest, $largest) {
  $clamped: get-clamp-val($smallest, $largest);
  & {
    font-size: #{$smallest / 16}rem;

    @media (min-width: 768px) {
      font-size: #{$largest / 16}rem;
    }
  }
  @supports (font-size: #{$clamped}) {
    font-size: #{$clamped};
  }
}
