@use "mixins" as *;

:root {
  --page-bg-color: #e3e6ec;
  --main-text-color: #333333;
  --main-bg-color: #ffffff;
  --invert-text-color: #ffffff;
  --invert-bg-color: #333333;
  --brand-text-color: #236c9e;
  --brand-text-hover-color: #0079cc;
  --brand-bg-color: #236c9e;
  --brand-bg-hover-color: #0079cc;
  --disabled-color: #a4aec1;
  --disabled-contrast-color: #e8eaef;
  --shadow-default: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  --card-bg: #ffffff;
  --card-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  --brand-gradient-start: #236c9e;
  --brand-gradient-end: #0079cc;
  --window-side-padding: #{get-clamp-val(24, 40)};
  --scaling-header-padding: #{get-clamp-val(72, 120)};
  --scaling-space-0: #{get-clamp-val(16, 24)};
  --scaling-space-1: #{get-clamp-val(24, 40)};
  --scaling-space-2: #{get-clamp-val(40, 80)};
  --scaling-space-3: #{get-clamp-val(72, 120)};
}
