// Base (Explicit Order)
@import "scss/mixins";
@import "scss/theme";
@import "scss/global";
@import "scss/forms";
@import "scss/typography";
@import "scss/v2";

// CSS Components (Alphabetical)
@import "scss/components/btn";
@import "scss/components/card";
@import "scss/components/divided-lists";
@import "scss/components/flash-message";
@import "scss/components/icons";
@import "scss/components/lead-source-indicator";
@import "scss/components/keyval-list";
@import "scss/components/line-item";
@import "scss/components/link-card";
@import "scss/components/link";
@import "scss/components/mod";
@import "scss/components/modal";
@import "scss/components/number-list";
@import "scss/components/pagination";
@import "scss/components/scaling-header";
@import "scss/components/status-field";
@import "scss/components/toolbar";

// Disable Landscape Mode Scroll in Mobile devices (created to complement prevent-orientation npm package) (vgin)

//  Checking Landscape orientation
@media screen and (orientation: landscape) {
  // Checking if the device is mobile
  @media screen and (max-height: 480px) {
    /* checking if device has a touch screen */
    @media (any-pointer: coarse) {
      html,
      body {
        margin: 0;
        height: 100%;
        overflow: hidden;
      }
    }
  }
}

// Only Orientation lock for mobile devices (vgin)
.orientationLock{
  display: none;
  @media screen and (max-height: 480px) {
    display: block;
  }
}