@use "scss/globalDefines" as defines_global;

.ContactDetailsContainer {
    display: flex;
    background-color: #f1f1f1;
    overflow-x: auto;
    justify-content: center;
    padding: 60px 0;

    @include defines_global.small {
        padding: 2rem 0;
        overflow-x: hidden;
    }
}
