@use "sass:math";

$mobileWidth: 950px;

@function _get-clamp-val($smallest, $largest) {
  $calc: calc(
          #{math.div($smallest, 16)}rem + #{$largest - $smallest} * ((100vw - 375px) / #{768 -
          375})
  );

  @return clamp(
          #{math.div(min($smallest, $largest), 16)}rem,
          #{$calc},
          #{math.div(max($largest, $smallest), 16)}rem
  );
}

@mixin clamp-property($propertyname, $smallest, $largest) {
  $clamped: _get-clamp-val($smallest, $largest);

  & {
    #{$propertyname}: #{math.div($smallest, 16)}rem;
  }

  @media (width >= 768px) {
    #{$propertyname}: #{math.div($largest, 16)}rem;
  }

  @supports (#{$propertyname}: #{$clamped}) {
    #{$propertyname}: #{$clamped};
  }
}

@mixin clamp-font-size($smallest, $largest) {
  @include clamp-property("font-size", $smallest, $largest);
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin mobileOnly {
  @media (width >= 0) and (max-width: #{ $mobileWidth }) {
    @content;
  }
}

@mixin tabletAndAbove {
  @media (min-width: #{ $mobileWidth + 1px }) {
    @content;
  }
}