@function get-clamp-val($smallest, $largest) {
  $calc: calc(
    #{$smallest / 16}rem + #{$largest - $smallest} * ((100vw - 375px) / #{768 -
          375})
  );
  @return clamp(
    #{min($smallest, $largest) / 16}rem,
    #{$calc},
    #{max($largest, $smallest) / 16}rem
  );
}

@mixin clamp-font-size($smallest, $largest) {
  $clamped: get-clamp-val($smallest, $largest);
  & {
    font-size: #{$smallest / 16}rem;

    @media (min-width: 768px) {
      font-size: #{$largest / 16}rem;
    }
  }
  @supports (font-size: #{$clamped}) {
    font-size: #{$clamped};
  }
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
