@use "mixins" as *;

:root {
  --page-bg-color: #e8eaef;
  --main-text-color: #333333;
  --main-bg-color: #ffffff;
  --admin-bg-color: #e8eaef linear-gradient(to bottom, #f5f6f8 0%, #e8eaef 100%);
  --invert-text-color: #ffffff;
  --invert-bg-color: #333333;
  --muted-text-color: #a4aec1;
  --muted-light-text-color: #e8eaef;
  --error-state-color: #d86a66;
  --success-state-color: #94d199;
  --brand-text-color: #236c9e;
  --brand-text-hover-color: #0079cc;
  --brand-bg-color: #236c9e;
  --brand-bg-hover-color: #0079cc;
  --disabled-color: #a4aec1;
  --disabled-contrast-color: #e8eaef;
  --shadow-default: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  --card-bg: #ffffff;
  --card-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  --brand-gradient-start: #236c9e;
  --brand-gradient-end: #0079cc;
  --page-bg-hover: #dee1e8;
  --form-border-default: #e3e6ec;
  --form-border-active: #236c9e;
  --window-side-padding: #{get-clamp-val(16, 40)};
  --scaling-header-padding: #{get-clamp-val(80, 144)};
  --scaling-space-0: 0;
  --scaling-space-1: #{get-clamp-val(16, 24)};
  --scaling-space-2: #{get-clamp-val(24, 40)};
  --scaling-space-3: #{get-clamp-val(40, 80)};
  --scaling-space-4: #{get-clamp-val(80, 120)};
  --fixed-space-0: 0;
  --fixed-space-1: 0.5rem;
  --fixed-space-2: 1rem;
  --fixed-space-3: 1.5rem;
  --fixed-space-4: 2.5rem;
  --fixed-space-5: 5rem;
}
