@use "sass:math";

.text-invert {
  color: var(--invert-text-color);
}

.text-muted {
  color: var(--muted-text-color);
}

.text-muted-light {
  color: var(--muted-light-text-color);
}

.hdg,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
}

.hdg--1,
.wysiwyg h1 {
  font-size: 2.5rem;
  line-height: (48 * 0.025);
  font-weight: 400;
  letter-spacing: -1.25px;
}

.hdg--2,
.wysiwyg h2 {
  font-size: 2rem;
  line-height: math.div(48, 32);
  font-weight: 400;
  letter-spacing: -0.5px;
}

.hdg--3,
.wysiwyg h3 {
  font-size: 1.5rem;
  line-height: (24 * 0.05);
  font-weight: 400;
}

.hdg--4,
.wysiwyg h4 {
  font-size: 1.25rem;
  line-height: (24 * 0.05);
  font-weight: 400;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-thin {
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.text-main {
  color: var(--v2-main-text-color);
}

.text-secondary {
  color: var(--v2-main-gray);
}

.text-brand {
  color: var(--brand-text-color);
}

.text-white {
  color: var(--v2-white);
}

.text-blue {
  color: var(--v2-royal-blue);
}

.text-navyblue {
  color: #002d72;
}

.text-body,
.wysiwyg p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.25px;
}

.text-body--large {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.31px;
}

.text-body--small {
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0;
}

.text-hr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    height: 0;
    border-top: 1px solid var(--border-light);
    flex: 1 0 4rem;
    margin: 0 2.5rem 0 0;
  }

  &::after {
    margin: 0 0 0 2.5rem;
  }

  &--dark::before,
  &--dark::after {
    border-top-color: currentcolor;
  }

  &--short::before,
  &--short::after {
    max-width: 100px;
  }
}

.text-truncate {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

// Small Form Factor Utils
@media (width <= 767px) {
  .sf-text-center {
    text-align: center;
  }

  .sf-hide {
    display: none !important;
  }
}

.wysiwyg {
  > * + * {
    margin-top: var(--fixed-space-3);
  }

  > * + h3 {
    margin-top: var(--fixed-space-4);
  }
}

/* Footer */
.contact-footer {
  height: 174px;
  background: #041d42;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 118px;
}

.npn-text {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400px;
  color: var(--v2-npn-error);
}
