.v2 {
  background: var(--v2-page-bg-color);
  color: var(--v2-main-text-color);
  font-family: Lato, sans-serif;

  .simple-header {
    .logo {
      color: var(--v2-main-text-color);
      width: 172px;
    }

    .ils-logo {
      width: 125px;
    }
  }

  .simple-footer {
    color: var(--v2-main-gray);

    .link {
      color: var(--v2-main-gray);
    }
  }

  .container--size-small {
    background: #f4f8fb;
    color: var(--v2-main-text-color);
    box-sizing: border-box;
    border-radius: 0;
    border-left-style: none;
    border-right-style: none;
    padding: 45px 2rem;
    max-width: 480px;

    @media (width >= 768px) {
      padding: 45px 60px;
      border-radius: 12px;
      border: 2px solid var(--v2-main-border-color);
      border-left-style: solid;
      border-right-style: solid;
      margin-bottom: initial;
    }
  }

  .text {
    &--secondary {
      color: var(--v2-main-gray);
    }

    &-sm {
      letter-spacing: -0.25px;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    &-xl {
      font-size: 1.875rem;
      line-height: 3rem;
    }
  }

  .link {
    color: var(--v2-royal-blue);

    &:hover {
      color: var(--v2-royal-blue);
      text-decoration: underline;
    }

    &--secondary {
      color: var(--v2-main-gray);
    }
  }

  .layout-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  .form {
    &.form-width {
      width: 268px;
    }

    .label {
      font-weight: bold;
      font-size: 16px;
      color: #052A63;
    }

    &-input {
      &__header {
        margin-bottom: 0;
      }

      &__focus-banner {
        position: relative;
        opacity: 1;

        .form-tip {
          background-color: transparent;
          color: var(--v2-main-text-color);
          padding: 1rem 0;
          font-size: 12px;
          line-height: 18px;
        }
      }

      &--readonly {
        &>.form-input__input {
          border-color: var(--v2-disabled-gray-border);

          input {
            background-color: var(--v2-disabled-gray);
            color: var(--v2-disabled-gray-text);
          }
        }
      }

      &__input {
        &-actions button {
          position: absolute;
          top: -2.25rem;
          right: 0;
        }

        .showPassword {
          position: absolute;
          font-weight: 600;
          top: -1.9rem;
          right: 0;
          justify-content: flex-end;
          min-width: 6rem;
          font-size: 14px;
          color: #4178FF;

          svg {
            color: #4178FF;
            margin-right: 0.375rem;
          }
        }
      }
    }
  }

  .auth-notification {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
    background: #f1f8ff;
    border-radius: 2px;

    svg {
      width: 2rem;
      margin: 0.25rem 0.625rem 0 0;
      height: auto;
    }

    a {
      color: var(--v2-royal-blue);
    }
  }

  .form__fields>*+.form__submit {
    margin-top: 2rem;
  }
}

.confirm-notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #f1f8ff;
  border-radius: 2px;

  svg {
    width: 2rem;
    margin: 0.25rem 0.625rem 0 0;
  }

  p {
    font-size: 14px;
  }
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-fill-space {
  flex: 1 0;
}

.font-32 {
  font-size: 32px;
}

.terms-text {
  padding: 10px 0;
}