.container {
  font-size: 14px;
  background-color: white;

  .providerContainer {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid #cdd0d5;

    @media (width <= 768px) {
      flex-direction: column !important;
      padding: 20px !important;
    }
  }

  .rowMobile,
  .row {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid #ddd;
    align-items: center;

    .rowLeft {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 50%;
      word-wrap: break-word;

      .subspecialty {
        color: #717171;
      }

      .name {
        color: #052a63;
        font-size: 20px;
      }

      .phoneNumbers {
        color: #4178ff;
        margin-top: 6px;
      }
    }

    .rowMiddle {
      display: flex;
      gap: 5px;
      width: 50%;
      align-items: center;

      .address {
        color: #717171;
      }
    }

    .rowRight {
      .edit {
        color: #4178ff;
      }
    }
  }

  .rowMobile {
    flex-direction: column;
    align-items: flex-start;

    .rowLeft {
      width: 100%;
    }

    .label {
      color: #717171;
      font-style: italic;
      margin-top: 16px;
    }

    .rowMiddle {
      background-color: #f1faff;
      width: 100%;
      padding: 8px;

      .addresses {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
    }
  }
}
