.container {
    font-size: 14px;
    background-color: white;
    .rowMobile, .row{
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        border-bottom: 1px solid #DDDDDD;
        align-items: center;

        .rowLeft{
            display: flex;
            flex-direction: column;
            gap: 3px;
            width: 50%;
            word-wrap: break-word;

            .subspecialty{
                color: #717171;
            }
            .name{
                color: #052A63;
                font-size: 20px;
            }
            .phoneNumbers{
                color: #4178FF;
                margin-top: 6px;
            }
        }
        .rowMiddle{
            display: flex;
            gap: 5px;
            width: 50%;
            align-items: center;

            .address{
                color: #717171;
            }
        }
        .rowRight{
            .edit{
                color: #4178FF;
            }
        }
    }
    .rowMobile {
        flex-direction: column;
        align-items: flex-start;

        .rowLeft {
            width: 100%;
        }

        .label {
            color: #717171;
            font-style: italic;
            margin-top: 16px;
        }

        .rowMiddle {
            background-color: #F1FAFF;
            width: 100%;
            padding: 8px;

            .addresses {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }
        }
        
    }
}