.modalContentWrapper {
    padding: 0;
}

.filterHeader {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
