.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CDD0D5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 14px 24px;
    .title{
        color: #002D72;
        font-size: 24px;
    }
    .actionTitle{

        .actionIcon{

        }
    }
  }
   
  