@mixin transitionLeft($duration: 1s, $delay: 0) {
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  transition: opacity $duration ease $delay, transform $duration ease $delay;

  &.animate {
    opacity: 1;
    transform: translateZ(0);
  }
}

@mixin transitionRight($duration: 1s, $delay: 0) {
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: opacity $duration ease $delay, transform $duration ease $delay;

  &.animate {
    opacity: 1;
    transform: translateZ(0);
  }
}

@mixin transitionUp($duration: 1s, $delay: 0) {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: opacity $duration ease $delay, transform $duration ease $delay;

  &.animate {
    opacity: 1;
    transform: translateZ(0);
  }
}
