.customTable {
    width: 100%;
    min-width: 768px;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    background: #fff;

    thead {
        position: relative;
        top: 20px;
    }

    // Plan Year column
    thead tr th:first-child {
        width: 10%;
        min-width: 130px;
    }

    // Carrier column
    thead tr th:nth-child(2) {
        width: 25%;
    }

    // Stage column
    thead tr th:nth-child(3) {
        width: 20%;
    }

    // Product
    thead tr th:nth-child(4) {
        width: 20%;
    }

    // Product ID column
    thead tr th:nth-child(5) {
        width: 10%;
    }

    // Date added column
    thead tr th:nth-child(6) {
        width: 10%;
    }

    // Action column
    thead tr th:nth-child(7) {
        width: 10%;
    }

    tbody tr:first-child td:first-child {
        border-top-left-radius: 8px;
    }

    tbody tr:first-child td:last-child {
        border-top-right-radius: 8px;
    }
}