.contact-edit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  .scroll-nav {
    position: sticky;
  }

  .details-container {
    flex-grow: 3;
    width: 100%;
  }

  .deletecontactsection {
    display: none;
  }
}
