.plan-card-buttons {
  margin: 0px -18px !important;
  .footer {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    @media (max-width: 480px) {
      background: #f8fafc;
    }
    button {
      width: calc(50% - 8px);
    }
  }
}

.plan-card {
  font-family: Lato;
  font-style: normal;
  border: 1px solid #cbd5e1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 32px;
  background: var(--v2-white);
  @media (max-width: 480px) {
    margin: 0px 20px 0px 20px;
    padding: 9px;
    width: auto !important;
  }
  &.mobile {
    padding: 23px 23px 0px 23px;
  }
  &.no-plan-results {
    padding: 80px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    .plan-name {
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #002d72;
    }

    .hide-desktop {
      display: none;
      @media (max-width: 480px) {
        display: flex;
        justify-content: flex-start;
      }
    }

    .plan-logo {
      margin-top: 6px;

      > img {
        max-height: 56px;
        max-width: 116px;
        @media (max-width: 480px) {
          max-width: 80px;
        }
      }
    }

    .monthly-cost {
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;

      .label {
        display: inline;
        font-size: 16px;
      }
    }

    &.mobile {
      flex-direction: column;

      .plan-logo {
        order: 1;
        margin-bottom: 8px;
      }
      .plan-name {
        order: 2;
      }
    }
  }

  .sub-header {
    display: flex;
    margin-top: 5px;
    margin-bottom: 16px;
    .cr-name-mbl {
      @media (max-width: 480px) {
        display: none;
      }
    }
    .carrier-name {
      font-weight: bold;
      font-size: 16px;
      line-height: 130%;
      color: #2b323b;
      padding-right: 16px;
      border-right: 1px solid #cbd5e1;
    }

    .rating-container {
      padding-left: 16px;
      @media (max-width: 480px) {
        padding-left: 0px;
      }
    }
    &.mobile {
      flex-direction: column;
      margin-top: 12px;
      .carrier-name {
        border-right: none;
      }
      .rating-container {
        padding-left: 0px;
        margin-top: 12px;
      }
    }
  }

  .premiums {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px 24px 24px;
    background: #f2f9ff;
    margin-bottom: 24px;
    @media (max-width: 480px) {
      align-items: initial;
    }

    .monthly {
      display: flex;
      flex-direction: column;
      min-width: 170px;
      

      .label {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 3px;
        color: #515e6f;
      }

      .currency {
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
      }
    }

    .costs-breakdown {
      font-family: Lato;
      font-style: normal;
      width: 100%;
      font-weight: normal;
      border-left: 1px solid #cbd5e1;
      padding-left: 24px;

      .cost-row {
        margin-bottom: 16px;
        > div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .label {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            white-space: nowrap;
            @media (max-width: 480px) {
              font-size: 20px;
            }
          }
          .filler {
            border-bottom: dashed #94a3b8;
            border-width: 2px;
            width: 100%;
            margin: 0 8px;
          }
          .currency {
            font-weight: bold;
            font-size: 18px;
            line-height: 130%;
          }
        }
        .subtext {
          margin-top: 3px;
          font-style: italic;
          font-size: 12px;
          line-height: 130%;
        }
      }
    }

    &.mobile {
      flex-direction: column;
      padding: 24px 16px 24px 24px;

      .monthly {
        flex-direction: row;
        cursor: pointer;

        .label {
          margin-top: 1rem;
          @media (max-width: 480px) {
            margin-top: 8px;
            font-size: 20px;
          }

          svg {
            vertical-align: middle;
          }
          .mnth-mbl {
            @media (max-width: 480px) {
              margin-left: 4px;
            }
          }
        }
      }

      .costs-breakdown {
        border: none;
        margin-top: 10px;
        padding-left: 0;

        &.collapsed {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease-out;
        }

        &:not(.collapsed) {
          max-height: 30em;
          overflow: hidden;
          transition: max-height 0.5s ease-out;
        }

        .cost-row > div {
          .currency,
          .label {
            font-size: 14px;
          }
        }
      }
    }
  }

  .mob-show {
    display: none;
    @media (max-width: 480px) {
      display: initial !important;
    }
  }

  .in-network {
    @media (max-width: 480px) {
      display: none;
    }
    border-top: 1px solid #cbd5e1;

    .label {
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #656565;
      margin-bottom: 16px;
    }
    &.mobile {
      .items .network-item {
        margin-bottom: 16px;
      }
    }

    .items {
      display: flex;
      max-width: 832px;
      flex-wrap: wrap;
      margin-top: 16px;
      .network-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 44px;
        width: 150px;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;

        margin-right: 19px;
        margin-bottom: 24px;

        .netIcon {
          padding: 9px 7px;
        }

        .text {
          margin-top: 6px;
          margin-left: 4px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: #000000;
          .name,
          .address {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .address {
            color: #434a51;
            font-weight: 400;
          }
        }
      }
    }
  }

  .overview-footer {
    justify-content: flex-end !important;
  }

  .footer {
    border-top: 1px solid #cbd5e1;
    margin: 0 -30px;
    display: flex;
    font-weight: bold;
    padding-right: 32px;
    padding-top: 16px;
    padding-left: 16px;
    justify-content: space-between;

    .plan-btn-container {
      display: flex;
      @media (max-width: 480px) {
        justify-content: space-around;
        width: 100%;
      }
    }

    .button {
      margin-left: 16px;
      @media (max-width: 480px) {
        margin-left: 0px;
        min-width: 152px;
        min-height: 48px;
      }
      @media (max-width: 375px) {
        min-width: 114px;
      }
    }

    &.mobile {
      margin: 0 -23px;
      padding-right: 0px;
      padding-top: 0px;
      padding-left: 0px;
      background: #f2f9ff;
      height: 76px;
      align-items: center;
      padding: 17px 23px;
      border-radius: 0px 0px 8px 8px;
      @media (max-width: 480px) {
        background-color: initial;
        border-top: none;
        margin: 0px;
        padding: 0px;
      }
      .monthly-cost {
        display: flex;
        align-items: center;
        width: 100%;
        & > div {
          width: 50%;
        }
        .currency {
          font-size: 32px;
          font-weight: 600;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: left;
        }
        .label {
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.plan-card-compact .footer {
    border: none;
  }

  .cmp-chk-mbl {
    @media (max-width: 480px) {
      display: none !important;
    }
  }

  .compare-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    @media (max-width: 480px) {
      margin-left: 0px;
      margin-bottom: 15px;
    }

    .compare-inpt {
      margin-top: 2px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .compare-txt {
      margin-left: 5px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #64748b;
    }
  }
}

.coverage {
  border-top: 1px solid #cbd5e1;
  margin-bottom: 16px;
  font-size: 16px;
  .label {
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .list {
    color: #434a51;
    font-size: 16px;
    font-weight: 500;
  }
}


.plan-monthly-costs{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rx-drug{
  margin-top: 50px;
}