@use "scss/globalDefines" as defines_global;

.channelReasons {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    line-height: 32px;

    @include defines_global.small {
        flex-direction: column;
    }

    @include defines_global.medium {
        flex-direction: column;
    }
}

.optionText {
    color: #052a63;
}

.bigOption {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    border-bottom: 1px solid rgb(0 0 0 / 23%);
    cursor: pointer;
    min-width: 15%;

    svg {
        margin-left: auto;
    }

    @include defines_global.small {
        width: 100%;
    }
}

.bigOptionLink {
    color: #4178ff;
    font-size: 24px !important;
    margin-right: 16px;
    line-height: 32px !important;

    @include defines_global.small {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.optionItem {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    cursor: pointer;

    &:hover {
        background-color: #f1faff;

        .optionLinkText {
            font-weight: 700 !important;
        }
    }
}

.optionLinkText {
    color: #052a63;
    font-size: 16px !important;
    margin-left: 20px;
    font-weight: 400 !important;
}

.popper {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    width: 250px;
    margin-top: 10px;
}

.divider {
    border-bottom: 1px solid #f6f6f6;
}

.optionTextGrey {
    color: #717171;
    font-size: 24px !important;
    margin-left: 20px;
    text-align: center;
}

.emailOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.disabled {
    p {
        color: #00000061;
    }

    border-bottom: unset;
    cursor: default;
}

.open {
    border-bottom: 1px solid #4178ff;
}
