.popper {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.divider {
    border-bottom: 1px solid #f6f6f6;
}

.optionItem {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    cursor: pointer;
    &:hover {
        background-color: #f1faff;
    }
}
