.popper {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    margin-top: 10px;
}

.divider {
    border-bottom: 1px solid #f6f6f6;
}

.optionItem {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    cursor: pointer;

    &:hover {
        background-color: #f1faff;
    }
}
