.details {
  .content {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 16px;

    .title {
      color: #717171;
      font-size: 14px;
      margin-bottom: 4px;
    }

    .name {
      color: #000;
      font-size: 16px;
    }

    .link {
      color: #0052ce;
      font-size: 16px;
    }

    .county {
      color: #717171;
      font-size: 16px;
      margin-top: 10px;
    }

    .starIcon {
      float: right;
    }
  }
}
