.details {
    background-color: #fff;
    border-radius: 8px;

    .content {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #cdd0d5;
        font-size: 16px;
        margin-bottom: 15px;

        .title {
            color: #052a63;
            font-weight: bold;
        }

        .name {
            color: #4178ff;
            padding: 5px;
            padding-left: 15px;
            font-weight: 600;
        }

        .npn,
        .caLicense {
            color: grey;
            padding: 5px;
            padding-left: 15px;
            font-weight: 600;
        }

        .caLicenseEmpty {
            padding: 15px;
        }

        .email {
            padding: 5px;
            color: #4178ff;
            padding-left: 15px;
            font-weight: 600;
            word-break: break-all;
        }

        .phone {
            font-weight: 600;
            padding: 5px;
            padding-left: 15px;
        }
    }
}