.showMoreRow {
    background-color: #fff;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.showMoreLink {
    color: #4178ff;
    cursor: pointer;
    font-weight: 600;
}

.showMoreCard {
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
}