.title {
    color: #052A63;
    font-size: 16px;
    font-weight: bold;
}

.input {
    padding: 10px 16px 10px 16px;
    width: 108px;
    height: 40px;
    border-radius: 4px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #cccccc;
    color: #ffffff;
    font-size: 16px;
    color: #051d43;
    font-weight: 500;
    margin-bottom: 16px;
}

.error {
    color: #FF0000;
    font-size: 14px;
    margin-bottom: 8px;
}