@import "../../styles/global";

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}

.listItem {
  @include transitionUp;

  opacity: 0;

  &.animate {
    opacity: 1;
    transform: translateZ(0);
  }
}
