.policySnapshotContainer {
  display: flex;
  flex-direction: column;

  .countCardsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.enrollmentPlanContainer_dashboard {
  margin-top: 10rem;
  margin-bottom: 3rem;

  @include small {
    margin-top: 1rem;
    top: 0;
  }
}

.infoIcon {
  cursor: pointer;
}