.policySnapshotContainer {
  display: flex;
  flex-direction: column;

  .countCardsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.enrollmentPlanContainer_dashboard {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.infoIcon{
  cursor: pointer;
}