@import "../../styles/global";

.image {
  position: absolute;
  width: 100%;
}

.mobile {
  position: relative;
}

.website {
  position: absolute;
  padding-right: 14%;
  padding-left: 14%;
  margin-top: 8.65%;
  width: 100%;
}
