@import "../../../scss/globalDefines";

.campaignListContainer {
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
}

.title {
    color: #052a63;
}

.body {
    color: #434a51;
}
